# 1. 논리연산

- 휴면고객에 대한 데이터를 받아서 가망고객 리스트 만들기

휴면고객 100,000명(DB) ->  
1차: 20~40대 먼저 거르면 -> 4만명(-6만명) ->  
2차: 10만원 이하를 사용한 고객 거르면 -> 2만명(-2만명) ->  
3차: 3번 이하로 구매한 고객 -> 1만명(-1만명)  
----> 1만명에 대해서만  

위와 같이 **가장 많이 걸러지는 조건을 맨 앞**에다 두어야 리소스를 줄일 수 있다.

In [4]:
# 예시
# test1이 False이기 때문에 test2는 아예 호출되지 않는다.

def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.

result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [6]:
# 퀴즈 4번
0 and 1

0

# 2. 할당연산

In [18]:
x = 5
y = 2
z = 10

x1 = y * z  # 20 = 2 * 10
x2 = x + (y * z)  # 25 = 5 + (2*10)
x += y * z  # y*z 연산 후 x에 값을 더한 뒤에 할당한다.
print(x1)
print(x2)
print(x)  # 결과: 25

20
25
25

In [19]:
x += y * z
print(x)
# 위에서 x는 25값으로 반환되었기 때문에,
# y*z = 20, x+20 = 45

45

# 3. 식별연산
식별 연산자는 두 변수가 동일한 객체를 참조하고 있는지 확인하는데 사용됩니다. 파이썬에서는 `is`와 `is not`을 사용하여 이를 확인할 수 있습니다.
- is  
두 변수가 같은 곳에 저장된 정보를 바라보고 있다면 ‘맞다’`(True)`를 알려줍니다. 다른 곳을 바라보고 있다면 ‘아니다’`(False)`를 알려줍니다.
- is not  
두 변수가 같은 곳에 저장된 정보를 바라보고 있다면 '아니다`(False)`'를 알려줍니다. 다른 곳을 바라보고 있다면 '맞다`(True)`'를 알려줍니다.

In [23]:
# 3.1 동일 인물 확인

coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [24]:
print(id(coffee_employee))
print(id(orange_employee))

134761658015536
134761658015536

-5부터 256까지는 같은 주소, 그 범위 밖은 주소가 달라진다.

In [21]:
coffee_employee = 257
orange_employee = 257

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

문자열은 공백을 주의하면 된다.

In [22]:
coffee_employee = " Brand"
orange_employee = " Brand"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

`is`는 `id`를 기준으로 값을 찾는것,  
`==`는 `값`을 기준으로 값을 찾는것이다.

In [25]:
# 3.2 예시

a = [1, 2, 3]
b = [1, 2, 3]
c = a  # a에 있는 것을 재할당

In [26]:
print(a, b, c)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [27]:
print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [30]:
print(id(a), id(b), id(c), sep=" / ")
# a와 c는 같은 id값, b는 다른 id값이 나온다.

134762050765888 / 134762052887168 / 134762050765888

리스트와 같은 배열들은 문자열과는 다르게 생성할 때마다 새로운 주소에 담는다.

# 4. 멤버연산
멤버 연산은 어떤 값이 목록 안에 있는지 확인해주는 기능입니다. `in`과 `not in` 두 가지 방법으로 확인할 수 있습니다.
- in  
값이 목록 안에 있으면 참`(True)`이에요.
- not in  
값이 목록 안에 없으면 참`(True)`이에요.

In [33]:
# 기본 예시

a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False

True
True
False

In [35]:
a_1 = [1, [2], 3, 4]
# 리스트 안에 있는 값은 정수형 1, 3, 4 / 리스트형 [2]
print([2] in a_1) # 출력: True

True

자료형태를 잘 파악해서 `in`을 사용해야 한다.

In [36]:
# 문자열은 '공백' 주의!
print('hello' in c) # True
print(' hello' in c) # False

True
False

In [31]:
fruits = ["귤", "딸기", "거봉"]

print("거봉" in fruits)
print("산딸기" in fruits)

True
False

# 5. 연산자 우선순위

In [37]:
-2 ** 2 # 출력: -4, -(2 ** 2)

-4

In [38]:
# 해결
(-2) ** 2

4

In [39]:
True * True and True + False
# 출력: 1 , ((True * True) and (True + False))

1

In [40]:
# 복합 할당 연산자가 가장 나중입니다!
a = 10
a *= 10 + 100
a # 출력: 1100

1100

# 6. 연습문제

## 1번
실행값 예상
```
a = 100
(a > 100) and (a < 200)
(a > 100) or (a < 200)
(a >= 100) and (a <= 200)
(a >= 100) or (a <= 200)
```

In [49]:
# False
# True
# True
# True

# 1번부터 차례대로
# F and T, F or T, T and T, T or T 이기 때문이다.

In [51]:
# 확인
a = 100
print((a > 100) and (a < 200))
print((a > 100) or (a < 200))
print((a >= 100) and (a <= 200))
print((a >= 100) or (a <= 200))

False
True
True
True

## 2번
```
b = 25
(b % 2 == 0) and (b % 5 == 0)
```

In [53]:
# (1 == 0) and (0 == 0)
# False and True 이기 때문에
# False

In [55]:
# 확인
b = 25
(b % 2 == 0) and (b % 5 == 0)

False

## 3번
변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요.
```
c = 1000
# 결과값은 10입니다.
```

In [57]:
c = 1000
result = c // 100
print(f"결과값은 {result}입니다.")

결과값은 10입니다.

## 4번
(심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.

In [60]:
# 중간에 엉켜서 결국 답안을 참고했다...ㅎㅎ

money = int(input("금액을 입력해주세요: "))

result_5000 = money // 5000
money -= result_5000 * 5000

result_1000 = money // 1000
money -= result_1000 * 1000

result_500 = money // 500
money -= result_500 * 500

result_100 = money // 100
money -= result_100 * 100

print(f"5000원권 {result_5000}장,\
 1000원권 {result_1000}장,\
 500원 {result_500}개, 100원 {result_100}개입니다~")

금액을 입력해주세요: 6700
5000원권 1장, 1000원권 1장, 500원 1개, 100원 2개입니다~

문제 코딩을 하는것도 중요하지만,  
`결과값을 사용자에게 어떤식으로 표현할것인가?` 도 중요한 부분이라 생각하신다 함.

## 5번(실습 2)

In [62]:
# 제품의 원가와 할인율 입력 받기

original_price = float(input("원가를 입력하세요: "))
discount_rate = float(input("할인율을 입력하세요: "))

원가를 입력하세요: 20000
할인율을 입력하세요: 10

In [63]:
# 할인된 가격 계산
discounted_price = original_price - \
(original_price * discount_rate / 100)

In [65]:
# 결과 출력
print(f"할인된 가격은 {int(discounted_price)}원 입니다.")

할인된 가격은 18000원 입니다.

## 7번(실습 3)
1. 사용자 입력 받기:
input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.  
2. 문자열을 숫자로 변환:
입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.  
3. 산술 연산 수행:
변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.  
4. 문자열 길이 계산:
len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.  
5. 성인 여부 판단:
나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)  
6. 결과 출력:
계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [81]:
# 1,2단계
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))

이름을 입력하세요: 남궁 꺽정
나이를 입력하세요: 5

In [82]:
# 3, 4, 5단계
age += 1
name_len = len(name.replace(" ", "")) # 이름 공백 제거해줌
adult = bool(age >= 18)

In [84]:
# 6단계 출력
print(f"나이는 {age}살, 이름은 {name_len}자,\
 성인 여부는 {adult}입니다.")

나이는 6살, 이름은 4자, 성인 여부는 False입니다.

# 개인 test

In [41]:
# 계산식으로 표현된 정수형 값도 동일값으로 처리되는지

test1 = [1, 2, 3]
print((1+2) in test1)

True

In [47]:
# 리스트를 재할당했을때 id값이 같다고 판단되는지

test2 = test1
print(test2[0] is test1[0])
print(id(test2[0]), id(test1[0]))

True
134762430660848 134762430660848