# 1. 산술연산자
- 덧셈 `+`
- 뺄셈 `-`
- 곱셈 `*`
- 나눗셈 `/`, `//`
- 나머지 `%`
- 제곱 `**`

- 서로 다른 자료형끼리의 덧셈은 불가능.  
(ex: int + str)
- 리스트 + 튜플 처럼 문자열끼리의 덧셈은 가능하다.
- set은 덧셈은 안되지만 뺄셈은 가능.

In [7]:
# 1.1 나누기

a = 10
b = 2
print(a / b)  # 무조건 float값으로 반환됨
print(a // b)  # int값으로 반환됨 # 내림연산

5.0
5

In [4]:
a = 10
b = 3
divide = a / b
# 소수점 둘째자리까지 표현하고 싶을때
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [5]:
print(divide)

3.3333333333333335

In [8]:
# 1.2 나머지

print(10 / 3)  # 소수 몫
print(10 // 3)  # 정수 몫
print(10 % 3)  # 나머지

3.3333333333333335
3
1

알고리즘 문제에서 나머지 `%` 문제 많이 나온다고 하심~!

In [11]:
# 1.3 제곱

# 음수를 제곱해도 답이 음수로 반환됨.
print(-2 ** 2)
# (괄호)로 묶어줘야함
print((-2) ** 2)

-4
4

**파이썬은 후위 전/연산자가 없다...!**

# 2. 비교연산자
- 같음 `==`
- 같지않음 `!=`
- 작음 `<`, 큼 `>`
- 같거나 작음 `<=`, 같거나 큼 `>=`

숫자뿐만 아니라 문자열, 리스트, 튜플 등등도 비교할 수 있다. 유니코드 값으로 비교함.

In [14]:
# 연속적인 비교

x = 10
print(5 < x < 15)

True

리스트는 맨 앞자리로 비교.  
같은 시퀀스형 자료형이라도 타입이 다르면 비교할 수 없다.  
ex) `[1, 2, 3] > (4, 5, 6)`

In [17]:
# 부동소숫점의 비교

import math

result = 0.1 + 0.2
print(result)

0.30000000000000004

In [18]:
print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

False
True
False
False
False