<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exersice/240131_python_231_240.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 231
아래 코드를 실행한 결과를 예상하라.
```
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
```

In [1]:
# 에러. result는 함수 안의 변수이기 때문에.
# return값을 따로 지정해줘야한다.

# 232
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
www.naver.com
```

In [3]:
def make_url(data):
    return f"www.{data}.com"

In [4]:
make_url("naver")

'www.naver.com'

# 233
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
```
make_list("abcd")
['a', 'b', 'c', 'd']
```

In [5]:
# 문자열을 리스트에 저장하면 자동으로 분리되지 않나?
def make_list(string) -> list:
    return list(string)

In [6]:
make_list("abcd")

['a', 'b', 'c', 'd']

# 234
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.
```
pickup_even([3, 4, 5, 6, 7, 8])
[4, 6, 8]
```

In [7]:
def pickup_even(data) -> list:
    return [num for num in data if num % 2 == 0]

In [8]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

# 235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
```
convert_int("1,234,567")
1234567
```

In [11]:
def convert_int(data) -> int:
    return int(data.replace(",",""))

In [12]:
convert_int("1,234,567")

1234567

# 236
아래 코드의 실행 결과를 예측하라.
```
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [13]:
# a = 14
# b = 14+4 = 18
# c = 18+4 = 22
# 그러므로 22 출력됨.

# 237
아래 코드의 실행 결과를 예측하라.
```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [14]:
# 함수 총 3번나왔으니까 3*4 = 12
# 10+12 = 22

# 238
아래 코드의 실행 결과를 예측하라.
```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [15]:
# a = 14
# c = 14*10 = 140
# print(c)니까 140이 출력된다.

# 239
아래 코드의 실행 결과를 예측하라.
```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [16]:
# 함수2(num)에 10을 넣었을때,
# 10+2 = 12, 함수1(12)
# 12+4 = 16
# 출력되는 값은 16이다.

# 240
아래 코드의 실행 결과를 예측하라.
```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [17]:
# 함수2(2) => 2+10 => 함수1(12)
# 함수1(12) => 함수0(12+2)
# 함수0(14) => 14 * 2 = 28
# 출력되는 값은 28이다.