# 1번
```
다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
1.1 'hello' and 1
1.2 10 or 'hello world'
```

In [1]:
'hello' and 1
# 답: 1
# A and B 일때 B까지 참이어야 True이기 때문에, B를 실행한 뒤 출력

1

In [2]:
10 or 'hello world'
# 답: 10
# A or B 일때 A만 참이어도 True이기 때문에, B는 실행하지 않고 A만 실행한 뒤 출력

10

# 2번
```
아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요.
없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}
```

In [3]:
d = {'one': 1, 'two': 2}
d.get('three', '3')

'3'

# 3번
```
다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]
```

In [4]:
l = [1, [10, 20], [3, [100, 200], 5]]
print(l[2][1][0])
# 2번 인덱스 => 1번 인덱스 => 0번 인덱스 순으로 지정해준다.

100

# 4번
```
아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]
```

In [5]:
l = [[1, 2], [3, 4]]
ll = sum(l, [])
sum(ll)

10

# 5번
```
(난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [6]:
def f(x):
    return x % 2 == 0

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ll = list(filter(f, l))
sum(ll)

30