# 1번
```
다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)
```

In [1]:
# I
# love
# python

# 2번
```
함수를 이용하여 계산기 프로그램을 만들어주세요.
def plus(num1, num2):
	#이곳을 채워주세요

def minus(num1, num2):
	#이곳을 채워주세요

def multiply(num1, num2):
	#이곳을 채워주세요

def divide(num1, num2):
	#이곳을 채워주세요

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')
```

In [2]:
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

# 3번
```
2번의 해답을 이용하여 a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요. 아래와 같은 값이 있다면 (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.
a = 2
b = 3
# 이 부분에 코드를 작성해주세요.
```

In [7]:
a = 2
b = 3
# 이 부분에 코드를 작성해주세요.
def x(num1, num2):
    return (num1 + num2) * (num1 - num2)
print(x(a, b))

-5

# 4번
```
x의 n제곱을 구하는 함수를 만들어주세요.
재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)
```

In [61]:
# 재귀함수: 함수 내에서 함수 자신을 다시 호출하는 함수

def function_4(x, n): # 파라미터 x, n
    if x > 1 and n > 1: # 만약 x와 n 모두 1보다 크다면
        return x * function_4(x, n-1)
        # 함수를 n-1로 재호출해서 최종적으로 ((1*x)*x)*x... 이런식으로 쌓여지게끔
    elif x <=0 or n < 1: # 범위 밖의 값을 입력한경우
        return "error" # 에러메시지 반환
    else: # 만약 조건에 불만족하거나 n-1 <= 1이 될 경우에
        return x
        # x를 반환한다. 지정해주지 않으면 n-1이 음수까지 넘어가게 됨.

print(function_4(3, 3))
print(function_4(2, 5))
print(function_4(-3, 2))
print(function_4(2, 1))
print(function_4(2, 0))

27
32
error
2
error

# 5번
```
이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
```

In [17]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

data = str(data) # find함수는 문자열에서만 가능하기 때문에 str로 변환
result = data.find("licat") # licat에 해당하는 인덱스를 찾아준다
print(data[result: result + 5]) # 해당 인덱스부터 icat(4글자)까지 출력

licat

# 6번
```
다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아,
해당 문자열이 앞으로 읽으나 뒤로 읽으나 같은 단어이면 True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    pass
```

In [22]:
def is_palindrome(s):
    s = s.lower() # 대소문자 차이로 인한 오답 예방
    if s == s[::-1]:
        return True
    else:
        return False

print(is_palindrome('기러기'))
print(is_palindrome('woW'))
print(is_palindrome('you'))

True
True
False

# 7번
```
리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
# code
print(numbers)  # 결과: [3, 5, 7, 9]
```

In [23]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x : x % 2 == 1, numbers))
# numbers 리스트에 한해서 x를 2로 나눈 나머지가 1인 경우(홀수)만 반환함
print(result)

[3, 5, 7, 9]