# 31번
```
문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)
```

In [ ]:
# 예상 답안: "34"
# 문자열 + 문자열이기 때문에 단순히 이어붙이는 형식으로 출력된다.

# 32번
```
문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)
```

In [ ]:
# 예상 답안: HiHiHi

# 33번
```
화면에 '-'를 80개 출력하세요.

실행 예:
--------------------------------------------------------------------------------
```

In [ ]:
print("-" * 80)

--------------------------------------------------------------------------------

# 34번
```
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java
```

In [ ]:
t1 = "python"
t2 = "java"
result = t1 + " " + t2 + " "
print(result * 4)

python java python java python java python java

# 35번, 36번, 37번
```
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
```

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [ ]:
# 기억 잘 안남
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

36번  
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

37번  
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 38번
```
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
```

In [ ]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(",", "")))
print(type(int(상장주식수.replace(",", ""))))

5969782550
<class 'int'>

# 39번
```
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
```

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

# 40번
```
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
```

In [ ]:
data = "   삼성전자    "
data.strip()

'삼성전자'