<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240121_python_131_160.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 131
for문의 실행결과를 예측하라.
```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
```

In [1]:
# "사과"
# "귤"
# "수박"

# 132
for문의 실행결과를 예측하라.
```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```

In [2]:
# 변수의 갯수가 총 3개이므로 print문안의 문자열이 3번 출력된다.

# 133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.
```
for 변수 in ["A", "B", "C"]:
  print(변수)
```

In [4]:
a, b, c = ["A", "B", "C"]
print(a)
print(b)
print(c)

A
B
C

# 134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.
```
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
```

In [5]:
print("출력: ", "A")
print("출력: ", "B")
print("출력: ", "C")

출력:  A
출력:  B
출력:  C

# 135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
```
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
```

In [6]:
print("변환: ", "A".lower())
print("변환: ", "B".lower())
print("변환: ", "B".lower())

변환:  a
변환:  b
변환:  b

# 136
다음 코드를 for문으로 작성하라.
```
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

In [7]:
for i in range(10, 31, 10):
    print(i)

10
20
30

# 137
다음 코드를 for문으로 작성하라.
```
print(10)
print(20)
print(30)
```

In [8]:
# 136번과 같음.

# 138
다음 코드를 for문으로 작성하라.
```
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
```

In [9]:
for i in range(10, 31, 10):
    print(i, "-------", sep="\n")

10
-------
20
-------
30
-------

# 139
다음 코드를 for문으로 작성하라.
```
print("++++")
print(10)
print(20)
print(30)
```

In [10]:
print("++++")
for i in range(10, 31, 10):
    print(i)

++++
10
20
30

# 140
다음 코드를 for문으로 작성하라.
```
print("-------")
print("-------")
print("-------")
print("-------")
```

In [11]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

---

# 141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
```
리스트 = [100, 200, 300]
110
210
310
```

In [12]:
리스트 = [100, 200, 300]
부가세 = 10
for i in 리스트:
    print(i + 부가세)

110
210
310

# 142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```
리스트 = ["김밥", "라면", "튀김"]
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [13]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print(f"오늘의 메뉴: {i}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

# 143
리스트에 주식 종목이름이 저장돼 있다.
```
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```
저장된 문자열의 길이를 다음과 같이 출력하라.
```
6
4
4
```

In [16]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

# 144
리스트에는 동물이름이 문자열로 저장돼 있다.
```
리스트 = ['dog', 'cat', 'parrot']
```
동물 이름과 글자수를 다음과 같이 출력하라.
```
dog 3
cat 3
parrot 6
```

In [17]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

# 145
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

In [18]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

# 146
리스트에는 세 개의 숫자가 바인딩돼 있다.
```
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```
3 x 1
3 x 2
3 x 3
```

In [20]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(3, "x", i)

3 x 1
3 x 2
3 x 3

# 147
for문을 사용해서 다음과 같이 출력하라.
```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [21]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

# 148
리스트에는 네 개의 문자열이 바인딩돼 있다.
```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
나
다
라
```

In [22]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

# 149
for문을 사용해서 다음과 같이 출력하라.
```
가
다
```

In [23]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

# 150
리스트에는 네 개의 문자열이 바인딩돼 있다.
```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
라
다
나
가
```

In [24]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

---

# 151
리스트에는 네 개의 정수가 저장돼 있다.
```
리스트 = [3, -20, -3, 44]
```
for문을 사용해서 리스트의 음수를 출력하라.
```
-20
-3
```

In [25]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

# 152
for문을 사용해서 3의 배수만을 출력하라.
```
리스트 = [3, 100, 23, 44]
3
```

In [33]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

# 153
리스트에서 20 보다 작은 3의 배수를 출력하라
```
리스트 = [13, 21, 12, 14, 30, 18]
12
18
```

In [34]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

# 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라
```
리스트 = ["I", "study", "python", "language", "!"]
study
python
language
```

In [35]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

# 155
리스트에서 대문자만 화면에 출력하라.
```
리스트 = ["A", "b", "c", "D"]
A
D
```

In [36]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

# 156
리스트에서 소문자만 화면에 출력하라.
```
리스트 = ["A", "b", "c", "D"]
b
c
```

In [37]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

# 157
이름의 첫 글자를 대문자로 변경해서 출력하라.
```
리스트 = ['dog', 'cat', 'parrot']
Dog
Cat
Parrot
```

In [39]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

# 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)
```
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
hello
ex01
intro
```

In [40]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split(".")[0])

hello
ex01
intro

# 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.
```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
define.h
```

In [41]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split(".")[1] == "h":
        print(i)

intra.h
define.h

# 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.
```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
intra.c
define.h
```

In [45]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    확장자 = i.split(".")[1]
    if 확장자 == "h" or 확장자 == "c" :
        print(i)

intra.h
intra.c
define.h