<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240129_Programmers_Lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

모든 저작권은 프로그래머스에 있습니다.
https://school.programmers.co.kr/learn/challenges?order=recent&levels=0&languages=python3

### midpoint 1

#### 대소문자 바꿔서 출력하기
```
영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.
```

In [ ]:
r = ""
for i in input():
    if i.islower():
        r += i.upper()
    else:
        r += i.lower()
print(r)

aBcDeFg
AbCdEfG

#### 덧셈식 출력하기
```
두 정수 a, b가 주어질 때 다음과 같은 형태의 계산식을 출력하는 코드를 작성해 보세요.
a + b = c
```

In [ ]:
a, b = map(int, input().strip().split(' '))
print(f'{a} + {b} = {a+b}')

4 5
4 + 5 = 9

#### 문자열 붙여서 출력하기
```
두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.
```

In [ ]:
str1, str2 = input().split()
print(str1 + str2)

right away
rightaway

#### 문자열 돌리기
```
문자열 str이 주어집니다.
문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.
```

In [ ]:
s = input()
for i in s:
    print(i)

rock
r
o
c
k

In [ ]:
# 기막히고 코막힌 답안
print('\n'.join(input()))

rock
r
o
c
k

#### 홀짝 구분하기
```
자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.
```

In [ ]:
n = int(input())
print(f'{n} is even' if n%2==0 else f'{n} is odd')

32
32 is even

#### 문자열 겹쳐쓰기
```
문자열 my_string, overwrite_string과 정수 s가 주어집니다.
문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.
```
```
<조건>
1 ≤ overwrite_string의 길이 ≤ my_string의 길이 ≤ 1,000
0 ≤ s ≤ my_string의 길이 - overwrite_string의 길이
```

In [ ]:
def solution(my_string, overwrite_string, s):
    n = len(overwrite_string)
    answer = my_string[:s] + overwrite_string + my_string[s+n:]
    return answer

In [ ]:
solution("He11oWor1d", "lloWorl", 2)

'HelloWorld'

#### 문자열 섞기
```
길이가 같은 두 문자열 str1과 str2가 주어집니다.

두 문자열의 각 문자가 앞에서부터 서로 번갈아가면서 한 번씩 등장하는 문자열을 만들어 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(str1, str2):
    answer = ''
    for i in range(len(str1)):
        answer += str1[i] + str2[i]
    return answer

In [ ]:
solution("aaaaa", "bbbbb")

'ababababab'

#### 문자 리스트를 문자열로 변환하기
```
문자들이 담겨있는 배열 arr가 주어집니다. arr의 원소들을 순서대로 이어 붙인 문자열을 return 하는 solution함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    return ''.join(arr)

In [ ]:
solution(["a","b","c"])

'abc'

#### 문자열 곱하기
```
문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, k):
    answer = (my_string*k).strip()
    return answer

In [ ]:
solution("onepiece", 2)

'onepieceonepiece'

#### 더 크게 합치기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    sum_ba = int(str(b)+str(a))
    return sum_ab if sum_ab == sum_ba else max(sum_ab, sum_ba)

In [ ]:
solution(9, 91)

991

### midpoint 2 (240208)

#### 두 수의 연산값 비교하기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 2 * a * b 중 더 큰 값을 return하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 2 * a * b가 같으면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    return sum_ab if sum_ab == (2*a*b) else max(sum_ab, (2*a*b))

In [ ]:
solution(12, 3)

123

#### n의 배수
```
정수 num과 n이 매개 변수로 주어질 때, num이 n의 배수이면 1을 return n의 배수가 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num, n):
    return 1 if num%n==0 else 0

In [ ]:
solution(10, 5)

1

#### 공배수
```
정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(number, n, m):
    return 1 if number % n == 0 and number % m == 0 else 0

In [ ]:
solution(15, 3, 5)

1

#### 홀짝에 따라 다른 값 반환하기
```
양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고
n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성해 주세요.

```

In [ ]:
def solution(n):
    if n % 2 != 0:
        return sum(i for i in range(1, n+1, 2))
    else:
        return sum(i*i for i in range(2, n+1, 2))

#### 조건 문자열
```
문자열에 따라 다음과 같이 두 수의 크기를 비교하려고 합니다.

두 수가 n과 m이라면
">", "=" : n >= m
"<", "=" : n <= m
">", "!" : n > m
"<", "!" : n < m
두 문자열 ineq와 eq가 주어집니다. ineq는 "<"와 ">"중 하나고, eq는 "="와 "!"중 하나입니다.
그리고 두 정수 n과 m이 주어질 때, n과 m이 ineq와 eq의 조건에 맞으면 1을 아니면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
# 개무식하게 풀었다. 다시는 이딴식으로 풀지 말자.
def solution(ineq, eq, n, m):
    if eq == "=":
        if ineq == ">" and (n >= m):
            return 1
        elif ineq == "<" and (n <= m):
            return 1
        else:
            return 0
    else:
        if ineq == ">" and (n > m):
            return 1
        elif ineq == "<" and (n < m):
            return 1
        else:
            return 0

In [ ]:
# 한방 코드...ㅋ
def solution(ineq, eq, n, m):
    return int(eval(str(n)+ineq+eq.replace('!', '')+str(m)))

In [ ]:
# 다른버전
def solution(ineq, eq, n, m):
    answer = 0
    if n > m and ineq ==">":
        answer = 1
    elif n < m and ineq == "<":
        answer = 1
    elif n == m and eq == "=":
        answer = 1

    return answer

#### flag에 따라 다른 값 반환하기
```
두 정수 a, b와 boolean 변수 flag가 매개변수로 주어질 때, flag가 true면 a + b를 false면 a - b를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, flag):
    return a+b if flag else a-b

### midpoint 3 (240209)

#### 코드 처리하기
```
문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서 code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.
mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.
```

In [ ]:
def solution(code):
    mode = 0
    ret = ''
    for idx in range(len(code)):
        if mode == 0:
            if code[idx] != "1" and idx % 2 == 0:
                ret += code[idx]
            elif code[idx] == "1":
                mode = 1
        else:
            if code[idx] != "1" and idx % 2 != 0:
                ret += code[idx]
            elif code[idx] == "1":
                mode = 0
    return ret if ret else "EMPTY"

In [ ]:
# 미친듯이 간결하다. 변태코딩.
def solution(code):
    return "".join(code.split("1"))[::2] or "EMPTY"

In [ ]:
# 더 직관적이다.
def solution(code):
    answer = ''

    mode = 0
    for i in range(len(code)):
        if code[i] == '1':
            mode ^= 1
        else:
            if i % 2 == mode:
                answer += code[i]

    return answer if answer else 'EMPTY'

#### 등차수열의 특정한 항만 더하기
```
두 정수 a, d와 길이가 n인 boolean 배열 included가 주어집니다.
첫째항이 a, 공차가 d인 등차수열에서 included[i]가 i + 1항을 의미할 때,
이 등차수열의 1항부터 n항까지 included가 true인 항들만 더한 값을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, included):
    seq = [a+b*i for i in range(len(included))]
    result = sum([seq[k] for k in range(len(seq)) if included[k] == True])
    return result

37

#### 주사위 게임 2
```
1부터 6까지 숫자가 적힌 주사위가 세 개 있습니다. 세 주사위를 굴렸을 때 나온 숫자를 각각 a, b, c라고 했을 때 얻는 점수는 다음과 같습니다.

세 숫자가 모두 다르다면 a + b + c 점을 얻습니다.
세 숫자 중 어느 두 숫자는 같고 나머지 다른 숫자는 다르다면 (a + b + c) × (a2 + b2 + c2 )점을 얻습니다.
세 숫자가 모두 같다면 (a + b + c) × (a2 + b2 + c2 ) × (a3 + b3 + c3 )점을 얻습니다.
세 정수 a, b, c가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, c):
    result = 0
    if a != b and b != c and a != c:
        result = a + b + c
    elif a == b == c:
        result = (a+b+c) * (a**2+b**2+c**2) * (a**3+b**3+c**3)
    else:
        result = (a+b+c) * (a**2+b**2+c**2)
    return result

In [ ]:
# set을 활용한 풀이. set을 까먹고있었다!
def solution(a, b, c):
    check=len(set([a,b,c]))
    if check==1:
        return 3*a*3*(a**2)*3*(a**3)
    elif check==2:
        return (a+b+c)*(a**2+b**2+c**2)
    else:
        return (a+b+c)

#### 원소들의 곱과 합
```
정수가 담긴 리스트 num_list가 주어질 때, 모든 원소들의 곱이 모든 원소들의 합의 제곱보다 작으면 1을 크면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    mul_result = eval("*".join(str(i) for i in num_list))
    return 1 if mul_result < sum(num_list)**2 else 0

1

#### 이어 붙인 수
```
정수가 담긴 리스트 num_list가 주어집니다. num_list의 홀수만 순서대로 이어 붙인 수와 짝수만 순서대로 이어 붙인 수의 합을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    odd = ''
    even = ''
    for i in num_list:
        if i % 2 == 0:
            even += str(i)
        else:
            odd += str(i)
    return eval(f"{odd} + {even}")

#### 마지막 두 원소
```
정수 리스트 num_list가 주어질 때, 마지막 원소가 그전 원소보다 크면 마지막 원소에서 그전 원소를 뺀 값을
마지막 원소가 그전 원소보다 크지 않다면 마지막 원소를 두 배한 값을 추가하여 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    lst = num_list[-2:]
    if lst[1] > lst[0]:
        num_list.append(lst[1] - lst[0])
    else:
        num_list.append(lst[1] * 2)
    return num_list

#### 수 조작하기
```
정수 n과 문자열 control이 주어집니다.
control은 "w", "a", "s", "d"의 4개의 문자로 이루어져 있으며, control의 앞에서부터 순서대로 문자에 따라 n의 값을 바꿉니다.

"w" : n이 1 커집니다.
"s" : n이 1 작아집니다.
"d" : n이 10 커집니다.
"a" : n이 10 작아집니다.
위 규칙에 따라 n을 바꿨을 때 가장 마지막에 나오는 n의 값을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(n, control):
    for i in control:
        if i == "w":
            n += 1
        elif i == "s":
            n -= 1
        elif i == "d":
            n += 10
        else:
            n -= 10
    return n

In [ ]:
# zip을 사용한 간결한 풀이! 머리를 쓰고 살자 ㅎㅎㅎㅎ
def solution(n, control):
    key = dict(zip(['w','s','d','a'], [1,-1,10,-10]))
    return n + sum([key[c] for c in control])

In [ ]:
# count를 사용하는 방법도 있다. 그래도 위 코드가 더 이쁜듯.
def solution(n, control):
    return n + 10*(control.count('d')-control.count('a')) + (control.count('w')-control.count('s'))

#### 수 조작하기 2
```
정수 배열 numLog가 주어집니다. 처음에 numLog[0]에서 부터 시작해 "w", "a", "s", "d"로 이루어진 문자열을 입력으로 받아 순서대로 다음과 같은 조작을 했다고 합시다.

"w" : 수에 1을 더한다.
"s" : 수에 1을 뺀다.
"d" : 수에 10을 더한다.
"a" : 수에 10을 뺀다.
그리고 매번 조작을 할 때마다 결괏값을 기록한 정수 배열이 numLog입니다. 즉, numLog[i]는 numLog[0]로부터 총 i번의 조작을 가한 결과가 저장되어 있습니다.

주어진 정수 배열 numLog에 대해 조작을 위해 입력받은 문자열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(numLog):
    string = ''
    for i in range(1, len(numLog)):
        result = numLog[i] - numLog[i-1]
        if result == 1:
            string += 'w'
        elif result == -1:
            string += 's'
        elif result == 10:
            string += 'd'
        else:
            string += 'a'
    return string

In [ ]:
# 딕셔너리에 바로 접근하는 방법도 있었네...
def solution(log):
    res=''
    joystick=dict(zip([1,-1,10,-10],['w','s','d','a']))
    for i in range(1,len(log)):
        res+=joystick[log[i]-log[i-1]]
    return res

#### 수열과 구간 쿼리 3
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [i, j] 꼴입니다.

각 query마다 순서대로 arr[i]의 값과 arr[j]의 값을 서로 바꿉니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, queries):
    for i in range(len(queries)):
        q1, q2 = queries[i]
        arr[q1], arr[q2] = arr[q2], arr[q1]
    return arr

In [ ]:
# 굳이 queries[i]로 안빼줘도 됐었네???
def solution(arr, queries):
    for a,b in queries:
        arr[a],arr[b]=arr[b],arr[a]
    return arr

#### 수열과 구간 쿼리 2
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 k보다 크면서 가장 작은 arr[i]를 찾습니다.

각 쿼리의 순서에 맞게 답을 저장한 배열을 반환하는 solution 함수를 완성해 주세요.
단, 특정 쿼리의 답이 존재하지 않으면 -1을 저장합니다.
```

In [ ]:
def solution(arr, queries):
    result = []
    for s, e, k in queries:
        lst = list(filter(lambda x: x>k, arr[s:e+1]))
        result.append(min(lst)) if lst else result.append(-1)
    return result

solution([0, 1, 2, 4, 3], [[0, 4, 2],[0, 3, 2],[0, 2, 2]])

[3, 4, -1]

#### 수열과 구간 쿼리 4
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 i가 k의 배수이면 arr[i]에 1을 더합니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, queries):
    for s, e, k in queries:
        for i in range(s, e+1):
            if k != 0 and i%k == 0:
                arr[i] += 1
    return arr

[1, 2, 3, 5, 4]

In [ ]:
# 다른사람 답안. k가 0인경우 에러. <- 참고함
def solution(arr, queries):
    for s, e, k in queries:
        for i in range(s, e+1):
            if i%k == 0:
                arr[i] += 1
    return arr

### midpoint 4

#### 배열 만들기 2
```
정수 l과 r이 주어졌을 때, l 이상 r이하의 정수 중에서 숫자 "0"과 "5"로만 이루어진 모든 정수를 오름차순으로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

만약 그러한 정수가 없다면, -1이 담긴 배열을 return 합니다.
```

In [20]:
def solution(l, r):
    arr = [i for i in range(l, r+1) if not set(str(i)) - {'0', '5'}]
    return arr if arr else [-1]

In [21]:
# 기발한 코드;; 생각해보자...
def solution(l, r):
    answer = []
    i = 1
    n = 5

    while True:
        if n > r: break
        n = 5 * int(bin(i)[2:])
        if l <= n <= r:
            answer.append(n)
        i += 1

    return [-1] if len(answer) == 0 else answer

#### 카운트 업
```
정수 start_num와 end_num가 주어질 때, start_num부터 end_num까지의 숫자를 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [22]:
def solution(start_num, end_num):
    return [i for i in range(start_num, end_num+1)]

#### 콜라츠 수열 만들기
```
모든 자연수 x에 대해서 현재 값이 x이면 x가 짝수일 때는 2로 나누고,
x가 홀수일 때는 3 * x + 1로 바꾸는 계산을 계속해서 반복하면 언젠가는 반드시 x가 1이 되는지 묻는 문제를 콜라츠 문제라고 부릅니다.

그리고 위 과정에서 거쳐간 모든 수를 기록한 수열을 콜라츠 수열이라고 부릅니다.

계산 결과 1,000 보다 작거나 같은 수에 대해서는 전부 언젠가 1에 도달한다는 것이 알려져 있습니다.

임의의 1,000 보다 작거나 같은 양의 정수 n이 주어질 때 초기값이 n인 콜라츠 수열을 return 하는 solution 함수를 완성해 주세요.
```

In [35]:
def solution(n):
    arr = [n]
    while n != 1:
        if n % 2 == 0:
            n = n // 2
            arr.append(n)
        else:
            n = 3 * n + 1
            arr.append(n)
    return arr

In [36]:
# 처음에 while n == 1: 이라고 적어서 돌아가지 않았다...ㅎㅎ

#### 배열 만들기 4
```
정수 배열 arr가 주어집니다. arr를 이용해 새로운 배열 stk를 만드려고 합니다.

변수 i를 만들어 초기값을 0으로 설정한 후 i가 arr의 길이보다 작으면 다음 작업을 반복합니다.

만약 stk가 빈 배열이라면 arr[i]를 stk에 추가하고 i에 1을 더합니다.
stk에 원소가 있고, stk의 마지막 원소가 arr[i]보다 작으면 arr[i]를 stk의 뒤에 추가하고 i에 1을 더합니다.
stk에 원소가 있는데 stk의 마지막 원소가 arr[i]보다 크거나 같으면 stk의 마지막 원소를 stk에서 제거합니다.
위 작업을 마친 후 만들어진 stk를 return 하는 solution 함수를 완성해 주세요.
```

In [37]:
def solution(arr):
    i = 0
    stk = []
    while i < len(arr):
        if not stk:
            stk.append(arr[i])
            i += 1
        elif stk[-1] < arr[i]:
            stk.append(arr[i])
            i += 1
        elif stk[-1] >= arr[i]:
            del stk[-1]
    return stk

#### 간단한 논리 연산
```
boolean 변수 x1, x2, x3, x4가 매개변수로 주어질 때, 다음의 식의 true/false를 return 하는 solution 함수를 작성해 주세요.

(x1 ∨ x2) ∧ (x3 ∨ x4)
```

In [38]:
def solution(x1, x2, x3, x4):
    return (x1 or x2) and (x3 or x4)

#### 주사위 게임 3
```
1부터 6까지 숫자가 적힌 주사위가 네 개 있습니다. 네 주사위를 굴렸을 때 나온 숫자에 따라 다음과 같은 점수를 얻습니다.

네 주사위에서 나온 숫자가 모두 p로 같다면 1111 × p점을 얻습니다.
세 주사위에서 나온 숫자가 p로 같고 나머지 다른 주사위에서 나온 숫자가 q(p ≠ q)라면 (10 × p + q)2 점을 얻습니다.
주사위가 두 개씩 같은 값이 나오고, 나온 숫자를 각각 p, q(p ≠ q)라고 한다면 (p + q) × |p - q|점을 얻습니다.
어느 두 주사위에서 나온 숫자가 p로 같고 나머지 두 주사위에서 나온 숫자가 각각 p와 다른 q, r(q ≠ r)이라면 q × r점을 얻습니다.
네 주사위에 적힌 숫자가 모두 다르다면 나온 숫자 중 가장 작은 숫자 만큼의 점수를 얻습니다.
네 주사위를 굴렸을 때 나온 숫자가 정수 매개변수 a, b, c, d로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, c, d):
    result = 0
    arr = [a, b, c, d]
    data = set(arr)

    if len(data) == 1:
        result = 1111 * a
    elif len(data) == 2:
        if arr.count(a) == 3 or arr.count(a) == 1:
            for i in arr:
                temp = i.count(i)
                p = max(i.count(i))