모든 저작권은 프로그래머스에 있습니다.
https://school.programmers.co.kr/learn/challenges?order=recent&levels=0&languages=python3

#### 대소문자 바꿔서 출력하기
```
영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.
```

In [ ]:
r = ""
for i in input():
    if i.islower():
        r += i.upper()
    else:
        r += i.lower()
print(r)

aBcDeFg
AbCdEfG

#### 덧셈식 출력하기
```
두 정수 a, b가 주어질 때 다음과 같은 형태의 계산식을 출력하는 코드를 작성해 보세요.
a + b = c
```

In [ ]:
a, b = map(int, input().strip().split(' '))
print(f'{a} + {b} = {a+b}')

4 5
4 + 5 = 9

#### 문자열 붙여서 출력하기
```
두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.
```

In [ ]:
str1, str2 = input().split()
print(str1 + str2)

right away
rightaway

#### 문자열 돌리기
```
문자열 str이 주어집니다.
문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.
```

In [ ]:
s = input()
for i in s:
    print(i)

rock
r
o
c
k

In [ ]:
# 기막히고 코막힌 답안
print('\n'.join(input()))

rock
r
o
c
k

#### 홀짝 구분하기
```
자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.
```

In [ ]:
n = int(input())
print(f'{n} is even' if n%2==0 else f'{n} is odd')

32
32 is even

#### 문자열 겹쳐쓰기
```
문자열 my_string, overwrite_string과 정수 s가 주어집니다.
문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.
```
```
<조건>
1 ≤ overwrite_string의 길이 ≤ my_string의 길이 ≤ 1,000
0 ≤ s ≤ my_string의 길이 - overwrite_string의 길이
```

In [ ]:
def solution(my_string, overwrite_string, s):
    n = len(overwrite_string)
    answer = my_string[:s] + overwrite_string + my_string[s+n:]
    return answer

In [ ]:
solution("He11oWor1d", "lloWorl", 2)

'HelloWorld'

#### 문자열 섞기
```
길이가 같은 두 문자열 str1과 str2가 주어집니다.

두 문자열의 각 문자가 앞에서부터 서로 번갈아가면서 한 번씩 등장하는 문자열을 만들어 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(str1, str2):
    answer = ''
    for i in range(len(str1)):
        answer += str1[i] + str2[i]
    return answer

In [ ]:
solution("aaaaa", "bbbbb")

'ababababab'

#### 문자 리스트를 문자열로 변환하기
```
문자들이 담겨있는 배열 arr가 주어집니다. arr의 원소들을 순서대로 이어 붙인 문자열을 return 하는 solution함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    return ''.join(arr)

In [ ]:
solution(["a","b","c"])

'abc'

#### 문자열 곱하기
```
문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, k):
    answer = (my_string*k).strip()
    return answer

In [ ]:
solution("onepiece", 2)

'onepieceonepiece'

#### 더 크게 합치기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    sum_ba = int(str(b)+str(a))
    return sum_ab if sum_ab == sum_ba else max(sum_ab, sum_ba)

In [ ]:
solution(9, 91)

991