<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240126_python_161_180.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [2]:
for i in range(100):
    print(i, end=" ") # 출력문이 길어져서 한줄로

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

# 162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

In [3]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

# 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [5]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

# 164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [ ]:
for i in range(99, -1, -1):
    print(i)

In [ ]:
# 정답
# 뺄셈사용
for i in range(100):
    print(99 - i)

# 165
for문을 사용해서 아래와 같이 출력하라.
(0.0부터 0.9)

In [10]:
# 정답
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

# 166
구구단 3단을 출력하라.

In [11]:
for i in range(1, 10):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

# 167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

In [12]:
for i in range(1, 10, 2):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

# 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [13]:
result = 0
for i in range(1, 11):
    result += i
print(result)

55

# 169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [14]:
result = 0
for i in range(1, 11, 2):
    result += i
print(result)

25

# 170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [15]:
mul = 1
for i in range(1, 11):
    mul += i
print(mul)

56

---

# 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500
```

In [16]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

# 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500
```

In [17]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [18]:
# 정답
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

# 173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500
```

In [ ]:
# 정답
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

# 정답2
for i in range(len(price_list)):
    print(3 - i, price_list[i])

# 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500
```

In [19]:
price_list = [32100, 32150, 32000, 32500]

# 정답
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [20]:
# 아니...

# 175
my_list를 아래와 같이 출력하라.
```
my_list = ["가", "나", "다", "라"]
가 나
나 다
다 라
```

In [21]:
my_list = ["가", "나", "다", "라"]

for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
# 정답
for i in range( len(my_list) - 1 ) :
  print(my_list[i], my_list[i+1])

# 정답2
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

# 176
리스트를 아래와 같이 출력하라.
```
my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마
```

In [22]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

# 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
```
my_list = ["가", "나", "다", "라"]
라 다
다 나
나 가
```

In [23]:
my_list = ["가", "나", "다", "라"]

for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
# 또다른 정답
# 억지이긴한데 머리 굴리기엔 괜찮은듯
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

# 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
```
my_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
```
100
200
400
```

In [24]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

# 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
```
my_list = [100, 200, 400, 800, 1000, 1300]
```
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
```
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [1]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print(sum(my_list[i:i+3]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 정답
for i in [1, 2, 3, 4]:
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

# 정답 2
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

In [2]:
# abs는 왜 사용하는?

# 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.
```
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [4]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = [high_prices[i] - low_prices[i] for i in range(5)]
print(volatility)

[50, 100, 30, 80, 0]

In [5]:
# 정답
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])