<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240129_Programmers_Lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

모든 저작권은 프로그래머스에 있습니다.
https://school.programmers.co.kr/learn/challenges?order=recent&levels=0&languages=python3

### midpoint 1

#### 대소문자 바꿔서 출력하기
```
영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.
```

In [ ]:
r = ""
for i in input():
    if i.islower():
        r += i.upper()
    else:
        r += i.lower()
print(r)

aBcDeFg
AbCdEfG

#### 덧셈식 출력하기
```
두 정수 a, b가 주어질 때 다음과 같은 형태의 계산식을 출력하는 코드를 작성해 보세요.
a + b = c
```

In [ ]:
a, b = map(int, input().strip().split(' '))
print(f'{a} + {b} = {a+b}')

4 5
4 + 5 = 9

#### 문자열 붙여서 출력하기
```
두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.
```

In [ ]:
str1, str2 = input().split()
print(str1 + str2)

right away
rightaway

#### 문자열 돌리기
```
문자열 str이 주어집니다.
문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.
```

In [ ]:
s = input()
for i in s:
    print(i)

rock
r
o
c
k

In [ ]:
# 기막히고 코막힌 답안
print('\n'.join(input()))

rock
r
o
c
k

#### 홀짝 구분하기
```
자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.
```

In [ ]:
n = int(input())
print(f'{n} is even' if n%2==0 else f'{n} is odd')

32
32 is even

#### 문자열 겹쳐쓰기
```
문자열 my_string, overwrite_string과 정수 s가 주어집니다.
문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.
```
```
<조건>
1 ≤ overwrite_string의 길이 ≤ my_string의 길이 ≤ 1,000
0 ≤ s ≤ my_string의 길이 - overwrite_string의 길이
```

In [ ]:
def solution(my_string, overwrite_string, s):
    n = len(overwrite_string)
    answer = my_string[:s] + overwrite_string + my_string[s+n:]
    return answer

In [ ]:
solution("He11oWor1d", "lloWorl", 2)

'HelloWorld'

#### 문자열 섞기
```
길이가 같은 두 문자열 str1과 str2가 주어집니다.

두 문자열의 각 문자가 앞에서부터 서로 번갈아가면서 한 번씩 등장하는 문자열을 만들어 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(str1, str2):
    answer = ''
    for i in range(len(str1)):
        answer += str1[i] + str2[i]
    return answer

In [ ]:
solution("aaaaa", "bbbbb")

'ababababab'

#### 문자 리스트를 문자열로 변환하기
```
문자들이 담겨있는 배열 arr가 주어집니다. arr의 원소들을 순서대로 이어 붙인 문자열을 return 하는 solution함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    return ''.join(arr)

In [ ]:
solution(["a","b","c"])

'abc'

#### 문자열 곱하기
```
문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, k):
    answer = (my_string*k).strip()
    return answer

In [ ]:
solution("onepiece", 2)

'onepieceonepiece'

#### 더 크게 합치기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    sum_ba = int(str(b)+str(a))
    return sum_ab if sum_ab == sum_ba else max(sum_ab, sum_ba)

In [ ]:
solution(9, 91)

991

### midpoint 2 (240208)

#### 두 수의 연산값 비교하기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 2 * a * b 중 더 큰 값을 return하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 2 * a * b가 같으면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    return sum_ab if sum_ab == (2*a*b) else max(sum_ab, (2*a*b))

In [ ]:
solution(12, 3)

123

#### n의 배수
```
정수 num과 n이 매개 변수로 주어질 때, num이 n의 배수이면 1을 return n의 배수가 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num, n):
    return 1 if num%n==0 else 0

In [ ]:
solution(10, 5)

1

#### 공배수
```
정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(number, n, m):
    return 1 if number % n == 0 and number % m == 0 else 0

In [ ]:
solution(15, 3, 5)

1

#### 홀짝에 따라 다른 값 반환하기
```
양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고
n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성해 주세요.

```

In [ ]:
def solution(n):
    if n % 2 != 0:
        return sum(i for i in range(1, n+1, 2))
    else:
        return sum(i*i for i in range(2, n+1, 2))

#### 조건 문자열
```
문자열에 따라 다음과 같이 두 수의 크기를 비교하려고 합니다.

두 수가 n과 m이라면
">", "=" : n >= m
"<", "=" : n <= m
">", "!" : n > m
"<", "!" : n < m
두 문자열 ineq와 eq가 주어집니다. ineq는 "<"와 ">"중 하나고, eq는 "="와 "!"중 하나입니다.
그리고 두 정수 n과 m이 주어질 때, n과 m이 ineq와 eq의 조건에 맞으면 1을 아니면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
# 개무식하게 풀었다. 다시는 이딴식으로 풀지 말자.
def solution(ineq, eq, n, m):
    if eq == "=":
        if ineq == ">" and (n >= m):
            return 1
        elif ineq == "<" and (n <= m):
            return 1
        else:
            return 0
    else:
        if ineq == ">" and (n > m):
            return 1
        elif ineq == "<" and (n < m):
            return 1
        else:
            return 0

In [ ]:
# 한방 코드...ㅋ
def solution(ineq, eq, n, m):
    return int(eval(str(n)+ineq+eq.replace('!', '')+str(m)))

In [ ]:
# 다른버전
def solution(ineq, eq, n, m):
    answer = 0
    if n > m and ineq ==">":
        answer = 1
    elif n < m and ineq == "<":
        answer = 1
    elif n == m and eq == "=":
        answer = 1

    return answer

#### flag에 따라 다른 값 반환하기
```
두 정수 a, b와 boolean 변수 flag가 매개변수로 주어질 때, flag가 true면 a + b를 false면 a - b를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, flag):
    return a+b if flag else a-b

### midpoint 3 (240209)

#### 코드 처리하기
```
문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서 code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.
mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.
```

In [ ]:
def solution(code):
    mode = 0
    ret = ''
    for idx in range(len(code)):
        if mode == 0:
            if code[idx] != "1" and idx % 2 == 0:
                ret += code[idx]
            elif code[idx] == "1":
                mode = 1
        else:
            if code[idx] != "1" and idx % 2 != 0:
                ret += code[idx]
            elif code[idx] == "1":
                mode = 0
    return ret if ret else "EMPTY"

In [ ]:
# 미친듯이 간결하다. 변태코딩.
def solution(code):
    return "".join(code.split("1"))[::2] or "EMPTY"

In [ ]:
# 더 직관적이다.
def solution(code):
    answer = ''

    mode = 0
    for i in range(len(code)):
        if code[i] == '1':
            mode ^= 1
        else:
            if i % 2 == mode:
                answer += code[i]

    return answer if answer else 'EMPTY'

#### 등차수열의 특정한 항만 더하기
```
두 정수 a, d와 길이가 n인 boolean 배열 included가 주어집니다.
첫째항이 a, 공차가 d인 등차수열에서 included[i]가 i + 1항을 의미할 때,
이 등차수열의 1항부터 n항까지 included가 true인 항들만 더한 값을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, included):
    seq = [a+b*i for i in range(len(included))]
    result = sum([seq[k] for k in range(len(seq)) if included[k] == True])
    return result

37

#### 주사위 게임 2
```
1부터 6까지 숫자가 적힌 주사위가 세 개 있습니다. 세 주사위를 굴렸을 때 나온 숫자를 각각 a, b, c라고 했을 때 얻는 점수는 다음과 같습니다.

세 숫자가 모두 다르다면 a + b + c 점을 얻습니다.
세 숫자 중 어느 두 숫자는 같고 나머지 다른 숫자는 다르다면 (a + b + c) × (a2 + b2 + c2 )점을 얻습니다.
세 숫자가 모두 같다면 (a + b + c) × (a2 + b2 + c2 ) × (a3 + b3 + c3 )점을 얻습니다.
세 정수 a, b, c가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, c):
    result = 0
    if a != b and b != c and a != c:
        result = a + b + c
    elif a == b == c:
        result = (a+b+c) * (a**2+b**2+c**2) * (a**3+b**3+c**3)
    else:
        result = (a+b+c) * (a**2+b**2+c**2)
    return result

In [ ]:
# set을 활용한 풀이. set을 까먹고있었다!
def solution(a, b, c):
    check=len(set([a,b,c]))
    if check==1:
        return 3*a*3*(a**2)*3*(a**3)
    elif check==2:
        return (a+b+c)*(a**2+b**2+c**2)
    else:
        return (a+b+c)

#### 원소들의 곱과 합
```
정수가 담긴 리스트 num_list가 주어질 때, 모든 원소들의 곱이 모든 원소들의 합의 제곱보다 작으면 1을 크면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    mul_result = eval("*".join(str(i) for i in num_list))
    return 1 if mul_result < sum(num_list)**2 else 0

1

#### 이어 붙인 수
```
정수가 담긴 리스트 num_list가 주어집니다. num_list의 홀수만 순서대로 이어 붙인 수와 짝수만 순서대로 이어 붙인 수의 합을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    odd = ''
    even = ''
    for i in num_list:
        if i % 2 == 0:
            even += str(i)
        else:
            odd += str(i)
    return eval(f"{odd} + {even}")

#### 마지막 두 원소
```
정수 리스트 num_list가 주어질 때, 마지막 원소가 그전 원소보다 크면 마지막 원소에서 그전 원소를 뺀 값을
마지막 원소가 그전 원소보다 크지 않다면 마지막 원소를 두 배한 값을 추가하여 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    lst = num_list[-2:]
    if lst[1] > lst[0]:
        num_list.append(lst[1] - lst[0])
    else:
        num_list.append(lst[1] * 2)
    return num_list

#### 수 조작하기
```
정수 n과 문자열 control이 주어집니다.
control은 "w", "a", "s", "d"의 4개의 문자로 이루어져 있으며, control의 앞에서부터 순서대로 문자에 따라 n의 값을 바꿉니다.

"w" : n이 1 커집니다.
"s" : n이 1 작아집니다.
"d" : n이 10 커집니다.
"a" : n이 10 작아집니다.
위 규칙에 따라 n을 바꿨을 때 가장 마지막에 나오는 n의 값을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(n, control):
    for i in control:
        if i == "w":
            n += 1
        elif i == "s":
            n -= 1
        elif i == "d":
            n += 10
        else:
            n -= 10
    return n

In [ ]:
# zip을 사용한 간결한 풀이! 머리를 쓰고 살자 ㅎㅎㅎㅎ
def solution(n, control):
    key = dict(zip(['w','s','d','a'], [1,-1,10,-10]))
    return n + sum([key[c] for c in control])

In [ ]:
# count를 사용하는 방법도 있다. 그래도 위 코드가 더 이쁜듯.
def solution(n, control):
    return n + 10*(control.count('d')-control.count('a')) + (control.count('w')-control.count('s'))

#### 수 조작하기 2
```
정수 배열 numLog가 주어집니다. 처음에 numLog[0]에서 부터 시작해 "w", "a", "s", "d"로 이루어진 문자열을 입력으로 받아 순서대로 다음과 같은 조작을 했다고 합시다.

"w" : 수에 1을 더한다.
"s" : 수에 1을 뺀다.
"d" : 수에 10을 더한다.
"a" : 수에 10을 뺀다.
그리고 매번 조작을 할 때마다 결괏값을 기록한 정수 배열이 numLog입니다. 즉, numLog[i]는 numLog[0]로부터 총 i번의 조작을 가한 결과가 저장되어 있습니다.

주어진 정수 배열 numLog에 대해 조작을 위해 입력받은 문자열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(numLog):
    string = ''
    for i in range(1, len(numLog)):
        result = numLog[i] - numLog[i-1]
        if result == 1:
            string += 'w'
        elif result == -1:
            string += 's'
        elif result == 10:
            string += 'd'
        else:
            string += 'a'
    return string

In [ ]:
# 딕셔너리에 바로 접근하는 방법도 있었네...
def solution(log):
    res=''
    joystick=dict(zip([1,-1,10,-10],['w','s','d','a']))
    for i in range(1,len(log)):
        res+=joystick[log[i]-log[i-1]]
    return res

#### 수열과 구간 쿼리 3
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [i, j] 꼴입니다.

각 query마다 순서대로 arr[i]의 값과 arr[j]의 값을 서로 바꿉니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, queries):
    for i in range(len(queries)):
        q1, q2 = queries[i]
        arr[q1], arr[q2] = arr[q2], arr[q1]
    return arr

In [ ]:
# 굳이 queries[i]로 안빼줘도 됐었네???
def solution(arr, queries):
    for a,b in queries:
        arr[a],arr[b]=arr[b],arr[a]
    return arr

#### 수열과 구간 쿼리 2
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 k보다 크면서 가장 작은 arr[i]를 찾습니다.

각 쿼리의 순서에 맞게 답을 저장한 배열을 반환하는 solution 함수를 완성해 주세요.
단, 특정 쿼리의 답이 존재하지 않으면 -1을 저장합니다.
```

In [ ]:
def solution(arr, queries):
    result = []
    for s, e, k in queries:
        lst = list(filter(lambda x: x>k, arr[s:e+1]))
        result.append(min(lst)) if lst else result.append(-1)
    return result

solution([0, 1, 2, 4, 3], [[0, 4, 2],[0, 3, 2],[0, 2, 2]])

[3, 4, -1]

#### 수열과 구간 쿼리 4
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 i가 k의 배수이면 arr[i]에 1을 더합니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, queries):
    for s, e, k in queries:
        for i in range(s, e+1):
            if k != 0 and i%k == 0:
                arr[i] += 1
    return arr

[1, 2, 3, 5, 4]

In [ ]:
# 다른사람 답안. k가 0인경우 에러. <- 참고함
def solution(arr, queries):
    for s, e, k in queries:
        for i in range(s, e+1):
            if i%k == 0:
                arr[i] += 1
    return arr

### midpoint 4

#### 배열 만들기 2
```
정수 l과 r이 주어졌을 때, l 이상 r이하의 정수 중에서 숫자 "0"과 "5"로만 이루어진 모든 정수를 오름차순으로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

만약 그러한 정수가 없다면, -1이 담긴 배열을 return 합니다.
```

In [ ]:
def solution(l, r):
    arr = [i for i in range(l, r+1) if not set(str(i)) - {'0', '5'}]
    return arr if arr else [-1]

In [ ]:
# 기발한 코드;; 생각해보자...
def solution(l, r):
    answer = []
    i = 1
    n = 5

    while True:
        if n > r: break
        n = 5 * int(bin(i)[2:])
        if l <= n <= r:
            answer.append(n)
        i += 1

    return [-1] if len(answer) == 0 else answer

#### 카운트 업
```
정수 start_num와 end_num가 주어질 때, start_num부터 end_num까지의 숫자를 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(start_num, end_num):
    return [i for i in range(start_num, end_num+1)]

#### 콜라츠 수열 만들기
```
모든 자연수 x에 대해서 현재 값이 x이면 x가 짝수일 때는 2로 나누고,
x가 홀수일 때는 3 * x + 1로 바꾸는 계산을 계속해서 반복하면 언젠가는 반드시 x가 1이 되는지 묻는 문제를 콜라츠 문제라고 부릅니다.

그리고 위 과정에서 거쳐간 모든 수를 기록한 수열을 콜라츠 수열이라고 부릅니다.

계산 결과 1,000 보다 작거나 같은 수에 대해서는 전부 언젠가 1에 도달한다는 것이 알려져 있습니다.

임의의 1,000 보다 작거나 같은 양의 정수 n이 주어질 때 초기값이 n인 콜라츠 수열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(n):
    arr = [n]
    while n != 1:
        if n % 2 == 0:
            n = n // 2
            arr.append(n)
        else:
            n = 3 * n + 1
            arr.append(n)
    return arr

In [ ]:
# 처음에 while n == 1: 이라고 적어서 돌아가지 않았다...ㅎㅎ

#### 배열 만들기 4
```
정수 배열 arr가 주어집니다. arr를 이용해 새로운 배열 stk를 만드려고 합니다.

변수 i를 만들어 초기값을 0으로 설정한 후 i가 arr의 길이보다 작으면 다음 작업을 반복합니다.

만약 stk가 빈 배열이라면 arr[i]를 stk에 추가하고 i에 1을 더합니다.
stk에 원소가 있고, stk의 마지막 원소가 arr[i]보다 작으면 arr[i]를 stk의 뒤에 추가하고 i에 1을 더합니다.
stk에 원소가 있는데 stk의 마지막 원소가 arr[i]보다 크거나 같으면 stk의 마지막 원소를 stk에서 제거합니다.
위 작업을 마친 후 만들어진 stk를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr):
    i = 0
    stk = []
    while i < len(arr):
        if not stk:
            stk.append(arr[i])
            i += 1
        elif stk[-1] < arr[i]:
            stk.append(arr[i])
            i += 1
        elif stk[-1] >= arr[i]:
            del stk[-1]
    return stk

#### 간단한 논리 연산
```
boolean 변수 x1, x2, x3, x4가 매개변수로 주어질 때, 다음의 식의 true/false를 return 하는 solution 함수를 작성해 주세요.

(x1 ∨ x2) ∧ (x3 ∨ x4)
```

In [ ]:
def solution(x1, x2, x3, x4):
    return (x1 or x2) and (x3 or x4)

### midpoint 5

#### 주사위 게임 3
```
1부터 6까지 숫자가 적힌 주사위가 네 개 있습니다. 네 주사위를 굴렸을 때 나온 숫자에 따라 다음과 같은 점수를 얻습니다.

네 주사위에서 나온 숫자가 모두 p로 같다면 1111 × p점을 얻습니다.
세 주사위에서 나온 숫자가 p로 같고 나머지 다른 주사위에서 나온 숫자가 q(p ≠ q)라면 (10 × p + q)2 점을 얻습니다.
주사위가 두 개씩 같은 값이 나오고, 나온 숫자를 각각 p, q(p ≠ q)라고 한다면 (p + q) × |p - q|점을 얻습니다.
어느 두 주사위에서 나온 숫자가 p로 같고 나머지 두 주사위에서 나온 숫자가 각각 p와 다른 q, r(q ≠ r)이라면 q × r점을 얻습니다.
네 주사위에 적힌 숫자가 모두 다르다면 나온 숫자 중 가장 작은 숫자 만큼의 점수를 얻습니다.
네 주사위를 굴렸을 때 나온 숫자가 정수 매개변수 a, b, c, d로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, c, d):
    result = 0
    arr = [a, b, c, d]
    dic = {i:arr.count(i) for i in arr}
    sorted_dic = sorted(dic, key=lambda x: dic[x])

    if len(dic) == 1:
        result = 1111 * a
    elif len(dic) == 2:
        if max(dic.values()) == 3:
            p = sorted_dic[1]
            q = sorted_dic[0]
            result = (10 * p + q) ** 2
        else:
            p, q = sorted_dic
            result = (p + q) * abs(p - q)
    elif len(dic) == 3:
        p = sorted_dic[2]
        q, r = sorted_dic[0], sorted_dic[1]
        result = q * r
    else:
        result = min(dic)
    return result

solution(4, 1, 4, 4)

1681

In [ ]:
# 이리저리 헤매다가 겨우 짰지만 너무 길다...^^
# 다른분들 코드 보니 10줄은 적은 경우도 있다.
# 굳이 딕셔너리를 쓰지 않고 각 정수의 카운트값을 리스트로 담아줬어도 됐는데ㅜㅜ

# 여튼 이리저리 생각해볼만한 문제였다.

#### 글자 이어 붙여 문자열 만들기
```
문자열 my_string과 정수 배열 index_list가 매개변수로 주어집니다.
my_string의 index_list의 원소들에 해당하는 인덱스의 글자들을
순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, index_list):
    result = ''
    for i in index_list:
        result += my_string[i]
    return result

#### 9로 나눈 나머지
```
음이 아닌 정수를 9로 나눈 나머지는 그 정수의 각 자리 숫자의 합을 9로 나눈 나머지와 같은 것이 알려져 있습니다.
이 사실을 이용하여 음이 아닌 정수가 문자열 number로 주어질 때, 이 정수를 9로 나눈 나머지를 return 하는 solution 함수를 작성해주세요.
```

In [ ]:
def solution(number):
    return int(number) % 9

#### 문자열 여러 번 뒤집기
```
문자열 my_string과 이차원 정수 배열 queries가 매개변수로 주어집니다.
queries의 원소는 [s, e] 형태로, my_string의 인덱스 s부터 인덱스 e까지를 뒤집으라는 의미입니다.
my_string에 queries의 명령을 순서대로 처리한 후의 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, queries):
    result = my_string
    for s, e in queries:
        result = result[:s] + result[s:e+1][::-1] + result[e+1:]
    return result
# 사실 중간에 result[s:e+1:-1]로 작성하는 바람에 무한 에러에 빠져버림...
# 다른분 코드를 참고했다ㅜㅜ 바보같은 짓을;;

In [ ]:
# 다른 풀이. 리스트를 이용한 풀이인데 더 신박하다.
def solution(my_string, queries):
    answer=list(my_string)
    for s,e in queries:
        answer[s:e+1]=answer[s:e+1][::-1]
    return ''.join(answer)

#### 배열 만들기 5
```
문자열 배열 intStrs와 정수 k, s, l가 주어집니다. intStrs의 원소는 숫자로 이루어져 있습니다.

배열 intStrs의 각 원소마다 s번 인덱스에서 시작하는 길이 l짜리 부분 문자열을 잘라내 정수로 변환합니다.
이때 변환한 정수값이 k보다 큰 값들을 담은 배열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(intStrs, k, s, l):
    result = []
    for nums in intStrs:
        int_nums = int(nums[s:s+l])
        result.append(int_nums) if int_nums > k else None
    return result

In [ ]:
'python'[1:1+4]

'ytho'

#### 부분 문자열 이어 붙여 문자열 만들기
```
길이가 같은 문자열 배열 my_strings와 이차원 정수 배열 parts가 매개변수로 주어집니다.
parts[i]는 [s, e] 형태로, my_string[i]의 인덱스 s부터 인덱스 e까지의 부분 문자열을 의미합니다.
각 my_strings의 원소의 parts에 해당하는 부분 문자열을 순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, parts):
    result = ''
    for i in range(len(parts)):
        l = my_string[i]
        s, e = parts[i]
        result += l[s:e+1]
    return result

In [ ]:
# 다양한 한줄코드들이 있지만 가독성이 너무 떨어졌다.
# 간지 == 한줄코드  가 아님을 깨달았다...ㅎㅎ

### midpoint 6

#### 문자열의 뒤의 n글자
```
문자열 my_string과 정수 n이 매개변수로 주어질 때,
my_string의 뒤의 n글자로 이루어진 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, n):
    return my_string[-n:]

#### 접미사 배열
```
어떤 문자열에 대해서 접미사는 특정 인덱스부터 시작하는 문자열을 의미합니다.
예를 들어, "banana"의 모든 접미사는 "banana", "anana", "nana", "ana", "na", "a"입니다.
문자열 my_string이 매개변수로 주어질 때,
my_string의 모든 접미사를 사전순으로 정렬한 문자열 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string):
    result = []
    for i in range(len(my_string)):
        result.append(my_string[i:])
    return sorted(result)

In [ ]:
# 그래도 이건 한줄풀이가 낫다.
def solution(my_string):
    return sorted(my_string[i:] for i in range(len(my_string)))

#### 접미사인지 확인하기
```
어떤 문자열에 대해서 접미사는 특정 인덱스부터 시작하는 문자열을 의미합니다.
예를 들어, "banana"의 모든 접미사는 "banana", "anana", "nana", "ana", "na", "a"입니다.
문자열 my_string과 is_suffix가 주어질 때, is_suffix가 my_string의 접미사라면 1을,
아니면 0을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, is_suffix):
    l = [my_string[i:] for i in range(len(my_string))]
    return 1 if is_suffix in l else 0

#### 문자열의 앞의 n글자
```
문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string의 앞의 n글자로 이루어진 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, n):
    return my_string[:n]

#### 접두사인지 확인하기
```
어떤 문자열에 대해서 접두사는 특정 인덱스까지의 문자열을 의미합니다. 예를 들어, "banana"의 모든 접두사는 "b", "ba", "ban", "bana", "banan", "banana"입니다.
문자열 my_string과 is_prefix가 주어질 때, is_prefix가 my_string의 접두사라면 1을, 아니면 0을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, is_prefix):
    l = [my_string[:i] for i in range(len(my_string))]
    return 1 if is_prefix in l else 0

#### 문자열 뒤집기
```
문자열 my_string과 정수 s, e가 매개변수로 주어질 때, my_string에서 인덱스 s부터 인덱스 e까지를 뒤집은 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, s, e):
    return my_string[:s] + my_string[s:e+1][::-1] + my_string[e+1:]

#### 세로 읽기
```
문자열 my_string과 두 정수 m, c가 주어집니다.
my_string을 한 줄에 m 글자씩 가로로 적었을 때 왼쪽부터 세로로 c번째 열에 적힌 글자들을 문자열로 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, m, c):
    return my_string[c-1::m]

#### qr code
```
두 정수 q, r과 문자열 code가 주어질 때, code의 각 인덱스를 q로 나누었을 때 나머지가 r인 위치의 문자를
앞에서부터 순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(q, r, code):
    string = ''
    for i in range(len(code)):
        if i % q == r:
            string += code[i]
    return string

In [ ]:
# 세로 읽기 문제랑 똑같이 생각하면 되는거였다.
# 반복되는건 인지했는데 짱구를 더 굴리지 못했다^^
def solution(q, r, code):
    return code[r::q]

#### 문자 개수 세기
```
알파벳 대소문자로만 이루어진 문자열 my_string이 주어질 때,
my_string에서 'A'의 개수, my_string에서 'B'의 개수,..., my_string에서 'Z'의 개수,
my_string에서 'a'의 개수, my_string에서 'b'의 개수,..., my_string에서 'z'의 개수를
순서대로 담은 길이 52의 정수 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
# 아스키코드 잘 몰라서 검색해보고 풀었다.
# A-Z: 65~90, a-z: 97~122
# 대문자는 0~25 소문자는 26~51 => 0~51인덱스 총 52개의 배열
def solution(my_string):
    result = [0] * 52
    for i in my_string:
        if i.isupper():
            x = 65
        else:
            x = 71
        result[ord(i) - x] += 1
    return result

#### 배열 만들기 1
```
정수 n과 k가 주어졌을 때, 1 이상 n이하의 정수 중에서 k의 배수를 오름차순으로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(n, k):
    return sorted([i for i in range(k, n+1, k)])

#### 글자 지우기
```
문자열 my_string과 정수 배열 indices가 주어질 때,
my_string에서 indices의 원소에 해당하는 인덱스의 글자를 지우고 이어 붙인 문자열을
return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, indices):
    s = list(my_string)
    for i in indices:
        s[i] = ""
    return "".join(s)

#### 카운트 다운
```
정수 start_num와 end_num가 주어질 때, start_num에서 end_num까지 1씩 감소하는 수들을 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(start_num, end_num):
    return [i for i in range(start_num, end_num-1, -1)]

#### 가까운 1 찾기
```
정수 배열 arr가 주어집니다. 이때 arr의 원소는 1 또는 0입니다. 정수 idx가 주어졌을 때,
idx보다 크면서 배열의 값이 1인 가장 작은 인덱스를 찾아서 반환하는 solution 함수를 완성해 주세요.

단, 만약 그러한 인덱스가 없다면 -1을 반환합니다.
```

In [ ]:
def solution(arr, idx):
    result = []
    for i in range(len(arr)):
        if i >= idx and arr[i] == 1:
            result.append(i)
    return min(result) if result else -1

In [ ]:
# 몰랐던 함수 기능!
# index의 두번째 인자는 시작인덱스를 의미한다.
def solution(arr, idx):
    answer = 0
    try:
        answer = arr.index(1, idx)
    except:
        answer = -1
    return answer

#### 리스트 자르기
```
정수 n과 정수 3개가 담긴 리스트 slicer 그리고 정수 여러 개가 담긴 리스트 num_list가 주어집니다.
slicer에 담긴 정수를 차례대로 a, b, c라고 할 때, n에 따라 다음과 같이 num_list를 슬라이싱 하려고 합니다.

n = 1 : num_list의 0번 인덱스부터 b번 인덱스까지
n = 2 : num_list의 a번 인덱스부터 마지막 인덱스까지
n = 3 : num_list의 a번 인덱스부터 b번 인덱스까지
n = 4 : num_list의 a번 인덱스부터 b번 인덱스까지 c 간격으로
올바르게 슬라이싱한 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n, slicer, num_list):
    a, b, c = slicer
    if n == 1:
        return num_list[:b+1]
    elif n == 2:
        return num_list[a:]
    elif n == 3:
        return num_list[a:b+1]
    else:
        return num_list[a:b+1:c]

#### 첫 번째로 나오는 음수
```
정수 리스트 num_list가 주어질 때, 첫 번째로 나오는 음수의 인덱스를 return하도록 solution 함수를 완성해주세요. 음수가 없다면 -1을 return합니다.
```

In [ ]:
def solution(num_list):
    result = 0
    for i in range(len(num_list)):
        if num_list[i] < 0:
            return i
    return -1

#### 배열 만들기 3
```
정수 배열 arr와 2개의 구간이 담긴 배열 intervals가 주어집니다.

intervals는 항상 [[a1, b1], [a2, b2]]의 꼴로 주어지며 각 구간은 닫힌 구간입니다. 닫힌 구간은 양 끝값과 그 사이의 값을 모두 포함하는 구간을 의미합니다.

이때 배열 arr의 첫 번째 구간에 해당하는 배열과 두 번째 구간에 해당하는 배열을 앞뒤로 붙여 새로운 배열을 만들어 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, intervals):
    result = []
    for a, b in intervals:
        result.extend(arr[a:b+1])
    return result

#### 2의 영역
```
정수 배열 arr가 주어집니다. 배열 안의 2가 모두 포함된 가장 작은 연속된 부분 배열을 return 하는 solution 함수를 완성해 주세요.

단, arr에 2가 없는 경우 [-1]을 return 합니다.
```

In [ ]:
def solution(arr):
    p = -1
    if 2 in arr:
        p = arr.index(2)
    else:
        return [-1]

    for i in range(len(arr)):
        if arr[i] == 2:
            curr = i
    return arr[p:curr+1]

In [ ]:
# 간결한 코드...!
# 신박한 방법이다;; 뒤집으면 되는구나
def solution(arr):
    if 2 not in arr:
        return [-1]
    return arr[arr.index(2) : len(arr) - arr[::-1].index(2)]

#### 배열 조각하기
```
정수 배열 arr와 query가 주어집니다.

query를 순회하면서 다음 작업을 반복합니다.

짝수 인덱스에서는 arr에서 query[i]번 인덱스를 제외하고 배열의 query[i]번 인덱스 뒷부분을 잘라서 버립니다.
홀수 인덱스에서는 arr에서 query[i]번 인덱스는 제외하고 배열의 query[i]번 인덱스 앞부분을 잘라서 버립니다.
위 작업을 마친 후 남은 arr의 부분 배열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, query):
    for i in range(len(query)):
        if i % 2 == 0:
            arr = arr[:query[i]+1]
        else:
            arr = arr[query[i]:]
    return arr

### midpoint 7

#### n 번째 원소부터
```
정수 리스트 num_list와 정수 n이 주어질 때, n 번째 원소부터 마지막 원소까지의 모든 원소를 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list, n):
    return num_list[n-1:]

#### 순서 바꾸기
```
정수 리스트 num_list와 정수 n이 주어질 때, num_list를 n 번째 원소 이후의 원소들과 n 번째까지의 원소들로 나눠
n 번째 원소 이후의 원소들을 n 번째까지의 원소들 앞에 붙인 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list, n):
    return num_list[n:] + num_list[:n]

#### 왼쪽 오른쪽
```
문자열 리스트 str_list에는 "u", "d", "l", "r" 네 개의 문자열이 여러 개 저장되어 있습니다.
str_list에서 "l"과 "r" 중 먼저 나오는 문자열이 "l"이라면 해당 문자열을 기준으로 왼쪽에 있는 문자열들을 순서대로 담은 리스트를,
먼저 나오는 문자열이 "r"이라면 해당 문자열을 기준으로 오른쪽에 있는 문자열들을 순서대로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
"l"이나 "r"이 없다면 빈 리스트를 return합니다.
```

In [ ]:
def solution(str_list):
    if ("l" not in str_list) and ("r" not in str_list):
        return []
    else:
        if "l" not in str_list:
            return str_list[str_list.index("r")+1:]
        elif "r" not in str_list:
            return str_list[:str_list.index("l")]
        else:
            l = str_list.index("l")
            r = str_list.index("r")

            if l < r:
                return str_list[:l]
            else:
                return str_list[r+1:]

In [ ]:
# 쓸데없이 헷갈리게 만든 문제;;
# l과 r 모두 없을때만 빈 리스트를 반환

#### n 번째 원소까지
```
정수 리스트 num_list와 정수 n이 주어질 때, num_list의 첫 번째 원소부터 n 번째 원소까지의 모든 원소를 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list, n):
    return num_list[:n]

#### n개 간격의 원소들
```
정수 리스트 num_list와 정수 n이 주어질 때, num_list의 첫 번째 원소부터 마지막 원소까지 n개 간격으로 저장되어있는 원소들을
차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list, n):
    return num_list[::n]

#### 홀수 vs 짝수
```
정수 리스트 num_list가 주어집니다.
가장 첫 번째 원소를 1번 원소라고 할 때, 홀수 번째 원소들의 합과 짝수 번째 원소들의 합 중 큰 값을 return 하도록 solution 함수를 완성해주세요.
두 값이 같을 경우 그 값을 return합니다.
```

In [ ]:
def solution(num_list):
    return max(sum(num_list[::2]), sum(num_list[1::2]))

#### 5명씩
```
최대 5명씩 탑승가능한 놀이기구를 타기 위해 줄을 서있는 사람들의 이름이 담긴 문자열 리스트 names가 주어질 때,
앞에서 부터 5명씩 묶은 그룹의 가장 앞에 서있는 사람들의 이름을 담은 리스트를 return하도록 solution 함수를 완성해주세요.
마지막 그룹이 5명이 되지 않더라도 가장 앞에 있는 사람의 이름을 포함합니다.
```

In [ ]:
def solution(names):
    return names[::5]

#### 할 일 목록
```
오늘 해야 할 일이 담긴 문자열 배열 todo_list와 각각의 일을 지금 마쳤는지를 나타내는 boolean 배열 finished가 매개변수로 주어질 때,
todo_list에서 아직 마치지 못한 일들을 순서대로 담은 문자열 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(todo_list, finished):
    return list(filter(lambda x: finished[todo_list.index(x)] == False, todo_list))

#### n보다 커질 때까지 더하기
```
정수 배열 numbers와 정수 n이 매개변수로 주어집니다.
numbers의 원소를 앞에서부터 하나씩 더하다가 그 합이 n보다 커지는 순간 이때까지 더했던 원소들의 합을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(numbers, n):
    result = 0
    for num in numbers:
        if result <= n:
            result += num
    return result

#### 수열과 구간 쿼리 1
```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 arr[i]에 1을 더합니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, queries):
    for s, e in queries:
        for i in range(s, e+1):
            arr[i] += 1
    return arr

### midpoint 8

#### 조건에 맞게 수열 변환하기 2
```
정수 배열 arr가 주어집니다. arr의 각 원소에 대해 값이 50보다 크거나 같은 짝수라면 2로 나누고, 50보다 작은 홀수라면 2를 곱하고 다시 1을 더합니다.

이러한 작업을 x번 반복한 결과인 배열을 arr(x)라고 표현했을 때, arr(x) = arr(x + 1)인 x가 항상 존재합니다.
이러한 x 중 가장 작은 값을 return 하는 solution 함수를 완성해 주세요.

단, 두 배열에 대한 "="는 두 배열의 크기가 서로 같으며, 같은 인덱스의 원소가 각각 서로 같음을 의미합니다.
```

In [ ]:
def solution(arr):
    count = 0
    while True:
        temp = arr.copy()
        for i in range(len(arr)):
            if arr[i] >= 50 and arr[i] % 2 == 0:
                arr[i] //= 2
            elif arr[i] < 50 and arr[i] % 2 == 1:
                arr[i] = arr[i] * 2 + 1
        if temp == arr:
            break
        count += 1
    return count

In [ ]:
# AI선생님의 도움을 받았다^^*

#### 1로 만들기
```
정수가 있을 때, 짝수라면 반으로 나누고, 홀수라면 1을 뺀 뒤 반으로 나누면, 마지막엔 1이 됩니다. 예를 들어 10이 있다면 다음과 같은 과정으로 1이 됩니다.

10 / 2 = 5
(5 - 1) / 2 = 4
4 / 2 = 2
2 / 2 = 1
위와 같이 4번의 나누기 연산으로 1이 되었습니다.

정수들이 담긴 리스트 num_list가 주어질 때, num_list의 모든 원소를 1로 만들기 위해서 필요한 나누기 연산의 횟수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    count = 0
    answer = [1] * len(num_list)
    while answer != num_list:
        for i in range(len(num_list)):
            if num_list[i] % 2 == 0 and num_list[i] != 1:
                num_list[i] //= 2
                count += 1
            else:
                num_list[i] = (num_list[i] - 1) // 2
                count += 1
    return count

In [ ]:
# 이것도 내 풀이는 복잡도에 걸려버려서 AI선생님을 통해 수정^^

#### 길이에 따른 연산
```
정수가 담긴 리스트 num_list가 주어질 때, 리스트의 길이가 11 이상이면 리스트에 있는 모든 원소의 합을
10 이하이면 모든 원소의 곱을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    if len(num_list) >= 11:
        return sum(num_list)
    else:
        result = 1
        for i in num_list:
            result *= i
        return result

#### 원하는 문자열 찾기
```
알파벳으로 이루어진 문자열 myString과 pat이 주어집니다.
myString의 연속된 부분 문자열 중 pat이 존재하면 1을 그렇지 않으면 0을 return 하는 solution 함수를 완성해 주세요.

단, 알파벳 대문자와 소문자는 구분하지 않습니다.
```

In [ ]:
def solution(myString, pat):
    myString = myString.lower()
    pat = pat.lower()
    return 1 if pat in myString else 0

#### 대문자로 바꾸기
```
알파벳으로 이루어진 문자열 myString이 주어집니다.
모든 알파벳을 대문자로 변환하여 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(myString):
    return myString.upper()

#### 배열에서 문자열 대소문자 변경하기
```
문자열 배열 strArr가 주어집니다.
모든 원소가 알파벳으로만 이루어져 있을 때, 배열에서 홀수번째 인덱스의 문자열은 모든 문자를 대문자로,
짝수번째 인덱스의 문자열은 모든 문자를 소문자로 바꿔서 반환하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(strArr):
    for i in range(len(strArr)):
        if i % 2 != 0:
            strArr[i] = strArr[i].upper()
        else:
            strArr[i] = strArr[i].lower()
    return strArr

In [ ]:
# enumerate를 사용하는것을 권장한다고 함.

In [ ]:
def solution(strArr):
    for i, s in enumerate(strArr):
        if i % 2 == 0:
            strArr[i] = strArr[i].lower()
        else:
            strArr[i] = strArr[i].upper()
    return strArr
# 시간복잡도가 줄어든다.

#### A 강조하기
```
문자열 myString이 주어집니다. myString에서 알파벳 "a"가 등장하면 전부 "A"로 변환하고,
"A"가 아닌 모든 대문자 알파벳은 소문자 알파벳으로 변환하여 return 하는 solution 함수를 완성하세요.
```

In [ ]:
def solution(myString):
    myString = myString.replace("a", "A")
    result = ''
    for i in myString:
        if i.isupper() and i != "A":
            result += i.lower()
        else:
            result += i
    return result

In [ ]:
# 아니 내가 왜 이렇게 안풀었을까?
# 잠을 못자서일까?????
def solution(myString):
    return myString.lower().replace('a', 'A')

#### 특정한 문자를 대문자로 바꾸기
```
영소문자로 이루어진 문자열 my_string과 영소문자 1글자로 이루어진 문자열 alp가 매개변수로 주어질 때,
my_string에서 alp에 해당하는 모든 글자를 대문자로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, alp):
    return my_string.replace(alp, alp.upper())

#### 특정 문자열로 끝나는 가장 긴 부분 문자열 찾기
```
문자열 myString과 pat가 주어집니다. myString의 부분 문자열중 pat로 끝나는 가장 긴 부분 문자열을 찾아서 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(myString, pat):
    idx = myString.rindex(pat)
    return myString[:idx+len(pat)]

In [ ]:
# rindex를 사용하면 오른쪽(끝)에서부터 탐색한다.

12

#### 문자열이 몇 번 등장하는지 세기
```
문자열 myString과 pat이 주어집니다. myString에서 pat이 등장하는 횟수를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(myString, pat):
    return myString.count(pat)
# 처음 생각한 답인데 banana에서 ana를 찾는경우... 답이 2다. 겹치는부분까지 포함해야함.

In [ ]:
# 다른분 코드 참고
def solution(myString, pat):
    count = 0
    start = 0
    while True:
        idx = myString.find(pat, start)
        if idx == -1:
            break
        count += 1
        start = idx + 1
    return count

#### ad 제거하기
```
문자열 배열 strArr가 주어집니다.
배열 내의 문자열 중 "ad"라는 부분 문자열을 포함하고 있는 모든 문자열을 제거하고
남은 문자열을 순서를 유지하여 배열로 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(strArr):
    return [i for i in strArr if "ad" not in i]

### midpoint 9

#### 공백으로 구분하기 1
```
단어가 공백 한 개로 구분되어 있는 문자열 my_string이 매개변수로 주어질 때,
my_string에 나온 단어를 앞에서부터 순서대로 담은 문자열 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string):
    return my_string.split()

#### 공백으로 구분하기 2
```
단어가 공백 한 개 이상으로 구분되어 있는 문자열 my_string이 매개변수로 주어질 때,
my_string에 나온 단어를 앞에서부터 순서대로 담은 문자열 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string):
    return my_string.split()

#### x 사이의 개수
```
문자열 myString이 주어집니다.
myString을 문자 "x"를 기준으로 나눴을 때 나눠진 문자열 각각의 길이를 순서대로 저장한 배열을
return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(myString):
    s = myString.split("x")
    return [len(i) for i in s]

#### 문자열 잘라서 정리하기
```
문자열 myString이 주어집니다. "x"를 기준으로 해당 문자열을 잘라내 배열을 만든 후 사전순으로 정렬한 배열을 return 하는 solution 함수를 완성해 주세요.

단, 빈 문자열은 반환할 배열에 넣지 않습니다.
```

In [ ]:
def solution(myString):
    s = myString.split("x")
    return sorted(list(filter(lambda x: x, s)))

#### 간단한 식 계산하기
```
문자열 binomial이 매개변수로 주어집니다. binomial은 "a op b" 형태의 이항식이고 a와 b는 음이 아닌 정수,
op는 '+', '-', '*' 중 하나입니다. 주어진 식을 계산한 정수를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(binomial):
    return eval(binomial)

In [ ]:
# 나보다 더한놈
solution = eval
# ㅋㅋㅋ

#### 문자열 바꿔서 찾기
```
문자 "A"와 "B"로 이루어진 문자열 myString과 pat가 주어집니다. myString의 "A"를 "B"로,
"B"를 "A"로 바꾼 문자열의 연속하는 부분 문자열 중 pat이 있으면 1을 아니면 0을 return 하는 solution 함수를 완성하세요.
```

In [ ]:
def solution(myString, pat):
    result = ''
    for i in range(len(myString)):
        if myString[i] == "A":
            result += "B"
        else:
            result += "A"
    return 1 if pat in result else 0

In [ ]:
# pat을 건드리는 방법도 있다
def solution(myString, pat):
    return int(pat in myString.replace('A', 'C').replace('B', 'A').replace('C', 'B'))

solution("ABBAA","AABB")

1

In [ ]:
int(10 // 2 == 4) # 결과값: 0
int(10 // 2 == 5) # 결과값: 1
# int()를 사용하면 True는 1, False는 0을 반환해준다.

1

#### rny string
```
'm'과 "rn"이 모양이 비슷하게 생긴 점을 활용해 문자열에 장난을 하려고 합니다. 문자열 rny_string이 주어질 때,
rny_string의 모든 'm'을 "rn"으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(rny_string):
    return rny_string.replace("m", "rn")

#### 세 개의 구분자
```
임의의 문자열이 주어졌을 때 문자 "a", "b", "c"를 구분자로 사용해 문자열을 나누고자 합니다.

예를 들어 주어진 문자열이 "baconlettucetomato"라면 나눠진 문자열 목록은 ["onlettu", "etom", "to"] 가 됩니다.

문자열 myStr이 주어졌을 때 위 예시와 같이 "a", "b", "c"를 사용해 나눠진 문자열을 순서대로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

단, 두 구분자 사이에 다른 문자가 없을 경우에는 아무것도 저장하지 않으며, return할 배열이 빈 배열이라면 ["EMPTY"]를 return 합니다.
```

In [ ]:
import re

def solution(myStr):
    result = re.sub("[abc]", " ", myStr)
    return result.split() if result.split() else ["EMPTY"]

In [ ]:
# re를 사용한 더 간단한 방법!
import re

def solution(myStr):
    return re.findall(r"[^abc]+", myStr) or ["EMPTY"]

#### 배열의 원소만큼 추가하기
```
아무 원소도 들어있지 않은 빈 배열 X가 있습니다. 양의 정수 배열 arr가 매개변수로 주어질 때,
arr의 앞에서부터 차례대로 원소를 보면서 원소가 a라면 X의 맨 뒤에 a를 a번 추가하는 일을 반복한 뒤의 배열 X를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    X = []
    for a in arr:
        n = 0
        while n < a:
            X.append(a)
            n += 1
    return X

#### 빈 배열에 추가, 삭제하기
```
아무 원소도 들어있지 않은 빈 배열 X가 있습니다. 길이가 같은 정수 배열 arr과 boolean 배열 flag가 매개변수로 주어질 때,
flag를 차례대로 순회하며 flag[i]가 true라면 X의 뒤에 arr[i]를 arr[i] × 2 번 추가하고,
flag[i]가 false라면 X에서 마지막 arr[i]개의 원소를 제거한 뒤 X를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr, flag):
    X = []
    for i in range(len(arr)):
        if flag[i]:
            n = 0
            while n < (arr[i] * 2):
                X.append(arr[i])
                n += 1
        else:
            X = X[:-(arr[i])]
    return X

#### 배열 만들기 6
```
0과 1로만 이루어진 정수 배열 arr가 주어집니다. arr를 이용해 새로운 배열 stk을 만드려고 합니다.

i의 초기값을 0으로 설정하고 i가 arr의 길이보다 작으면 다음을 반복합니다.

만약 stk이 빈 배열이라면 arr[i]를 stk에 추가하고 i에 1을 더합니다.
stk에 원소가 있고, stk의 마지막 원소가 arr[i]와 같으면 stk의 마지막 원소를 stk에서 제거하고 i에 1을 더합니다.
stk에 원소가 있는데 stk의 마지막 원소가 arr[i]와 다르면 stk의 맨 마지막에 arr[i]를 추가하고 i에 1을 더합니다.
위 작업을 마친 후 만들어진 stk을 return 하는 solution 함수를 완성해 주세요.

단, 만약 빈 배열을 return 해야한다면 [-1]을 return 합니다.
```

In [ ]:
def solution(arr):
    stk = []
    i = 0
    while i < len(arr):
        if not stk:
            stk.append(arr[i])
        elif stk[-1] == arr[i]:
            stk.pop()
        else:
            stk.append(arr[i])
        i += 1
    return stk if stk else [-1]

#### 무작위로 K개의 수 뽑기
```
랜덤으로 서로 다른 k개의 수를 저장한 배열을 만드려고 합니다.
적절한 방법이 떠오르지 않기 때문에 일정한 범위 내에서 무작위로 수를 뽑은 후, 지금까지 나온적이 없는 수이면 배열 맨 뒤에 추가하는 방식으로 만들기로 합니다.

이미 어떤 수가 무작위로 주어질지 알고 있다고 가정하고, 실제 만들어질 길이 k의 배열을 예상해봅시다.

정수 배열 arr가 주어집니다. 문제에서의 무작위의 수는 arr에 저장된 순서대로 주어질 예정이라고 했을 때, 완성될 배열을 return 하는 solution 함수를 완성해 주세요.

단, 완성될 배열의 길이가 k보다 작으면 나머지 값을 전부 -1로 채워서 return 합니다.
```

In [ ]:
def solution(arr, k):
    result = []
    for i in arr:
        if i not in result:
            result.append(i)

    if len(result) >= k:
        return result[:k]
    else:
        return result + [-1]*(k - len(result))

In [ ]:
# 좀 더 간결한 버전. 다른분 코드.
def solution(arr, k):
    ret = []
    for i in arr:
        if i not in ret:
            ret.append(i)
        if len(ret) == k:
            break

    return ret + [-1] * (k - len(ret))

#### 배열의 길이를 2의 거듭제곱으로 만들기
```
정수 배열 arr이 매개변수로 주어집니다. arr의 길이가 2의 정수 거듭제곱이 되도록 arr 뒤에 정수 0을 추가하려고 합니다.
arr에 최소한의 개수로 0을 추가한 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    binary = bin(len(arr))
    if '1' in binary[3:]:
        s = '0b1' + '0' * len(binary[2:])
    else:
        return arr
    return arr + [0] * (int(s, 2) - int(binary, 2))

solution([1, 2, 3, 4, 5, 6])

[1, 2, 3, 4, 5, 6, 0, 0]

In [ ]:
# 다른분이 시간복잡도에 대해 설명한건데, 나중에 찾아보자
def solution(arr):
    a = 1
    b = len(arr)
    while a < b :
        a *= 2
    return arr + [0] * (a-b)


"""
2의 거듭제곱 확인 방법 O(1)로 해야 겨우 O(n)
logn으로 확인하면 그걸 n번 반복 -> o(nlogn)
길이 1000개 -> 가장 빠른방법은 각각 하드코딩하기 겨우 10개

"""

#### 배열 비교하기
```
이 문제에서 두 정수 배열의 대소관계를 다음과 같이 정의합니다.

두 배열의 길이가 다르다면, 배열의 길이가 긴 쪽이 더 큽니다.
배열의 길이가 같다면 각 배열에 있는 모든 원소의 합을 비교하여 다르다면 더 큰 쪽이 크고, 같다면 같습니다.
두 정수 배열 arr1과 arr2가 주어질 때, 위에서 정의한 배열의 대소관계에 대하여 arr2가 크다면 -1, arr1이 크다면 1,
두 배열이 같다면 0을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr1, arr2):
    if len(arr1) == len(arr2):
        if sum(arr1) > sum(arr2):
            return 1
        elif sum(arr1) < sum(arr2):
            return -1
        else:
            return 0
    else:
        if len(arr1) > len(arr2):
            return 1
        else:
            return -1

In [ ]:
# 우왕
def solution(arr1, arr2):
    return (len(arr1) > len(arr2)) - (len(arr2) > len(arr1)) or (sum(arr1) > sum(arr2)) - (sum(arr2) > sum(arr1))

In [ ]:
test1 = [1, 2]
test2 = [1, 2, 3]
(len(test1) > len(test2)) + (len(test1) < len(test2))

1

#### 문자열 묶기
```
문자열 배열 strArr이 주어집니다.
strArr의 원소들을 길이가 같은 문자열들끼리 그룹으로 묶었을 때 가장 개수가 많은 그룹의 크기를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
# 원래 내 코드. 시간복잡도에서 걸림.
# length.count(i) 부분에서 많이 잡아먹는다.

def solution(strArr):
    l = sorted(strArr, key=lambda x: len(x))
    length = []
    for i in strArr:
        length.append(len(i))
    ret = {i:length.count(i) for i in length}
    return max(ret.values())

In [ ]:
# AI teacher에게 re-coding을 맡긴 결과ㅎㅎ
def solution(strArr):
    length_dict = {}

    for string in strArr:
        length = len(string)
        if length in length_dict:
            length_dict[length] += 1
        else:
            length_dict[length] = 1

    return max(length_dict.values())

In [ ]:
# 위의 AI버전 내 코드에서 더 간략해진 코드.
def solution(strArr):
    d = {}

    for i in strArr:
        d[len(i)] = d.get(len(i), 0) + 1

    return max(d.values())

# 복세편살 코드
def solution(strArr):
    a=[0]*31
    for x in strArr: a[len(x)]+=1
    return max(a)
# 조건에 '1 ≤ strArr의 원소의 길이 ≤ 30'가 있었다.
# 즉 나올 수 있는 길이는 1부터 30까지.
# 하지만 인덱스는 0부터 시작하므로 31개로 만들어줌.

#### 배열의 길이에 따라 다른 연산하기
```
정수 배열 arr과 정수 n이 매개변수로 주어집니다.
arr의 길이가 홀수라면 arr의 모든 짝수 인덱스 위치에 n을 더한 배열을,
arr의 길이가 짝수라면 arr의 모든 홀수 인덱스 위치에 n을 더한 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr, n):
    if len(arr) % 2 != 0:
        for i in range(0, len(arr), 2):
            arr[i] += n
    else:
        for i in range(1, len(arr), 2):
            arr[i] += n
    return arr

#### 뒤에서 5등까지
```
정수로 이루어진 리스트 num_list가 주어집니다.
num_list에서 가장 작은 5개의 수를 오름차순으로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    return sorted(num_list)[:5]

### Finished all!

### midpoint 10
---
기초문제 파트 외에도 Lv0 문제가 존재했음^^;

#### 뒤에서 5등 위로
```
정수로 이루어진 리스트 num_list가 주어집니다.
num_list에서 가장 작은 5개의 수를 제외한 수들을 오름차순으로 담은 리스트를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    return sorted(num_list)[5:]

#### 전국 대회 선발 고사
```
0번부터 n - 1번까지 n명의 학생 중 3명을 선발하는 전국 대회 선발 고사를 보았습니다.
등수가 높은 3명을 선발해야 하지만, 개인 사정으로 전국 대회에 참여하지 못하는 학생들이 있어
참여가 가능한 학생 중 등수가 높은 3명을 선발하기로 했습니다.

각 학생들의 선발 고사 등수를 담은 정수 배열 rank와 전국 대회 참여 가능 여부가 담긴 boolean 배열 attendance가 매개변수로 주어집니다.
전국 대회에 선발된 학생 번호들을 등수가 높은 순서대로 각각 a, b, c번이라고 할 때
10000 × a + 100 × b + c를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(rank, attendance):
    available = list(filter(lambda x: attendance[rank.index(x)], rank))
    ret = sorted(available)[:3]
    func = lambda x: rank.index(x)
    s1, s2, s3 = func(ret[0]), func(ret[1]), func(ret[2])
    return 10000 * s1 + 100 * s2 + s3

solution([3, 7, 2, 5, 4, 6, 1], [False, True, True, True, True, False, False])

20403

In [ ]:
# 깔끔하긴 하지만 가독성이 떨어지는 코드. But enumerate을 쓰는 좋은 방법.
def solution(rank, attendance):
    arr = sorted([(x, i) for i, x in enumerate(rank) if attendance[i]])
    return arr[0][1] * 10000 + arr[1][1] * 100 + arr[2][1]

#### 문자열 정수의 합
```
한 자리 정수로 이루어진 문자열 num_str이 주어질 때, 각 자리수의 합을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_str):
    return eval("+".join(num_str))

solution("123456789")

45

#### 문자열을 정수로 변환하기
```
숫자로만 이루어진 문자열 n_str이 주어질 때, n_str을 정수로 변환하여 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n_str):
    return int(n_str)

#### 0 떼기
```
정수로 이루어진 문자열 n_str이 주어질 때, n_str의 가장 왼쪽에 처음으로 등장하는 0들을 뗀 문자열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n_str):
    for i in range(len(n_str)):
        if n_str[i] != "0":
            return n_str[i:]

solution("008818202")

'8818202'

In [ ]:
# 와우... lstrip!
def solution(n_str):
    return n_str.lstrip('0')

#### 두 수의 합
```
0 이상의 두 정수가 문자열 a, b로 주어질 때, a + b의 값을 문자열로 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b):
    return f"{int(a) + int(b)}"

#### 문자열로 변환
```
정수 n이 주어질 때, n을 문자열로 변환하여 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    return str(n)

#### 배열의 원소 삭제하기
```
정수 배열 arr과 delete_list가 있습니다.
arr의 원소 중 delete_list의 원소를 모두 삭제하고 남은 원소들은 기존의 arr에 있던 순서를 유지한 배열을
return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr, delete_list):
    ret = []
    for i in range(len(arr)):
        if arr[i] not in delete_list:
            ret.append(arr[i])
    return ret

In [ ]:
# 컴프리헨션 사용하자 ㅎㅎ

#### 부분 문자열인지 확인하기
```
부분 문자열이란 문자열에서 연속된 일부분에 해당하는 문자열을 의미합니다.
예를 들어, 문자열 "ana", "ban", "anana", "banana", "n"는 모두 문자열 "banana"의 부분 문자열이지만,
"aaa", "bnana", "wxyz"는 모두 "banana"의 부분 문자열이 아닙니다.

문자열 my_string과 target이 매개변수로 주어질 때, target이 문자열 my_string의 부분 문자열이라면 1을,
아니라면 0을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, target):
    return int(target in my_string)

#### 부분 문자열
```
어떤 문자열 A가 다른 문자열 B안에 속하면 A를 B의 부분 문자열이라고 합니다.
예를 들어 문자열 "abc"는 문자열 "aabcc"의 부분 문자열입니다.

문자열 str1과 str2가 주어질 때,
str1이 str2의 부분 문자열이라면 1을 부분 문자열이 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(str1, str2):
    return int(str1 in str2)

#### 꼬리 문자열
```
문자열들이 담긴 리스트가 주어졌을 때, 모든 문자열들을 순서대로 합친 문자열을 꼬리 문자열이라고 합니다.
꼬리 문자열을 만들 때 특정 문자열을 포함한 문자열은 제외시키려고 합니다. 예를 들어 문자열 리스트 ["abc", "def", "ghi"]가 있고
문자열 "ef"를 포함한 문자열은 제외하고 꼬리 문자열을 만들면 "abcghi"가 됩니다.

문자열 리스트 str_list와 제외하려는 문자열 ex가 주어질 때,
str_list에서 ex를 포함한 문자열을 제외하고 만든 꼬리 문자열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(str_list, ex):
    return "".join([i for i in str_list if ex not in i])

#### 정수 찾기
```
정수 리스트 num_list와 찾으려는 정수 n이 주어질 때,
num_list안에 n이 있으면 1을 없으면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list, n):
    return int(n in num_list)

#### 주사위 게임 1
```
1부터 6까지 숫자가 적힌 주사위가 두 개 있습니다. 두 주사위를 굴렸을 때 나온 숫자를 각각 a, b라고 했을 때 얻는 점수는 다음과 같습니다.

a와 b가 모두 홀수라면 a2 + b2 점을 얻습니다.
a와 b 중 하나만 홀수라면 2 × (a + b) 점을 얻습니다.
a와 b 모두 홀수가 아니라면 |a - b| 점을 얻습니다.
두 정수 a와 b가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b):
    if a % 2 != 0 and b % 2 != 0:
        return a **2 + b **2
    elif a % 2 == 0 and b % 2 == 0:
        return abs(a - b)
    else:
        return 2 * (a + b)

#### 날짜 비교하기
```
정수 배열 date1과 date2가 주어집니다. 두 배열은 각각 날짜를 나타내며 [year, month, day] 꼴로 주어집니다.
각 배열에서 year는 연도를, month는 월을, day는 날짜를 나타냅니다.

만약 date1이 date2보다 앞서는 날짜라면 1을, 아니면 0을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
# 짜증나서 AI선생님께 여쭤봤다.
def solution(date1, date2):
    # 연도 비교
    if date1[0] < date2[0]:
        return 1
    elif date1[0] > date2[0]:
        return 0

    # 월 비교
    if date1[1] < date2[1]:
        return 1
    elif date1[1] > date2[1]:
        return 0

    # 일 비교
    if date1[2] < date2[2]:
        return 1
    else:
        return 0

In [ ]:
# 미친 풀이.
def solution(date1, date2):
    return int(date1 < date2)

# 이렇게 했었는데 난 왜 안됐지? 싶었던 풀이
def solution(date1, date2):
    for i in range(3):
        if date1[i]<date2[i]:return 1
        elif date2[i]<date1[i]: return 0
    return 0

### midpoint 11

#### 커피 심부름
```
팀의 막내인 철수는 아메리카노와 카페 라테만 판매하는 카페에서 팀원들의 커피를 사려고 합니다.
아메리카노와 카페 라테의 가격은 차가운 것과 뜨거운 것 상관없이 각각 4500, 5000원입니다.
각 팀원에게 마실 메뉴를 적어달라고 하였고, 그 중에서 메뉴만 적은 팀원의 것은 차가운 것으로 통일하고
"아무거나"를 적은 팀원의 것은 차가운 아메리카노로 통일하기로 하였습니다.

각 직원이 적은 메뉴가 문자열 배열 order로 주어질 때,
카페에서 결제하게 될 금액을 return 하는 solution 함수를 작성해주세요.
order의 원소는 아래의 것들만 들어오고, 각각의 의미는 다음과 같습니다.
```
```
"iceamericano", "americanoice"	차가운 아메리카노
"hotamericano", "americanohot"	따뜻한 아메리카노
"icecafelatte", "cafelatteice"	차가운 카페 라테
"hotcafelatte", "cafelattehot"	따뜻한 카페 라테
"americano"	아메리카노
"cafelatte"	카페 라테
"anything"	아무거나
```

In [ ]:
def solution(order):
    count = 0
    for menu in order:
        if "americano" in menu or "anything" in menu:
            count += 4500
        else:
            count += 5000
    return count

#### 그림 확대
```
직사각형 형태의 그림 파일이 있고, 이 그림 파일은 1 × 1 크기의 정사각형 크기의 픽셀로 이루어져 있습니다.
이 그림 파일을 나타낸 문자열 배열 picture과 정수 k가 매개변수로 주어질 때, 이 그림 파일을 가로 세로로 k배 늘린 그림 파일을 나타내도록
문자열 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
# 배열에 넣는줄 알고 엉뚱하게 풀고 있었음... 다른사람 풀이 찾아봤다.
def solution(picture, k):
    answer = []

    for row in picture: # 이미지의 한 줄을 가져온다.
        resized = ''

        for pixel in row:
            resized += pixel * k # 한 픽셀을 k배 만큼 가로로 늘린다.

        for _ in range(k):
            answer.append(resized) # 가로로 늘려진 이미지 한 줄을 k배 만큼 세로로 늘린다.

    return answer

In [ ]:
# _를 이용한 풀이
def solution(picture, k):
    answer = []

    for line in range(len(picture)):
        for _ in k:
            answer.append(picture[i].replace(".", "."*k).replace("x", "x"*k))
    return answer

#### 조건에 맞게 수열 변환하기 3
```
정수 배열 arr와 자연수 k가 주어집니다.

만약 k가 홀수라면 arr의 모든 원소에 k를 곱하고, k가 짝수라면 arr의 모든 원소에 k를 더합니다.

이러한 변환을 마친 후의 arr를 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(arr, k):
    if k % 2:
        arr = [i*k for i in arr]
    else:
        arr = [i+k for i in arr]
    return arr

#### l로 만들기
```
알파벳 소문자로 이루어진 문자열 myString이 주어집니다. 알파벳 순서에서 "l"보다 앞서는 모든 문자를 "l"로 바꾼 문자열을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(myString):
    ret = ""

    for alp in myString:
        if ord(alp) < ord("l"):
            ret += "l"
        else:
            ret += alp
    return ret

In [ ]:
# ord 안써도 됨

#### 특별한 이차원 배열
```
정수 n이 매개변수로 주어질 때, 다음과 같은 n × n 크기의 이차원 배열 arr를 return 하는 solution 함수를 작성해 주세요.

arr[i][j] (0 ≤ i, j < n)의 값은 i = j라면 1, 아니라면 0입니다.
```

In [ ]:
def solution(n):
    return [[1 if i == j else 0 for i in range(n)] for j in range(n)]
# 아휴

#### 정수를 나선형으로 배치하기
```
양의 정수 n이 매개변수로 주어집니다.
n × n 배열에 1부터 n2 까지 정수를 인덱스 [0][0]부터 시계방향 나선형으로 배치한
이차원 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(n):
    # 이건 일단 keep이다. 시간이 얼마 안남았으니 내일 하자...

#### 특별한 이차원 배열 2
```
n × n 크기의 이차원 배열 arr이 매개변수로 주어질 때, arr이 다음을 만족하면 1을 아니라면 0을 return 하는 solution 함수를 작성해 주세요.

0 ≤ i, j < n인 정수 i, j에 대하여 arr[i][j] = arr[j][i]
```

In [ ]:
def solution(arr):
    for i in range(len(arr)):
        for j in range(len(arr)):
            if arr[i][j] != arr[j][i]:
                return 0
    return 1

#### 정사각형으로 만들기
```
이차원 정수 배열 arr이 매개변수로 주어집니다. arr의 행의 수가 더 많다면 열의 수가 행의 수와 같아지도록 각 행의 끝에 0을 추가하고,
열의 수가 더 많다면 행의 수가 열의 수와 같아지도록 각 열의 끝에 0을 추가한 이차원 배열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    row = len(arr)
    col = len(arr[-1])
    if row > col:
        for i in arr:
            i.extend([0]*(row-col))
    elif row < col:
        for _ in range(col-row):
            arr.append([0]*col)
    return arr

solution([[1, 1], [1, 1], [1, 1], [1, 1]])

[[1, 1, 0, 0], [1, 1, 0, 0], [1, 1, 0, 0], [1, 1, 0, 0]]

In [ ]:
# 반례 [[1, 1], [1, 1], [1, 1], [1, 1]] => [[1, 1, 0], [1, 1, 0], [1, 1, 0], [1, 1, 0]]
# 행과 열의 차이수만큼 0을 추가해주는 방식으로 변경.

#### 이차원 배열 대각선 순회하기
```
2차원 정수 배열 board와 정수 k가 주어집니다.

i + j <= k를 만족하는 모든 (i, j)에 대한 board[i][j]의 합을 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(board, k):
    ret = 0
    for i in range(len(board)):
        for j in range(len(board[i])):
            if i + j <= k:
                ret += board[i][j]
    return ret

### midpoint 12

#### 옹알이
```
머쓱이는 태어난 지 6개월 된 조카를 돌보고 있습니다.
조카는 아직 "aya", "ye", "woo", "ma" 네 가지 발음을 최대 한 번씩 사용해 조합한(이어 붙인) 발음밖에 하지 못합니다.
문자열 배열 babbling이 매개변수로 주어질 때, 머쓱이의 조카가 발음할 수 있는 단어의 개수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(babbling):
    words = ["aya", "ye", "woo", "ma"]
    cnt = 0
    for i in babbling:
        for word in words:
            i = i.replace(word, " ")
        i = i.replace(" ", "")
        if not len(i):
            cnt += 1
    return cnt

순열 함수 `from itertools import permutations`를 이용한 풀이!
처음 보는 모듈인데 알아봐야겠다 ㅎㅎ
https://velog.io/@sugyeonghh/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4-%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8-%EC%9E%85%EB%AC%B8-%EC%98%B9%EC%95%8C%EC%9D%B41Python

In [ ]:
# re 를 이용한 풀이. 제일 깔끔하다.
import re

def solution(babbling):
    regex = re.compile('^(aya|ye|woo|ma)+$')
    cnt=0
    for e in babbling:
        if regex.match(e):
            cnt+=1
    return cnt

내가 풀이에 참고했던 코드
https://harami.tistory.com/20  
아이고 ㅎㅎ 난 아직 멀었다...

#### 다음에 올 숫자
```
등차수열 혹은 등비수열 common이 매개변수로 주어질 때, 마지막 원소 다음으로 올 숫자를 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(common):
    dif = common[1] - common[0]
    if common[2] - common[1] != dif:
        x = common[1] // common[0]
        return common[-1] * x
    else:
        return common[-1] + dif

#### 연속된 수의 합
```
연속된 세 개의 정수를 더해 12가 되는 경우는 3, 4, 5입니다. 두 정수 num과 total이 주어집니다.
연속된 수 num개를 더한 값이 total이 될 때, 정수 배열을 오름차순으로 담아 return하도록 solution함수를 완성해보세요.
```

In [ ]:
def solution(num, total):
    average = total // num
    return [i for i in range(average - (num-1)//2, average + (num + 2)//2)]

In [ ]:
# 비슷하게 풀었지만 특정 케이스에서 계속 오류가 발생했었다.
# 반례를 찾지 못해서 결국 다른분 코드 참고ㅜㅜ

#### 종이 자르기
```
머쓱이는 큰 종이를 1 x 1 크기로 자르려고 합니다.
예를 들어 2 x 2 크기의 종이를 1 x 1 크기로 자르려면 최소 가위질 세 번이 필요합니다.

정수 M, N이 매개변수로 주어질 때, M x N 크기의 종이를 최소로 가위질 해야하는 횟수를 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(M, N):
    return M*N-1

#### 문자열 밀기
```
문자열 "hello"에서 각 문자를 오른쪽으로 한 칸씩 밀고 마지막 문자는 맨 앞으로 이동시키면 "ohell"이 됩니다.
이것을 문자열을 민다고 정의한다면 문자열 A와 B가 매개변수로 주어질 때,
A를 밀어서 B가 될 수 있다면 밀어야 하는 최소 횟수를 return하고
밀어서 B가 될 수 없으면 -1을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(A, B):
	return (B * 2).find(A)

In [ ]:
# 미친 풀이 ㅎ ㅎㅎ ㅎㅎㅎ

#### 잘라서 배열로 저장하기
```
문자열 my_str과 n이 매개변수로 주어질 때, my_str을 길이 n씩 잘라서 저장한 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(my_str, n):
    return [my_str[i:n+i] for i in range(0, len(my_str), n)]

#### 7의 개수
```
머쓱이는 행운의 숫자 7을 가장 좋아합니다.
정수 배열 array가 매개변수로 주어질 때, 7이 총 몇 개 있는지 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(array):
    s = "".join([str(i) for i in array])
    return s.count("7")

#### 문자열 정렬하기 (2)
```
영어 대소문자로 이루어진 문자열 my_string이 매개변수로 주어질 때,
my_string을 모두 소문자로 바꾸고 알파벳 순서대로 정렬한 문자열을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(my_string):
    return "".join(sorted(my_string.lower()))

#### 세균 증식
```
어떤 세균은 1시간에 두배만큼 증식한다고 합니다.
처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n, t):
    return n*2**t

#### 제곱수 판별하기
```
어떤 자연수를 제곱했을 때 나오는 정수를 제곱수라고 합니다. 정수 n이 매개변수로 주어질 때,
n이 제곱수라면 1을 아니라면 2를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    return 1 if str(n**0.5).split(".")[1] == "0" else 2

#### 문자열안에 문자열
```
문자열 str1, str2가 매개변수로 주어집니다. str1 안에 str2가 있다면 1을 없다면 2를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(str1, str2):
    return 1 if str2 in str1 else 2

#### OX퀴즈
```
덧셈, 뺄셈 수식들이 'X [연산자] Y = Z' 형태로 들어있는 문자열 배열 quiz가 매개변수로 주어집니다.
수식이 옳다면 "O"를 틀리다면 "X"를 순서대로 담은 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(quiz):
    ret = []
    for i in quiz:
        q, s = i.split("=")
        if eval(q) == int(s):
            ret.append("O")
        else:
            ret.append("X")
    return ret

### midpoint 13

#### 자릿수 더하기
```
정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    return eval("+".join(str(n)))

#### n의 배수 고르기
```
정수 n과 정수 배열 numlist가 매개변수로 주어질 때, numlist에서 n의 배수가 아닌 수들을 제거한 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n, numlist):
    return list(filter(lambda x: x % n == 0, numlist))

#### 숫자 찾기
```
정수 num과 k가 매개변수로 주어질 때, num을 이루는 숫자 중에 k가 있으면 num의 그 숫자가 있는 자리 수를 return하고
없으면 -1을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(num, k):
    return (" " + str(num)).find(str(k))

In [ ]:
# 1부터 시작하는 자리수를 의미하므로 빈 문자열 하나를 넣어줌.

#### 배열의 유사도
```
두 배열이 얼마나 유사한지 확인해보려고 합니다. 문자열 배열 s1과 s2가 주어질 때 같은 원소의 개수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# set 교집합
# 1. set1 & set2
# 2. set1.intersection(set2)

#### 문자열 계산하기
```
my_string은 "3 + 5"처럼 문자열로 된 수식입니다. 문자열 my_string이 매개변수로 주어질 때,
수식을 계산한 값을 return 하는 solution 함수를 완성해주세요.
```

In [ ]:
def solution(my_string):
    return eval(my_string)

In [ ]:
# 하지만 eval은 보안에 취약해서 실제로는 잘 안쓴다고 한다.
# 아래의 코드가 더 간지나는 것 같다.

In [ ]:
def solution(my_string):
    return sum(int(i) for i in my_string.replace(' - ', ' + -').split(' + '))

In [ ]:
# "3 - 5" 로 주어지면 "3 + -5"로 바꿔버려서 음수로 입력되게끔...ㅎㅎ

#### 가장 큰 수 찾기
```
정수 배열 array가 매개변수로 주어질 때, 가장 큰 수와 그 수의 인덱스를 담은 배열을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(array):
    # sorted를 쓰지 말고 풀어보자...
    ret = max(array)
    return [ret, array.index(ret)]

#### 편지
```
머쓱이는 할머니께 생신 축하 편지를 쓰려고 합니다.
할머니가 보시기 편하도록 글자 한 자 한 자를 가로 2cm 크기로 적으려고 하며, 편지를 가로로만 적을 때,
축하 문구 message를 적기 위해 필요한 편지지의 최소 가로길이를 return 하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(message):
    return len(message) * 2

#### 약수 구하기
```
정수 n이 매개변수로 주어질 때, n의 약수를 오름차순으로 담은 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
# 무작정 for문쓰면 그램 터짐
def solution(n):
    root = int(n ** 0.5)
    ret = []
    for i in range(1, root+1):
        if n % i == 0:
            ret.append(i)
            if (n // i) not in ret:
                ret.append(n // i)
    return sorted(ret)

[1, 2, 3, 4, 6, 8, 12, 24]

#### 한 번만 등장한 문자
```
문자열 s가 매개변수로 주어집니다. s에서 한 번만 등장하는 문자를 사전 순으로 정렬한 문자열을 return 하도록 solution 함수를 완성해보세요.
한 번만 등장하는 문자가 없을 경우 빈 문자열을 return 합니다.
```

In [ ]:
def solution(s):
    return "".join(sorted(filter(lambda x: s.count(x) == 1, s)))

solution("abcabcadc")

'd'

#### 인덱스 바꾸기
```
문자열 my_string과 정수 num1, num2가 매개변수로 주어질 때,
my_string에서 인덱스 num1과 인덱스 num2에 해당하는 문자를 바꾼 문자열을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(my_string, num1, num2):
    s = list(my_string)
    s[num1] = my_string[num2]
    s[num2] = my_string[num1]
    return "".join(s)

solution("hello", 1, 2)

'hlelo'

#### 영어가 싫어요
```
영어가 싫은 머쓱이는 영어로 표기되어있는 숫자를 수로 바꾸려고 합니다.
문자열 numbers가 매개변수로 주어질 때, numbers를 정수로 바꿔 return 하도록 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(numbers):
    lst = ["zero", "one", "two", "three", "four",
           "five", "six", "seven", "eight", "nine"]
    dic = {lst[i]: str(i) for i in range(10)}
    for i in lst:
        if i in numbers:
            numbers = numbers.replace(i, dic[i])
    return int(numbers)

solution("onefourzerosixseven")

14067

In [ ]:
# enumerate을 사용하면 더 깔끔하네?
def solution(numbers):
    for num, eng in enumerate(["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]):
        numbers = numbers.replace(eng, str(num))
    return int(numbers)

#### 대문자와 소문자
```
문자열 my_string이 매개변수로 주어질 때, 대문자는 소문자로 소문자는 대문자로 변환한 문자열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(my_string):
    ret = ''
    for i in my_string:
        if i.isupper():
            ret += i.lower()
        else:
            ret += i.upper()
    return ret

In [ ]:
# 개사기 코드 ㅋㅋ 와우 이런게 있었구나
def solution(my_string):
    return my_string.swapcase()

#### 삼각형의 완성조건 (1)
```
선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.
삼각형의 세 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 세 변으로 삼각형을 만들 수 있다면 1, 만들 수 없다면 2를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(sides):
    x = sorted(sides)
    return 1 if sum(x[:2]) > x[2] else 2

#### 이진수 더하기
```
이진수를 의미하는 두 개의 문자열 bin1과 bin2가 매개변수로 주어질 때, 두 이진수의 합을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(bin1, bin2):
    ret = int("0b" + bin1, 2) + int("0b" + bin2, 2)
    return bin(ret)[2:]

#### 치킨 쿠폰
```
프로그래머스 치킨은 치킨을 시켜먹으면 한 마리당 쿠폰을 한 장 발급합니다.
쿠폰을 열 장 모으면 치킨을 한 마리 서비스로 받을 수 있고, 서비스 치킨에도 쿠폰이 발급됩니다.
시켜먹은 치킨의 수 chicken이 매개변수로 주어질 때 받을 수 있는 최대 서비스 치킨의 수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(chicken):
    ret = 0
    while chicken >= 10:
        print(f"전 치킨: {chicken}, 전 서비스: {ret}")
        cnt = chicken // 10
        ret += cnt
        chicken -= (cnt*9)
        print(f"후 치킨: {chicken}, 후 서비스: {ret}")
    return ret

solution(1081)

전 치킨: 1081, 전 서비스: 0
후 치킨: 109, 후 서비스: 108
전 치킨: 109, 전 서비스: 108
후 치킨: 19, 후 서비스: 118
전 치킨: 19, 전 서비스: 118
후 치킨: 10, 후 서비스: 119
전 치킨: 10, 전 서비스: 119
후 치킨: 1, 후 서비스: 120

120

### midpoint 14

#### 로그인 성공?
```
머쓱이는 프로그래머스에 로그인하려고 합니다.
머쓱이가 입력한 아이디와 패스워드가 담긴 배열 id_pw와 회원들의 정보가 담긴 2차원 배열 db가 주어질 때,
다음과 같이 로그인 성공, 실패에 따른 메시지를 return하도록 solution 함수를 완성해주세요.

아이디와 비밀번호가 모두 일치하는 회원정보가 있으면 "login"을 return합니다.
로그인이 실패했을 때 아이디가 일치하는 회원이 없다면 “fail”를, 아이디는 일치하지만 비밀번호가 일치하는 회원이 없다면 “wrong pw”를 return 합니다.
```

In [ ]:
def solution(id_pw, db):
    id, pw = id_pw[0], id_pw[1]
    for i, p in db:
        if i == id:
            if p == pw:
                return "login"
            else:
                return "wrong pw"
    return "fail"

solution(["meosseugi", "1234"],	[["rardss", "123"], ["yyoom", "1234"], ["meosseugi", "1234"]])

'login'

#### 등수 매기기
```
영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다. 영어 점수와 수학 점수를 담은 2차원 정수 배열 score가 주어질 때,
영어 점수와 수학 점수의 평균을 기준으로 매긴 등수를 담은 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(score):
    lst = [sum(i) for i in score]
    reversed_lst = sorted(lst, reverse=True)
    ret = []
    for i in lst:
        ret.append(reversed_lst.index(i)+1)
    return ret

solution([[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]])

[4, 4, 6, 2, 2, 1, 7]

#### 특이한 정렬
```
정수 n을 기준으로 n과 가까운 수부터 정렬하려고 합니다. 이때 n으로부터의 거리가 같다면 더 큰 수를 앞에 오도록 배치합니다.
정수가 담긴 배열 numlist와 정수 n이 주어질 때 numlist의 원소를 n으로부터 가까운 순서대로 정렬한 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(numlist, n):
    return sorted(numlist, key=lambda x: (abs(n-x), n-x))

solution([10, 2], 6)

[10, 2]

#### 유한소수 판별하기
```
소수점 아래 숫자가 계속되지 않고 유한개인 소수를 유한소수라고 합니다.
분수를 소수로 고칠 때 유한소수로 나타낼 수 있는 분수인지 판별하려고 합니다.
유한소수가 되기 위한 분수의 조건은 다음과 같습니다.

기약분수로 나타내었을 때, 분모의 소인수가 2와 5만 존재해야 합니다.
두 정수 a와 b가 매개변수로 주어질 때, a/b가 유한소수이면 1을,
무한소수라면 2를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
# 다른 사람 풀이. gcd함수를 처음 봤다.
from math import gcd

def solution(a, b):
    b = b / gcd(a, b)
    for i in [2, 5]:
        while not b % i:
            b //= i

    return 1 if b == 1 else 2

In [ ]:
# 다른 풀이 2
def solution(a, b):
    answer = 0
    for i in range(2, min([a, b]) + 1):
        while a % i == 0 and b % i == 0:
            a = a // i
            b = b // i
    while b % 2 == 0:
        b = b // 2
    while b % 5 == 0:
        b = b // 5
    if b == 1:
        answer = 1
    else:
        answer = 2
    return answer

#### 겹치는 선분의 길이
```
선분 3개가 평행하게 놓여 있습니다.
세 선분의 시작과 끝 좌표가 [[start, end], [start, end], [start, end]] 형태로 들어있는 2차원 배열 lines가 매개변수로 주어질 때,
두 개 이상의 선분이 겹치는 부분의 길이를 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(lines):
    test = []
    for p1, p2 in lines:
        test.append(set([x for x in range(p1, p2)]))
    ret = test[0] & test[1] | test[1] & test[2] | test[2] & test[0]

    return len(ret)

solution([[0, 5], [3, 9], [1, 10]])

8

In [ ]:
# 훨씬 깔끔한 코드. 마지막 합집합 부분은 이 코드를 참고했다 ㅎ
def solution(lines):
    sets = [set(range(min(l), max(l))) for l in lines]
    return len(sets[0] & sets[1] | sets[0] & sets[2] | sets[1] & sets[2])

#### 평행
```
점 네 개의 좌표를 담은 이차원 배열  dots가 다음과 같이 매개변수로 주어집니다.

[[x1, y1], [x2, y2], [x3, y3], [x4, y4]]
주어진 네 개의 점을 두 개씩 이었을 때, 두 직선이 평행이 되는 경우가 있으면 1을 없으면 0을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
# 내 원래 답. 테스트케이스 1, 10 실패.
def solution(dots):
    lst = list(zip(*dots))
    l, x = lst[0], lst[1]
    l1, l2, l3, l4 = [*l]
    x1, x2, x3, x4 = [*x]

    if abs(l1 - l2) == abs(l3 - l4) and abs(x1 - x2) == abs(x3 - x4):
        return 1
    elif abs(l1 - l3) == abs(l2 - l4) and abs(x1 - x3) == abs(x2 - x4):
        return 1
    elif abs(l1 - l4) == abs(l2 - l3) and abs(x1 - x4) == abs(x2 - x3):
        return 1
    else:
        return 0

In [ ]:
# 기울기를 비교하는것으로 변경해봄. 통과.
def solution(dots):
    lst = list(zip(*dots))
    x, y = lst[0], lst[1]
    x1, x2, x3, x4 = [*x]
    y1, y2, y3, y4 = [*y]

    if (abs(y1-y2)/abs(x1-x2)) == (abs(y3-y4)/abs(x3-x4)):
        return 1
    elif (abs(y1-y3)/abs(x1-x3)) == (abs(y2-y4)/abs(x2-x4)):
        return 1
    elif (abs(y1-y4)/abs(x1-x4)) == (abs(y2-y3)/abs(x2-x3)):
        return 1
    return 0

solution([[1, 4], [9, 2], [3, 8], [11, 6]])

1

In [ ]:
# 근데 안이쁘다ㅜㅜ

#### 외계어 사전
```
PROGRAMMERS-962 행성에 불시착한 우주비행사 머쓱이는 외계행성의 언어를 공부하려고 합니다.
알파벳이 담긴 배열 spell과 외계어 사전 dic이 매개변수로 주어집니다.
spell에 담긴 알파벳을 한번씩만 모두 사용한 단어가 dic에 존재한다면 1,
존재하지 않는다면 2를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(spell, dic):
    for s in dic:
        if set(s) == set(spell):
            return 1
    return 2

In [ ]:
# 생각해보니 문제가 있는 코드다.
# 한번씩만 사용해야하는데 그 이상이 될수도 있다.
# 아래와 같이 수정해야 맞지 않나?... 어쨌든 테스트케이스에선 모두 통과되긴 했다.
def solution(spell, dic):
    for s in dic:
        if set(s) == set(spell) and len(s) == len(spell):
            return 1
    return 2

#### 삼각형의 완성조건 (2)
```
선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.
삼각형의 두 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 나머지 한 변이 될 수 있는 정수의 개수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(sides):
    return len([i for i in range(abs(sides[0]-sides[1])+1, sum(sides))])

#### 안전지대
```
다음 그림과 같이 지뢰가 있는 지역과 지뢰에 인접한 위, 아래, 좌, 우 대각선 칸을 모두 위험지역으로 분류합니다.

지뢰는 2차원 배열 board에 1로 표시되어 있고 board에는 지뢰가 매설 된 지역 1과, 지뢰가 없는 지역 0만 존재합니다.
지뢰가 매설된 지역의 지도 board가 매개변수로 주어질 때,
안전한 지역의 칸 수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
# for+if 덩어리가 되길래 포기했다...
# 아래는 좋아요 수가 제일 많았던 파이썬 풀이.
def solution(board):
    n = len(board)
    danger = set()
    for i, row in enumerate(board):
        for j, x in enumerate(row):
            if not x:
                continue
            danger.update((i+di, j+dj) for di in [-1,0,1] for dj in [-1, 0, 1])
    return n*n - sum(0 <= i < n and 0 <= j < n for i, j in danger)

In [ ]:
# 이게 Lv0이 맞냐?!

#### 숨어있는 숫자의 덧셈 (2)
```
문자열 my_string이 매개변수로 주어집니다. my_string은 소문자, 대문자, 자연수로만 구성되어있습니다.
my_string안의 자연수들의 합을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
import re

def solution(my_string):
    s = re.sub(r"[^0-9]", " ", my_string)
    ret = s.split()
    return sum(int(i) for i in ret)

solution("1a2b3c4d123Z")

133

In [ ]:
# eval("+".join(ret))하면 런타임 에러난다 ^^

#### 다항식 더하기
```
한 개 이상의 항의 합으로 이루어진 식을 다항식이라고 합니다. 다항식을 계산할 때는 동류항끼리 계산해 정리합니다.
덧셈으로 이루어진 다항식 polynomial이 매개변수로 주어질 때, 동류항끼리 더한 결괏값을 문자열로 return 하도록 solution 함수를 완성해보세요.
같은 식이라면 가장 짧은 수식을 return 합니다.
```

In [ ]:
def solution(polynomial):
    s = polynomial.split(" + ")
    x, num = 0, 0
    for i in s:
        if "x" in i:
            if i == "x":
                x += 1
            else:
                tmp = i.split("x")[0]
                x += int(tmp)
        else:
            num += int(i)
    if x == 0 and num != 0:
        return f"{num}"
    elif x != 0 and num == 0:
        if x == 1:
            return "x"
        return f"{x}x"
    else:
        if x == 1:
            return f"x + {num}"
        return f"{x}x + {num}"

In [ ]:
# 나보다 더 깔끔한 코드!
def solution(polynomial):
    xnum = 0
    const = 0
    for c in polynomial.split(' + '):
        if c.isdigit():
            const+=int(c)
        else:
            xnum = xnum+1 if c=='x' else xnum+int(c[:-1])
    if xnum == 0:
        return str(const)
    elif xnum==1:
        return 'x + '+str(const) if const!=0 else 'x'
    else:
        return f'{xnum}x + {const}' if const!=0 else f'{xnum}x'

### midpoint 15

#### 최댓값 만들기 (2)
```
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(numbers):
    n = sorted(numbers)
    ret1 = n[-1] * n[-2]
    ret2 = n[0] * n[1]
    return max(ret1, ret2)

solution([1, 2, -3, 4, -5])

15

#### 캐릭터의 좌표
```
머쓱이는 RPG게임을 하고 있습니다.
게임에는 up, down, left, right 방향키가 있으며 각 키를 누르면 위, 아래, 왼쪽, 오른쪽으로 한 칸씩 이동합니다.
예를 들어 [0,0]에서 up을 누른다면 캐릭터의 좌표는 [0, 1], down을 누른다면 [0, -1],
left를 누른다면 [-1, 0], right를 누른다면 [1, 0]입니다.
머쓱이가 입력한 방향키의 배열 keyinput와 맵의 크기 board이 매개변수로 주어집니다.
캐릭터는 항상 [0,0]에서 시작할 때 키 입력이 모두 끝난 뒤에 캐릭터의 좌표 [x, y]를 return하도록 solution 함수를 완성해주세요.

[0, 0]은 board의 정 중앙에 위치합니다.
예를 들어 board의 가로 크기가 9라면 캐릭터는 왼쪽으로 최대 [-4, 0]까지 오른쪽으로 최대 [4, 0]까지 이동할 수 있습니다.
```

In [ ]:
# 강사님 방청소 버전으로 풀어보자 ㅎㅎ 간지났음
def solution(keyinput, board):
    path = {"up": (0, 1), "down": (0, -1), "left": (-1, 0), "right": (1, 0)}
    x, y = 0, 0
    max_x = (board[0]-1) // 2
    max_y = (board[1]-1) // 2

    for i in keyinput:
        dx, dy = path[i]
        nx, ny = x + dx, y + dy

        if -(max_x) <= nx <= max_x and -(max_y) <= ny <= max_y:
            x, y = nx, ny
    return [x, y]

solution(["left", "right", "up", "right", "right"], [11, 11])

[2, 1]

#### 직사각형 넓이 구하기
```
2차원 좌표 평면에 변이 축과 평행한 직사각형이 있습니다.
직사각형 네 꼭짓점의 좌표 [[x1, y1], [x2, y2], [x3, y3], [x4, y4]]가 담겨있는 배열 dots가 매개변수로 주어질 때,
직사각형의 넓이를 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(dots):
    lst = list(zip(*dots))
    x, y = max(lst[0])-min(lst[0]), max(lst[1])-min(lst[1])
    return x * y

#### 배열 원소의 길이
```
문자열 배열 strlist가 매개변수로 주어집니다. strlist 각 원소의 길이를 담은 배열을 retrun하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(strlist):
    return [len(i) for i in strlist]

#### 컨트롤 제트
```
숫자와 "Z"가 공백으로 구분되어 담긴 문자열이 주어집니다. 문자열에 있는 숫자를 차례대로 더하려고 합니다.
이 때 "Z"가 나오면 바로 전에 더했던 숫자를 뺀다는 뜻입니다. 숫자와 "Z"로 이루어진 문자열 s가 주어질 때,
머쓱이가 구한 값을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(s):
    lst = s.split()
    ret = []
    for i in lst:
        if i == "Z":
            ret.pop()
        else:
            ret.append(int(i))
    return sum(ret)

solution("10 Z 20 Z 1")

1

#### 소인수분해
```
소인수분해란 어떤 수를 소수들의 곱으로 표현하는 것입니다. 예를 들어 12를 소인수 분해하면 2 * 2 * 3 으로 나타낼 수 있습니다.
따라서 12의 소인수는 2와 3입니다. 자연수 n이 매개변수로 주어질 때 n의 소인수를 오름차순으로 담은 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    num = int(n ** 0.5)
    ret = set()
    i = 2
    while i <= num:
        if n % i == 0:
            ret.add(i)
            n = n // i
        else:
            i += 1
    if n > 1:
        ret.add(n)
    return sorted(ret)

solution(420)

[2, 3, 5, 7]

#### 문자열 정렬하기 (1)
```
문자열 my_string이 매개변수로 주어질 때, my_string 안에 있는 숫자만 골라 오름차순 정렬한 리스트를 return 하도록 solution 함수를 작성해보세요.
```

In [ ]:
import re

def solution(my_string):
    s = re.findall(r"\d", my_string)
    return sorted(map(int, s))

solution("hi12392")

[1, 2, 2, 3, 9]

#### 모음 제거
```
영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다.
문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(my_string):
    모음 = ["a", "e", "i", "o", "u"]
    ret = ""
    for i in my_string:
        if i not in 모음:
            ret += i
    return ret

#### 팩토리얼
```
i팩토리얼 (i!)은 1부터 i까지 정수의 곱을 의미합니다. 예를들어 5! = 5 * 4 * 3 * 2 * 1 = 120 입니다.
정수 n이 주어질 때 다음 조건을 만족하는 가장 큰 정수 i를 return 하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    i = 1
    factorial = 1
    while factorial <= n:
        i += 1
        factorial *= i
    return i - 1

solution(7)

3

#### 최댓값 만들기 (1)
```
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(numbers):
    s = sorted(numbers)
    return s[-1] * s[-2]

#### 합성수 찾기
```
약수의 개수가 세 개 이상인 수를 합성수라고 합니다. 자연수 n이 매개변수로 주어질 때 n이하의 합성수의 개수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    composite_count = 0
    for i in range(4, n+1): # 4부터 시작하는 이유는 4가 첫 합성수이기 때문입니다.
        for j in range(2, int(i ** 0.5) + 1):
            if i % j == 0:
                composite_count += 1
                break
    return composite_count

In [ ]:
# 결국 AI의 도움을 받았다... 아오ㅜㅜ

#### 주사위의 개수
```
머쓱이는 직육면체 모양의 상자를 하나 가지고 있는데 이 상자에 정육면체 모양의 주사위를 최대한 많이 채우고 싶습니다.
상자의 가로, 세로, 높이가 저장되어있는 배열 box와 주사위 모서리의 길이 정수 n이 매개변수로 주어졌을 때,
상자에 들어갈 수 있는 주사위의 최대 개수를 return 하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(box, n):
    s = [i // n for i in box]
    return s[0] * s[1] * s[2]

#### 배열 회전시키기
```
정수가 담긴 배열 numbers와 문자열 direction가 매개변수로 주어집니다.
배열 numbers의 원소를 direction방향으로 한 칸씩 회전시킨 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(numbers, direction):
    if direction == "left":
        return numbers[1:] + [numbers[0]]
    else:
        return [numbers[-1]] + numbers[:-1]

### midpoint 16

#### 공 던지기
```
머쓱이는 친구들과 동그랗게 서서 공 던지기 게임을 하고 있습니다. 공은 1번부터 던지며 오른쪽으로 한 명을 건너뛰고 그다음 사람에게만 던질 수 있습니다.
친구들의 번호가 들어있는 정수 배열 numbers와 정수 K가 주어질 때, k번째로 공을 던지는 사람의 번호는 무엇인지 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(numbers, k):
    length = len(numbers)
    index = (k - 1) * 2 % length
    return numbers[index]

solution([1, 2, 3, 4, 5, 6], 5)

3

In [ ]:
# 런타임 오류가 나서 AI돌렸다. danny한테 위스키 추천이나 받아야겠다...ㅎ

#### 2차원으로 만들기
```
정수 배열 num_list와 정수 n이 매개변수로 주어집니다. num_list를 다음 설명과 같이 2차원 배열로 바꿔 return하도록 solution 함수를 완성해주세요.

num_list가 [1, 2, 3, 4, 5, 6, 7, 8] 로 길이가 8이고 n이 2이므로 num_list를 2 * 4 배열로 다음과 같이 변경합니다.
2차원으로 바꿀 때에는 num_list의 원소들을 앞에서부터 n개씩 나눠 2차원 배열로 변경합니다.
```

In [ ]:
def solution(num_list, n):
    ret = []
    for i in range(0, len(num_list)-n+1, n):
        ret.append(num_list[i:i+n])
    return ret

#### 점의 위치 구하기
```
사분면은 한 평면을 x축과 y축을 기준으로 나눈 네 부분입니다. 사분면은 아래와 같이 1부터 4까지 번호를매깁니다.
```
```
x 좌표와 y 좌표가 모두 양수이면 제1사분면에 속합니다.
x 좌표가 음수, y 좌표가 양수이면 제2사분면에 속합니다.
x 좌표와 y 좌표가 모두 음수이면 제3사분면에 속합니다.
x 좌표가 양수, y 좌표가 음수이면 제4사분면에 속합니다.
x 좌표 (x, y)를 차례대로 담은 정수 배열 dot이 매개변수로 주어집니다.
좌표 dot이 사분면 중 어디에 속하는지 1, 2, 3, 4 중 하나를 return 하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(dots):
    x, y = dots
    if x > 0 and y > 0:
        return 1
    elif x < 0 and y > 0:
        return 2
    elif x < 0 and y < 0:
        return 3
    else:
        return 4

#### 구슬을 나누는 경우의 수
```
머쓱이는 구슬을 친구들에게 나누어주려고 합니다. 구슬은 모두 다르게 생겼습니다.
머쓱이가 갖고 있는 구슬의 개수 balls와 친구들에게 나누어 줄 구슬 개수 share이 매개변수로 주어질 때,
balls개의 구슬 중 share개의 구슬을 고르는 가능한 모든 경우의 수를 return 하는 solution 함수를 완성해주세요.
```

In [ ]:
def solution(balls, share):
    n1, n2, n3 = 1, 1, 1

    for i in range(balls, 0, -1):
        n1 *= i

    for i in range((balls-share), 0, -1):
        n2 *= i

    for i in range(share, 0, -1):
        n3 *= i

    return n1 // (n2 * n3)

solution(3, 2)

3

In [ ]:
# 정말 무식하게 풀었다. 다시는 이렇게 풀고싶지 않다!

In [ ]:
# 다른분의 풀이 1
def solution(balls, share):
    a, b = 1, 1
    for i in range(1,share+1):
        a *= balls
        balls -= 1
        b *= i
    return int(a / b)

# 다른분의 풀이 2 - 와우......
import math


def solution(balls, share):
    return math.comb(balls, share)

#### 가위 바위 보
```
가위는 2 바위는 0 보는 5로 표현합니다. 가위 바위 보를 내는 순서대로 나타낸 문자열 rsp가 매개변수로 주어질 때,
rsp에 저장된 가위 바위 보를 모두 이기는 경우를 순서대로 나타낸 문자열을 return하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(rsp):
    ret = ""
    for i in rsp:
        if i == "2":
            ret += "0"
        elif i == "0":
            ret += "5"
        else:
            ret += "2"
    return ret

In [ ]:
# 우왕 딕셔너리를 이용한 풀이!
def solution(rsp):
    d = {'0':'5','2':'0','5':'2'}
    return ''.join(d[i] for i in rsp)

#### 모스부호 (1)
```
머쓱이는 친구에게 모스부호를 이용한 편지를 받았습니다. 그냥은 읽을 수 없어 이를 해독하는 프로그램을 만들려고 합니다.
문자열 letter가 매개변수로 주어질 때, letter를 영어 소문자로 바꾼 문자열을 return 하도록 solution 함수를 완성해보세요.
모스부호는 다음과 같습니다.
```
```
morse = {
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f',
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l',
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r',
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x',
    '-.--':'y','--..':'z'
}
```

In [ ]:
def solution(letter):
    morse = {
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f',
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l',
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r',
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x',
    '-.--':'y','--..':'z'
    }
    return "".join([morse[i] for i in letter.split()])

'hello'

#### 개미 군단
```
개미 군단이 사냥을 나가려고 합니다. 개미군단은 사냥감의 체력에 딱 맞는 병력을 데리고 나가려고 합니다.
장군개미는 5의 공격력을, 병정개미는 3의 공격력을 일개미는 1의 공격력을 가지고 있습니다.
예를 들어 체력 23의 여치를 사냥하려고 할 때, 일개미 23마리를 데리고 가도 되지만, 장군개미 네 마리와 병정개미 한 마리를 데리고 간다면 더 적은 병력으로 사냥할 수 있습니다.
사냥감의 체력 hp가 매개변수로 주어질 때, 사냥감의 체력에 딱 맞게 최소한의 병력을 구성하려면 몇 마리의 개미가 필요한지를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(hp):
    ants = [5, 3, 1]
    i, cnt = 0, 0
    while hp > 0:
        if hp < ants[i]:
            i += 1
        cnt += (hp // ants[i])
        hp %= ants[i]
    return cnt

201

#### 순서쌍의 개수
```
순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다.
자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(n):
    cnt = 0
    for i in range(1, n+1):
        if n % i == 0:
            cnt += 1
    return cnt

9

In [ ]:
# 다른분이 작성한 한줄 코드...인데 별로 좋아보이진 않는다.
def solution(n):
    return len(list(filter(lambda v: n % (v+1) == 0, range(n))))

#### 외계행성의 나이
```
우주여행을 하던 머쓱이는 엔진 고장으로 PROGRAMMERS-962 행성에 불시착하게 됐습니다.
입국심사에서 나이를 말해야 하는데, PROGRAMMERS-962 행성에서는 나이를 알파벳으로 말하고 있습니다.
a는 0, b는 1, c는 2, ..., j는 9입니다. 예를 들어 23살은 cd, 51살은 fb로 표현합니다.
나이 age가 매개변수로 주어질 때 PROGRAMMER-962식 나이를 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(age):
    alp = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
    ages = {str(i):alp[i] for i in range(len(alp))}
    return "".join([ages[i] for i in str(age)])

'baa'

#### 배열 자르기
```
정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때,
numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(numbers, num1, num2):
    return numbers[num1:num2+1]

#### 짝수의 합
```
정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.
```

In [ ]:
def solution(n):
    return sum(filter(lambda x: x % 2 == 0, [i for i in range(1, n+1)]))

#### 양꼬치
```
머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다.
정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(n, k):
    nk = n // 10
    return n*12000 + (k-nk)*2000

#### 각도기
```
각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다.
각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.

예각 : 0 < angle < 90
직각 : angle = 90
둔각 : 90 < angle < 180
평각 : angle = 180
```

In [ ]:
def solution(angle):
    if 0 < angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif 90 < angle < 180:
        return 3
    else:
        return 4

In [ ]:
# 이야~~~~ 대박이다! 나도 이렇게 머리쓰고싶다.
def solution(angle):
    answer = (angle // 90) * 2 + (angle % 90 > 0) * 1
    return answer

    # 1. 예각인 경우
    # (angle // 90) -> 0이므로 패스, (angle % 90 > 0) -> True니까 1, 1*1로 1 반환
    # 2. 직각인 경우
    # (angle // 90) -> 1이므로 1*2, (angle % 90 > 0) -> False이므로 패스. 즉 2 반환.
    # 3. 둔각인 경우
    # (angle // 90) -> 1이므로 1*2, (angle % 90 > 0) -> True니까 1, 2+1= 3 반환
    # 4. 평각인 경우
    # (angle // 90) -> 2이므로 2*2, 뒤에는 False이므로 패스. 4 반환

    # 멋있당

#### 특정 문자 제거하기
```
문자열 my_string과 문자 letter이 매개변수로 주어집니다. my_string에서 letter를 제거한 문자열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(my_string, letter):
    return my_string.replace(letter, "")

#### 문자 반복 출력하기
```
문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string에 들어있는 각 문자를 n만큼 반복한 문자열을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(my_string, n):
    return "".join(i*n for i in my_string)

#### 직각삼각형 출력하기
```
"*"의 높이와 너비를 1이라고 했을 때, "*"을 이용해 직각 이등변 삼각형을 그리려고합니다.
정수 n 이 주어지면 높이와 너비가 n 인 직각 이등변 삼각형을 출력하도록 코드를 작성해보세요.
```

In [ ]:
n = int(input())
for i in range(1, n+1):
    print("*" * i)

2
*
**

In [ ]:
# 우왕 한줄
print('\n'.join('*' * (i + 1) for i in range(int(input()))))

2
*
**

#### 문자열 뒤집기
```
문자열 my_string이 매개변수로 주어집니다. my_string을 거꾸로 뒤집은 문자열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(my_string):
    return my_string[::-1]

#### 배열 뒤집기
```
정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num_list):
    return num_list[::-1]

#### 나이 출력
```
머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.
```

In [ ]:
def solution(age):
    return 2023 - age

#### 아이스 아메리카노
```
머쓱이는 추운 날에도 아이스 아메리카노만 마십니다. 아이스 아메리카노는 한잔에 5,500원입니다.
머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때,
머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(money):
    return [money//5500, money%5500]

#### 옷가게 할인 받기
```
머쓱이네 옷가게는 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인해줍니다.
구매한 옷의 가격 price가 주어질 때, 지불해야 할 금액을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(price):
    if 100000 <= price < 300000:
        return int(price * 0.95)
    elif 300000 <= price < 500000:
        return int(price * 0.9)
    elif price >= 500000:
        return int(price * 0.8)
    else:
        return price

In [ ]:
# 우왕 딕셔너리!!
def solution(price):
    discount_rates = {500000: 0.8, 300000: 0.9, 100000: 0.95, 0: 1}
    for discount_price, discount_rate in discount_rates.items():
        if price >= discount_price:
            return int(price * discount_rate)

#### 배열의 평균값
```
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 평균값을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(numbers):
    return sum(numbers) / len(numbers)

#### 피자 나눠 먹기 (3)
```
머쓱이네 피자가게는 피자를 두 조각에서 열 조각까지 원하는 조각 수로 잘라줍니다.
피자 조각 수 slice와 피자를 먹는 사람의 수 n이 매개변수로 주어질 때,
n명의 사람이 최소 한 조각 이상 피자를 먹으려면 최소 몇 판의 피자를 시켜야 하는지를 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(slice, n):
    return n//slice if n%slice==0 else n//slice+1

#### 피자 나눠 먹기 (2)
```
머쓱이네 피자가게는 피자를 여섯 조각으로 잘라 줍니다.
피자를 나눠먹을 사람의 수 n이 매개변수로 주어질 때,
n명이 주문한 피자를 남기지 않고 모두 같은 수의 피자 조각을 먹어야 한다면 최소 몇 판을 시켜야 하는지를 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(n):
    if n % 6 == 0:
        return n // 6

    i = 2
    while True:
        if n * i % 6 == 0:
            return n * i // 6
        i += 1

In [ ]:
# 나보다 더 간결한 코드...
def solution(n):
    i=1
    while(1):
        if (6*i)%n==0:
            return i
        i+=1

#### 피자 나눠 먹기 (1)
피자좀 그만 나눠먹어라
```
머쓱이네 피자가게는 피자를 일곱 조각으로 잘라 줍니다. 피자를 나눠먹을 사람의 수 n이 주어질 때,
모든 사람이 피자를 한 조각 이상 먹기 위해 필요한 피자의 수를 return 하는 solution 함수를 완성해보세요.
```

In [ ]:
def solution(n):
    if n % 7 == 0:
        return n // 7
    elif n < 7:
        return 1
    else:
        return n // 7 + 1

3

In [ ]:
# 젠장ㅜㅜ 수학공부 열심히할걸
def solution(n):
    return (n - 1) // 7 + 1

# 수학문제집을 살까?
def solution(n):
    return -(-n//7)

In [1]:
-30 // 7

-5

#### 짝수는 싫어요
```
정수 n이 매개변수로 주어질 때, n 이하의 홀수가 오름차순으로 담긴 배열을 return하도록 solution 함수를 완성해주세요.
```

In [2]:
def solution(n):
    return sorted(filter(lambda x: x % 2 != 0, [i for i in range(n+1)]))

#### 최빈값 구하기
```
최빈값은 주어진 값 중에서 가장 자주 나오는 값을 의미합니다.
정수 배열 array가 매개변수로 주어질 때, 최빈값을 return 하도록 solution 함수를 완성해보세요.
최빈값이 여러 개면 -1을 return 합니다.
```

In [32]:
def solution(array):
    dic = {i:array.count(i) for i in array}
    ret = sorted(dic.keys(), key=lambda x: dic[x], reverse=True)
    values = [dic[i] for i in dic]
    return ret[0] if values.count(dic[ret[0]]) == 1 else -1

solution([1, 1, 2, 2])

-1

In [33]:
# 풀기에 급급해서 더럽게 풀어버렸다.
# 다른분 코드!
def solution(array):
    while len(array) != 0:
        for i, a in enumerate(set(array)):
            array.remove(a)
        if i == 0: return a
    return -1

In [41]:
# 코드가 이해가 잘 안돼서 돌려봤다.

In [40]:
data = [1, 2, 3, 3, 3, 4]
data2 = [1, 1, 2, 2]
def solution(array):
    while len(array) != 0:
        for i, a in enumerate(set(array)):
            print("전", array)
            array.remove(a)
            print(array)
        if i == 0: return a
    return -1
solution(data)

전 [1, 2, 3, 3, 3, 4]
[2, 3, 3, 3, 4]
전 [2, 3, 3, 3, 4]
[3, 3, 3, 4]
전 [3, 3, 3, 4]
[3, 3, 4]
전 [3, 3, 4]
[3, 3]
전 [3, 3]
[3]

3

In [42]:
# 나는 더욱 더 간지나게 풀것이다...

#### 중앙값 구하기
```
중앙값은 어떤 주어진 값들을 크기의 순서대로 정렬했을 때 가장 중앙에 위치하는 값을 의미합니다.
예를 들어 1, 2, 7, 10, 11의 중앙값은 7입니다. 정수 배열 array가 매개변수로 주어질 때, 중앙값을 return 하도록 solution 함수를 완성해보세요.
```

In [ ]:
def solution(array):
    ret = sorted(array)
    return ret[(len(ret)-1)//2]