#81번
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.
```
>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]
```
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [1]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [2]:
# 정답
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)
# 별다른 변수가 필요하지 않으면 _를 써도 됐다. 깜빡! 틀린 답은 아니었음.

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

# 82번
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [4]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 83번
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

In [5]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

# 84번
temp 이름의 비어있는 딕셔너리를 만들라.

In [6]:
temp = {}
type(temp)

dict

# 85번
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
```
이름	희망 가격
메로나	1000
폴라포	1200
빵빠레	1800
```

In [7]:
ice_cream = {
    "메로나": 1000,
    "폴라모": 1200,
    "빵빠레": 1800
}
ice_cream

{'메로나': 1000, '폴라모': 1200, '빵빠레': 1800}

# 86번
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
```
이름	희망 가격
죠스바	1200
월드콘	1500
```

In [ ]:
ice_cream.update("죠스바": 1200, "월드콘": 1500)
# 추가하는 방법 까먹었다.

In [9]:
# 정답
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [10]:
# 여러개를 추가하려면 딕셔너리를 새로 생성하고 update하는 방법밖엔 없다.

In [11]:
ice_cream2 = {"죠스바": 1200, "월드콘": 1500}
ice_cream.update(ice_cream2)
ice_cream

{'메로나': 1000, '폴라모': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 87번
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```
```
실행 예:
메로나 가격: 1000
```

In [ ]:
print(f"{ice_cream[].keys} 가격: {ice_cream[0]}")

In [14]:
# 아뿔싸! 딕셔너리는 인덱스값을 지원하지 않는다;;

In [15]:
# 정답
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

# 88번
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

In [16]:
ice_cream["메로나"] = 1300
ice_cream

{'메로나': 1300, '폴라모': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 89번
다음 딕셔너리에서 메로나를 삭제하라.

In [17]:
print(ice_cream)
del ice_cream["메로나"]
ice_cream

{'메로나': 1300, '폴라모': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

{'폴라모': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 90번
다음 코드에서 에러가 발생한 원인을 설명하라.
```
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
```

In [18]:
# '누가바'라는 키값이 없기 때문.

---

# 91번
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.
```
이름     가격    재고
메로나	300	20
비비빅	400	3
죠스바	250	100
```

In [21]:
lst = [[300, 20], [400, 3], [250, 100]]
inventory = {
    "메로나": lst[0],
    "비비빅": lst[1],
    "죠스바": lst[2]
}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

# 93번
inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

In [22]:
print(inventory["메로나"][1])

20

# 94번
inventory 딕셔너리에 아래 데이터를 추가하라.
```
이름	가격	재고
월드콘	500	7
```

In [23]:
inventory["월드콘"] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

# 95번
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

In [26]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream_lst = list(icecream.keys())
icecream_lst

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

# 96번
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

In [27]:
icecream_lst = list(icecream.values())
icecream_lst

[1200, 1200, 1800, 1500, 1000]

# 97번
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [28]:
sum(icecream.values())

6700

# 98번
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
```
new_product = {'팥빙수':2700, '아맛나':1000}
```

In [29]:
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

# 99번
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
```
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
```
```
실행 예시:
>> print(result)
{'apple': 300, 'pear': 250, 'peach': 400}
```

In [33]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)
# 그냥 될까 싶어서 해봤는데 맞은거다. zip 쓰면 되는구나;;

{'apple': 300, 'pear': 250, 'peach': 400}

# 100번
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.
```
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
```
```
실행 예시:
>> print(close_table)
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}
```

In [34]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

---

In [35]:
# 만약에 짝이 안맞는다면?
keys1 = ("apple", "pear")
vals1 = (300, 250, 400)
test_dic1 = dict(zip(keys1, vals1))
test_dic1

{'apple': 300, 'pear': 250}

In [36]:
# 밸류값이 없다면?
keys2 = ("apple", "pear", "peach")
vals2 = (300, 400)
test_dic2 = dict(zip(keys2, vals2))
test_dic2

{'apple': 300, 'pear': 400}