<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240127_python_181_200.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
```
101호	102호
201호	202호
301호	302호
```

In [2]:
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

# 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.
```
시가	종가
100	80
200	210
300	330
```

In [4]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

# 183
아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.
```
시가	종가
100	80
200	210
300	330
```

In [5]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

# 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.
```
10/10	80	110	70	90
10/11	210	230	190	200
```

In [6]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

# 185
리스트에 저장된 데이터를 아래와 같이 출력하라.
```
apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
102 호
201 호
202 호
301 호
302 호
```

In [9]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for floor in apart:
    for room in floor:
        print(room, "호")

101 호
102 호
201 호
202 호
301 호
302 호

# 186
리스트에 저장된 데이터를 아래와 같이 출력하라.
```
apart = [ [101, 102], [201, 202], [301, 302] ]
301 호
302 호
201 호
202 호
101 호
102 호
```

In [10]:
# 정답
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

# 187
리스트에 저장된 데이터를 아래와 같이 출력하라.
```
apart = [ [101, 102], [201, 202], [301, 302] ]
302 호
301 호
202 호
201 호
102 호
101 호
```

In [11]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

# 188
리스트에 저장된 데이터를 아래와 같이 출력하라.
```
apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----
```

In [13]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for room in floor:
        print(room,"호"+"\n"+"-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

# 189
리스트에 저장된 데이터를 아래와 같이 출력하라.
```
apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----
```

In [15]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for room in floor:
        print(room,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

# 190
리스트에 저장된 데이터를 아래와 같이 출력하라.
```
apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
102 호
201 호
202 호
301 호
302 호
-----
```

In [16]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for room in floor:
        print(room,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

---

# 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
```
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
```
수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
```
2000.28
3050.427
2050.2870000000003
...
```

In [ ]:
# 수수료 0.014%인데 왜 식이 저렇게 되는거임?

In [24]:
# 정답

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

# 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

In [23]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

# 193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

In [26]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

# 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

In [27]:
# 정답
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [28]:
# 아니 조건이 애매한 문제들이 좀 있다. 쓰면 안되는줄 알았는데 되는게 많음.

# 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.
```
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
```

In [30]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[-1])

100
190
310

# 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

In [31]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[-1] > 150:
        print(i[-1])

190
310

# 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [32]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[-1] >= i[0]:
        print(i[-1])

100
310

# 198
198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [35]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])

volatility

[40, 30, 10]

# 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [36]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[-1] > i[0]:
        print(i[1]-i[0])

10

# 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [37]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
result = 0
for i in ohlc[1:]:
    result += (i[-1]-i[0])
print(result)

0

In [ ]:
# 주식 좋아하시는듯...