<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240128_python_201_220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [8]:
def print_coin():
    print("비트코인")

# 202
201번에서 정의한 함수를 호출하라.

In [9]:
print_coin()

비트코인

# 203
201번에서 정의한 print_coin 함수를 100번호출하라.

In [ ]:
for i in range(100):
    print_coin()

In [11]:
# def print_coin:
#     return "비트코인"
# 으로 하면 출력이 되지 않는다. 왜?

# 204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [12]:
def print_coin():
    print("비트코인"*100)

In [13]:
# 정답
def print_coins():
    for i in range(100):
        print("비트코인")

# 205
아래의 에러가 발생하는 이유에 대해 설명하라.
```
hello()
def hello():
    print("Hi")
```

In [14]:
# hello() 함수 정의 전 호출했기 때문이다.

# 206
아래 코드의 실행 결과를 예측하라.
```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [15]:
# A B C A B 한줄씩 출력됨.

# 207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [16]:
# A C B 한줄씩 출력.

# 208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [17]:
# A C B E D 한줄씩 출력.

# 209
아래 코드의 실행 결과를 예측하라.
```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [18]:
# B A 한줄씩 출력.

# 210
아래 코드의 실행 결과를 예측하라.
```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()
```

In [19]:
# B C B C B C A 한줄씩 출력.

---

# 211
함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [20]:
# 안녕 Hi 한줄씩 출력.

# 212
함수의 호출 결과를 예측하라.
```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [21]:
# 7, 15 한줄씩 출력.

# 213
아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [22]:
# 아규먼트 값이 없기 때문이다.

# 214
아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int
```

In [23]:
# str과 int는 더할 수 없다.

# 215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [24]:
def print_with_smile(sentence):
    print(sentence + ":D")

# 216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [25]:
print_with_smile("안녕하세요")

안녕하세요:D

# 217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [26]:
def print_upper_price(price):
    print(price * 1.3)

# 218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [27]:
def print_sum(num1, num2):
    print(num1 + num2)

# 219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.
```
print_arithmetic_operation(3, 4)
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [28]:
def print_arthmetice_operation(num1, num2):
    print(num1 + num2)
    print(num1 - num2)
    print(num1 * num2)
    print(num1 / num2)

# 220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [29]:
def print_max(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        print(num1)
    elif num2 > num1 and num2 > num3:
        print(num2)
    else:
        print(num3)

In [30]:
# 정답
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)