모든 저작권은 프로그래머스에 있습니다.
https://school.programmers.co.kr/learn/challenges?order=recent&levels=0&languages=python3

### midpoint 1

#### 대소문자 바꿔서 출력하기
```
영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.
```

In [ ]:
r = ""
for i in input():
    if i.islower():
        r += i.upper()
    else:
        r += i.lower()
print(r)

aBcDeFg
AbCdEfG

#### 덧셈식 출력하기
```
두 정수 a, b가 주어질 때 다음과 같은 형태의 계산식을 출력하는 코드를 작성해 보세요.
a + b = c
```

In [ ]:
a, b = map(int, input().strip().split(' '))
print(f'{a} + {b} = {a+b}')

4 5
4 + 5 = 9

#### 문자열 붙여서 출력하기
```
두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.
```

In [ ]:
str1, str2 = input().split()
print(str1 + str2)

right away
rightaway

#### 문자열 돌리기
```
문자열 str이 주어집니다.
문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.
```

In [ ]:
s = input()
for i in s:
    print(i)

rock
r
o
c
k

In [ ]:
# 기막히고 코막힌 답안
print('\n'.join(input()))

rock
r
o
c
k

#### 홀짝 구분하기
```
자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.
```

In [ ]:
n = int(input())
print(f'{n} is even' if n%2==0 else f'{n} is odd')

32
32 is even

#### 문자열 겹쳐쓰기
```
문자열 my_string, overwrite_string과 정수 s가 주어집니다.
문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.
```
```
<조건>
1 ≤ overwrite_string의 길이 ≤ my_string의 길이 ≤ 1,000
0 ≤ s ≤ my_string의 길이 - overwrite_string의 길이
```

In [ ]:
def solution(my_string, overwrite_string, s):
    n = len(overwrite_string)
    answer = my_string[:s] + overwrite_string + my_string[s+n:]
    return answer

In [ ]:
solution("He11oWor1d", "lloWorl", 2)

'HelloWorld'

#### 문자열 섞기
```
길이가 같은 두 문자열 str1과 str2가 주어집니다.

두 문자열의 각 문자가 앞에서부터 서로 번갈아가면서 한 번씩 등장하는 문자열을 만들어 return 하는 solution 함수를 완성해 주세요.
```

In [ ]:
def solution(str1, str2):
    answer = ''
    for i in range(len(str1)):
        answer += str1[i] + str2[i]
    return answer

In [ ]:
solution("aaaaa", "bbbbb")

'ababababab'

#### 문자 리스트를 문자열로 변환하기
```
문자들이 담겨있는 배열 arr가 주어집니다. arr의 원소들을 순서대로 이어 붙인 문자열을 return 하는 solution함수를 작성해 주세요.
```

In [ ]:
def solution(arr):
    return ''.join(arr)

In [ ]:
solution(["a","b","c"])

'abc'

#### 문자열 곱하기
```
문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(my_string, k):
    answer = (my_string*k).strip()
    return answer

In [ ]:
solution("onepiece", 2)

'onepieceonepiece'

#### 더 크게 합치기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    sum_ba = int(str(b)+str(a))
    return sum_ab if sum_ab == sum_ba else max(sum_ab, sum_ba)

In [ ]:
solution(9, 91)

991

### midpoint 2 (240208)

#### 두 수의 연산값 비교하기
```
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 2 * a * b 중 더 큰 값을 return하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 2 * a * b가 같으면 a ⊕ b를 return 합니다.
```

In [ ]:
def solution(a, b):
    sum_ab = int(str(a)+str(b))
    return sum_ab if sum_ab == (2*a*b) else max(sum_ab, (2*a*b))

In [ ]:
solution(12, 3)

123

#### n의 배수
```
정수 num과 n이 매개 변수로 주어질 때, num이 n의 배수이면 1을 return n의 배수가 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(num, n):
    return 1 if num%n==0 else 0

In [ ]:
solution(10, 5)

1

#### 공배수
```
정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
def solution(number, n, m):
    return 1 if number % n == 0 and number % m == 0 else 0

In [ ]:
solution(15, 3, 5)

1

#### 홀짝에 따라 다른 값 반환하기
```
양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고
n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성해 주세요.

```

In [ ]:
def solution(n):
    if n % 2 != 0:
        return sum(i for i in range(1, n+1, 2))
    else:
        return sum(i*i for i in range(2, n+1, 2))

#### 조건 문자열
```
문자열에 따라 다음과 같이 두 수의 크기를 비교하려고 합니다.

두 수가 n과 m이라면
">", "=" : n >= m
"<", "=" : n <= m
">", "!" : n > m
"<", "!" : n < m
두 문자열 ineq와 eq가 주어집니다. ineq는 "<"와 ">"중 하나고, eq는 "="와 "!"중 하나입니다.
그리고 두 정수 n과 m이 주어질 때, n과 m이 ineq와 eq의 조건에 맞으면 1을 아니면 0을 return하도록 solution 함수를 완성해주세요.
```

In [ ]:
# 개무식하게 풀었다. 다시는 이딴식으로 풀지 말자.
def solution(ineq, eq, n, m):
    if eq == "=":
        if ineq == ">" and (n >= m):
            return 1
        elif ineq == "<" and (n <= m):
            return 1
        else:
            return 0
    else:
        if ineq == ">" and (n > m):
            return 1
        elif ineq == "<" and (n < m):
            return 1
        else:
            return 0

In [ ]:
# 한방 코드...ㅋ
def solution(ineq, eq, n, m):
    return int(eval(str(n)+ineq+eq.replace('!', '')+str(m)))

In [ ]:
# 다른버전
def solution(ineq, eq, n, m):
    answer = 0
    if n > m and ineq ==">":
        answer = 1
    elif n < m and ineq == "<":
        answer = 1
    elif n == m and eq == "=":
        answer = 1

    return answer

#### flag에 따라 다른 값 반환하기
```
두 정수 a, b와 boolean 변수 flag가 매개변수로 주어질 때, flag가 true면 a + b를 false면 a - b를 return 하는 solution 함수를 작성해 주세요.
```

In [ ]:
def solution(a, b, flag):
    return a+b if flag else a-b

#### 코드 처리하기
```
문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서 code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.
mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.
```

In [ ]:
#