<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/exercise/240203_python_261_270.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 261
주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.

In [1]:
class Stock():
    pass

# 262
Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.
```
삼성 = Stock("삼성전자", "005930")
```

In [2]:
class Stock():
    def __init__(self, name='', code=0):
        self.name = name
        self.code = code

In [3]:
삼성 = Stock("삼성전자", "005930")

In [4]:
삼성.name

'삼성전자'

# 263
객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.
```
a = Stock(None, None)
a.set_name("삼성전자")
```

In [5]:
class Stock():
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

In [6]:
a = Stock(None, None)
a.set_name("삼성전자")

a.name

'삼성전자'

# 264
객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.
```
a = Stock(None, None)
a.set_code("005930")
```

In [7]:
class Stock():
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_code(self, code):
        self.code = code

In [8]:
a = Stock(None, None)
a.set_code("005930")

a.code

'005930'

# 265
종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.
```
삼성 = Stock("삼성전자", "005930")
```

In [9]:
class Stock():
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

In [11]:
삼성 = Stock("삼성전자", "005930")

print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

# 266
생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. PER, PBR, 배당수익률은 float 타입입니다.

In [12]:
class Stock():
    def __init__(self, name, code, per=0.0, pbr=0.0, 수익률=0.0):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.수익률 = 수익률

In [13]:
# 매개변수 초기화할때 0.0으로 해도 float형으로 인식되는지?
# 확인해보고 싶었으나 답안에 없음.

In [15]:
lg = Stock("엘지", 1234, 1.2, 3.3, 4.9)
type(lg.per)

float

In [19]:
test = Stock("필하모닉", 4321, 1.2, 4)
print(test.수익률)
print(type(test.수익률))

0.0
<class 'float'>

In [20]:
# 된다!

# 267
266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.
```
항목	정보
종목명	삼성전자
종목코드	005930
PER	15.79
PBR	1.33
배당수익률	2.83
```

In [24]:
class Stock():
    def __init__(self, name, code, per=0.0, pbr=0.0, 수익률=0.0):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.수익률 = 수익률

    def __str__(self):
        return f"종목: {self.name} 코드: {self.code} PER: {self.per} PBR: {self.pbr} 배당수익률: {self.수익률}"

In [27]:
# 코드를 정수형태로 입력했을 시, 에러가 발생한다.
# 0이 맨 앞에 나오는 형태는 0o, 0x등 진법을 나타낼때만 가능하므로 에러 발생.
# 따라서 코드넘버를 문자형으로 넘겨줘야 에러가 나타나지 않음.
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성)

종목: 삼성전자 코드: 005930 PER: 15.79 PBR: 1.33 배당수익률: 2.83

# 268
PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

In [47]:
class Stock():
    def __init__(self, name, code, per=0.0, pbr=0.0, 수익률=0.0):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.수익률 = 수익률

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_수익률(self, 수익률):
        self.수익률 = 수익률

    def __str__(self):
        return f"종목: {self.name} 코드: {self.code} PER: {self.per} PBR: {self.pbr} 배당수익률: {self.수익률}"

In [32]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성)

종목: 삼성전자 코드: 005930 PER: 15.79 PBR: 1.33 배당수익률: 2.83

In [34]:
삼성.set_per(3.2)
삼성.set_pbr(19.9)
삼성.set_수익률(1.2)

In [36]:
print(삼성.수익률)

1.2

In [44]:
# 변경 후 결과값도 똑같이 print(삼성)으로 출력해주려고 했더니
# maximum recursion depth exceeded while calling a Python object
# 이런 오류가 발생했다;; 이유는 재귀 한도를 넘어섰기 때문에...
# 파이썬은 최대 재귀 한도가 설정되어 있다. 풀려면 sys모듈을 호출해야 하는데 연습문제니 그냥 넘어가자.

In [45]:
# 내가 멍청한 실수를 했다;; 아니 고작 테스트용 클래스인데 왜 저런 에러가 뜨는걸까 했더니,
# self.per = self 로 적어놨었다ㅋㅋㅋ 이런 그러니 런타임이 맛이 가지

In [48]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성)
삼성.set_per(3.2)
삼성.set_pbr(19.9)
삼성.set_수익률(1.2)
print(삼성)

종목: 삼성전자 코드: 005930 PER: 15.79 PBR: 1.33 배당수익률: 2.83
종목: 삼성전자 코드: 005930 PER: 3.2 PBR: 19.9 배당수익률: 1.2

In [49]:
# 이제 아무 이상없다...^^

# 269
267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

In [41]:
class Stock():
    def __init__(self, name, code, per=0.0, pbr=0.0, 수익률=0.0):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.수익률 = 수익률

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_수익률(self, 수익률):
        self.수익률 = 수익률

    def __str__(self):
        return f"종목: {self.name} 코드: {self.code} PER: {self.per} PBR: {self.pbr} 배당수익률: {self.수익률}"

In [46]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.per)
삼성.set_per(13.12)
print(삼성.per)

15.79
13.12

# 270
아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요. 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.
```
종목명	종목코드	PER	PBR	배당수익률
삼성전자	005930	15.79	1.33	2.83
현대차	005380	8.70	0.35	4.27
LG전자	066570	317.34	0.69	1.37
```

In [50]:
class Stock():
    def __init__(self, name, code, per=0.0, pbr=0.0, 수익률=0.0):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.수익률 = 수익률

    def __str__(self):
        return f"종목: {self.name} 코드: {self.code} PER: {self.per} PBR: {self.pbr} 배당수익률: {self.수익률}"

In [51]:
# 정답
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)        # i-> Stock 클래스의 객체를 바인딩하기 때문

005930 15.79
005380 8.7
066570 317.34