<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/240118_%ED%8C%8C%EC%9D%BC%EC%9E%85%EC%B6%9C%EB%A0%A5_%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 어제(0117)연습문제 강사님 답안

In [ ]:
 # 1번 답
 # 1.1
 import time

 def time_decorator(func):
     def wrapper(input_data):
         start_time = time.time()
         result = func(input_data)
         end_time = time.time()
         print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
         return result
     return wrapper

@time_decorator
def f(data):
    s = 0
    for i in range(data+1):
        s += i
    return s

f(100)

In [ ]:
 # 1번 답
 # 1.2
 import time

 def time_decorator(func):
     def wrapper():
         start_time = time.time()
         result = func()
         end_time = time.time()
         print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
         return result
     return wrapper

@time_decorator
def f():
    s = 0
    for i in range(101):
        s += i
    return s

f()

In [ ]:
# 2번 답

def gen():
    for i in range(0, 101, 2):
        yield i
    return

# for i in gen():
#     print(i)

list(zip('hello world', gen()))

In [ ]:
# 3번 답
# 예외처리 문제: 사용자로부터 두 개의 숫자를 입력받아 나눗셈을 수행하는 함수를 작성하세요.
# 이 때 0으로 나눌 때에는 예외처리를 해주세요.

def divide(x, y):
    try:
        return x / y
    except:
        return 0

divide(1, 0)

# 파이썬 버전별 변동사항

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [42]:
# 실무에서 사용하시는 분 아무도 못봤습니다.
# 그래서 복습X
# 정말 좋은 기능인데....

from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [43]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

# 파일 입출력

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
# 파일은 열었으면 꼭 닫으셔야 합니다.
# 닫지 않으면 메모리가 살아있습니다!
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world')
f.close()

`close()`를 까먹는 경우가 많아서 밑의 방식을 선호한다.  
따로 닫아줄 필요가 없는 코드다.

In [ ]:
with open('test.txt', 'w') as f:
    f.write('hello world!')

In [1]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [2]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

# 미션 2
# 엑셀로 각각 정보 정리

# 미션 3
# html로 table로 정리하기 => table 클릭하면 정렬되게 하기(JS를 배우셨으면 했을텐데ㅜㅜ 나중에 해보세요.)

공식처럼 외우세요! 데이터를 뽑고싶으면 `map`!

In [4]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리
list(map(lambda x: x['name'], db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)):
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [5]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [6]:
# 부록
# 엑셀라이터
# 복습 X

# 대량으로 파일 정리할때 유용합니다 ㅎㅎ

In [8]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 3.0 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [9]:
# request나 bs4은 기본 모듈이 아닌데 colab에 깔려 있는 것입니다.
# 데스크톱에서 깔려있는지 확인하시지 않고 실행시키면 모듈이 없다고 나옵니다.

In [10]:
# 워크북(엑셀파일 1개입니다.)
# 워크시트(sheet이라고 아래 여러개의 sheet를 만들 수 있습니다.)
# 셀(네모 칸 하나)

In [13]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

worksheet.write(2, 0, 'hello')
worksheet.write(2, 1, 'world')
worksheet.write(2, 2, 'jimmy')

workbook.close()

In [16]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [15]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1] + i[2])

A4 50
B4 70
C4 90

In [17]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 매크로
# 매크로 작동 로직 => 엑셀

In [18]:
# 미션 3
# html로 table로 정리하기
db_data

[{'_id': '7f5440ab-7e2f-4a42-Be13-89987fa65b32',
  'index': '1',
  'name': '등윤상',
  'email': 'user-qe89s09@ut.io',
  'phone': '010-3542-7711',
  'country': '키리바시',
  'address': '방학로 74-9',
  'job': '일러스트레이터'},
 {'_id': 'b4f7ade0-38bb-4e6f-B94a-18af1426eb30',
  'index': '2',
  'name': '노동규',
  'email': 'user-nyr5mqw@ornare.com',
  'phone': '010-9743-6320',
  'country': '베냉',
  'address': '남부순환로 54-6',
  'job': '애완동물미용사'},
 {'_id': '5d788255-8d5e-4f03-B446-dbac6a147e37',
  'index': '3',
  'name': '경진아',
  'email': 'user-n7pey4v@Etiam.biz',
  'phone': '010-4049-8718',
  'country': '아르메니아',
  'address': '강남대로 87-5',
  'job': '플로리스트'},
 {'_id': '083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79',
  'index': '4',
  'name': '복소유',
  'email': 'user-ohaz2is@nibh.biz',
  'phone': '010-3400-5945',
  'country': '페루',
  'address': '양산로 78-1',
  'job': '응급구조사'},
 {'_id': 'd54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a',
  'index': '5',
  'name': '화예빈',
  'email': 'user-mnkpdlp@vel.net',
  'phone': '010-3120-8720',
  'country': '허드 및 맥도널드 제도',
  'address': '한남대로 6-2',
  'job': '전문의사'}]

In [19]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for item in db_data:
    s += f'''
        <tr>
                <td>{item["_id"]}</td>
                <td>{item["index"]}</td>
                <td>{item["name"]}</td>
                <td>{item["email"]}</td>
                <td>{item["phone"]}</td>
                <td>{item["country"]}</td>
                <td>{item["address"]}</td>
                <td>{item["job"]}</td>
        </tr>
        '''

s += '</table>'

with open('test.html', 'w') as f:
    f.write(s)

In [24]:
f = open('test.html', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line, end='')
f.close()

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>

        <tr>
                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>
                <td>1</td>
                <td>등윤상</td>
                <td>user-qe89s09@ut.io</td>
                <td>010-3542-7711</td>
                <td>키리바시</td>
                <td>방학로 74-9</td>
                <td>일러스트레이터</td>
        </tr>

        <tr>
                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>
                <td>2</td>
                <td>노동규</td>
                <td>user-nyr5mqw@ornare.com</td>
                <td>010-9743-6320</td>
                <td>베냉</td>
                <td>남부순환로 54-6</td>
                <td>애완동물미용사</td>
        </tr>

        <tr>
                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>
                <td>3</td>
                <td>경진아</td>
                <td>user-n7pey4v@Etiam.biz</td>
                <td>010-4049-8718</td>
                <td>아르메니아</td>
                <td>강남대로 87-5</td>
                <td>플로리스트</td>
        </tr>

        <tr>
                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>
                <td>4</td>
                <td>복소유</td>
                <td>user-ohaz2is@nibh.biz</td>
                <td>010-3400-5945</td>
                <td>페루</td>
                <td>양산로 78-1</td>
                <td>응급구조사</td>
        </tr>

        <tr>
                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>
                <td>5</td>
                <td>화예빈</td>
                <td>user-mnkpdlp@vel.net</td>
                <td>010-3120-8720</td>
                <td>허드 및 맥도널드 제도</td>
                <td>한남대로 6-2</td>
                <td>전문의사</td>
        </tr>
        </table>

In [23]:
f = open('test.html', 'r')
data = f.read()
print(data)
f.close()

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>

        <tr>
                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>
                <td>1</td>
                <td>등윤상</td>
                <td>user-qe89s09@ut.io</td>
                <td>010-3542-7711</td>
                <td>키리바시</td>
                <td>방학로 74-9</td>
                <td>일러스트레이터</td>
        </tr>

        <tr>
                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>
                <td>2</td>
                <td>노동규</td>
                <td>user-nyr5mqw@ornare.com</td>
                <td>010-9743-6320</td>
                <td>베냉</td>
                <td>남부순환로 54-6</td>
                <td>애완동물미용사</td>
        </tr>

        <tr>
                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>
                <td>3</td>
                <td>경진아</td>
                <td>user-n7pey4v@Etiam.biz</td>
                <td>010-4049-8718</td>
                <td>아르메니아</td>
                <td>강남대로 87-5</td>
                <td>플로리스트</td>
        </tr>

        <tr>
                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>
                <td>4</td>
                <td>복소유</td>
                <td>user-ohaz2is@nibh.biz</td>
                <td>010-3400-5945</td>
                <td>페루</td>
                <td>양산로 78-1</td>
                <td>응급구조사</td>
        </tr>

        <tr>
                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>
                <td>5</td>
                <td>화예빈</td>
                <td>user-mnkpdlp@vel.net</td>
                <td>010-3120-8720</td>
                <td>허드 및 맥도널드 제도</td>
                <td>한남대로 6-2</td>
                <td>전문의사</td>
        </tr>
        </table>

In [ ]:
f = open('test.html', 'a')
s = '<p>hello world!</p>'
f.write(s)
f.close()

In [25]:
# 1. 제가 권하는 복습 방법: algo문제 푸는 것(프로그래머스(Lv0), 100pyalgo(Lv0~2))
# 2. 이론을 복습하길 원하는 분: 인프런 영상 드린 파이썬 부트캠프 (타이핑 치지 않고 1번, 타이핑 치고 1번)

# 비트연산

In [26]:
# 실무에서 비트연산을 하는 경우가 거~~~의 없습니다.
# 알고리즘 테스트에서 CS지식 정도를 테스트 하는 용도로 간혹 출제가 됩니다.
# 진법: 수학 기초 상식

# 10진법
# 1542 == 1 * (10**3) + 5 * (10**2) + 4 * (10**1) + 2 * (10**0)
# 0123456789 10

# 16진법
# 1542 == 1 * (16**3) + 5 * (16**2) + 4 * (16**1) + 2 * (16**0)
# 0123456789abcdef 10

# 8진법
# 1542 == 1 * (8**3) + 5 * (8**2) + 4 * (8**1) + 2 * (8**0)
# 01234567 10

# 01 10

In [27]:
# 진법 변환 팁
# 10진 == 2진
# 1 == 1
# 2 == 10
# 4 == 100
# 8 == 1000
# 16 == 10000

# 9는? 8 + 1 => 1000 + 1 => 1001
# 15는? 16 - 1 => 10000 - 1 => 1111

In [28]:
# 3 & 9 (AND 연산)

# 0011
# 1001
# ----
# 0001

In [29]:
# 3 | 9 (OR 연산)

# 0011
# 1001
# ----
# 1011 => 11

In [30]:
3 | 9

11

나머지 `xor, not, shift`연산은 잘 안나온다.

In [ ]:
# 복습 XXX
# 8개의 비트(bit)를 숫자로 사용할 수 있습니다.
# 8개 비트 사용하면 1개를 부호 비트
00000000
00000001 == 1
11111110 == -1
11111111 + 1 => 00000000(우리가 원하는 값)

## 카카오 코딩테스트 문제!
https://school.programmers.co.kr/learn/courses/30/lessons/17681?language=python3

In [32]:
# 매개변수	값
# n	5
# arr1	[9, 20, 28, 18, 11]
# arr2	[30, 1, 21, 17, 28]
# 출력	["#####","# # #", "### #", "# ##", "#####"]

In [33]:
9 | 30
bin(9 | 30)
bin(9 | 30)[2:]
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

for i, j in zip(arr1, arr2):
    print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

#####
# # #
### #
#  ##
#####

In [35]:
bin(31) # 2진법 변환 '0b11111'
oct(31) # 8진법 변환 '0o37'
hex(31) # 16진법 변환 '0x1f'
# 다 str값으로 반환된다.

int('0b11111', 2) # 2진수를 10진수로 변환
int('11111', 2) # 2진수를 10진수로 변환

31

# f-sting 용법

In [37]:
# print에 들어가는 문자열 만들기

name = '지민경'; age = 15

# 처음에 나왔던 % 용법 (이젠 잘 안쓴다)
'제 이름은 %s이고 제 나이는 %d입니다.'%(name, age)
# 그 다음에 나온게 format 용법
'제 이름은 {}이고 제 나이는 {}입니다.'.format(name, age)
# f-string 문법
f'제 이름은 {name}이고 제 나이는 {age}입니다.'

'제 이름은 지민경이고 제 나이는 15입니다.'

`format`과 `f-string` 두 개만 알아두어도 된다.

`{}`안에서 다 해결하려고 하지 말자. 이왕이면 밖으로 빼는게 낫다. 가독성을 해친다.  
의도 파악도 어렵다.

In [38]:
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼,칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [40]:
print(f'삼삼칠 박수 :  {삼*2}!!! {삼}!!! {칠}!!! ')
# {}안에서 연산하는 것은 가독성을 해칠 우려가 있습니다.

삼삼칠 박수 :  짝짝짝짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [42]:
one_length = 5.343123123

print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

5.343123123 입니다.
5.3 입니다.
5.34
5.34

**format 정렬중에 가운데정렬`(^)`은 정말 많이 사용한다!**

In [34]:
# log 출력할 때 가운데 정렬은 많이 사용합니다.
# 복습은 가운데 정렬만 외워주세요.
age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세')

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세

In [35]:
print(f'당신의 나이는 [{age:<15}]세')
print(f'당신의 나이는 [{age:>15}]세')
print(f'당신의 나이는 [{age:=^15}]세')
print(f'당신의 나이는 [{age:#^15}]세')
print(f'###########{age}###########')
# 이런식으로 하셔도 되니 부담되시면 잠시 우선순위는 뒤로 밀어두셔도 괜찮습니다.

당신의 나이는 [100            ]세
당신의 나이는 [            100]세
당신의 나이는 [======100======]세
당신의 나이는 [######100######]세
###########100###########

In [46]:
# 중괄호 3개는 1년에 5번정도 만나는 것 같습니다.
# 잘 모르시면 이걸 해결하는 것이 참 힘듭니다.

age = 10

print(f'My set is {{1, 2, 3}}.')    # 출력: My set is {1, 2, 3}.
print(f'My set is {{age*2}}.')      # 출력: My set is {age*2}.
print(f'My set is {{{age*2}}}.')    # 출력: My set is {20}.

My set is {1, 2, 3}.
My set is {age*2}.
My set is {20}.

# 컴프리헨션 (가볍게 실습)

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f"{i}X{j}={i*j}")

l

In [ ]:
[f"{i}X{j}={i*j}" for i in range(2, 10) for j in range(1, 10)]

이것도 인정을 해주긴 한다. 하지만 삼중으로 넘어가면 X.  
저 코드도 차라리 첫번째처럼 쓰는게 낫다.  
단, 빠른 속도가 필요하다면 컴프리헨션 사용!

# 비동기와 코루틴
코루틴은 따로 복습 X

In [48]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [49]:
import nest_asyncio

nest_asyncio.apply()

In [50]:
import time

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [51]:
# colab에서 작동하는 코드
# 기본 base는 colab에서 작동하지 않습니다.
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 합니다.(다른 작업이 가능합니다.)
    print(f"Job {number} completed")

async def main():
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

asyncio.run(main())
print('hello world')

Job 1 started
Job 2 started
Job 3 started
Job 1 completed
Job 2 completed
Job 3 completed
hello world

In [52]:
async def job():
    print('job')

print(job) # <function job at 0x7fc8cb38ef80>
job() # <coroutine object job at 0x7fc8cb32bc30>, print('job')이 실행되진 않습니다!

<function job at 0x7ee43411d2d0>

In [53]:
async def job():
    print('job')

async def main():
    return await job()

print(main) # <coroutine object main at 0x7fc8cb22bf40>
print(await main()) # None

<function main at 0x7ee43411fac0>
job
None

코루틴을 실행하는 함수는 따로 있다.  
`async run`을 해줘야 함.

In [54]:
async def job():
    print('job')

async def main():
    return await job()

print(main) # <coroutine object main at 0x7fc8cb22bf40>
asyncio.run(main()) # job출력

<function main at 0x7ee43411ca60>
job

# 정규표현식
- 별 2개 + @
- 유효성 검증(validator), 문자열 처리, 코딩테스트(거의 1문제는 필수)에 쓰인다.
- 다른 언어에서도 사용할 수 있습니다.
- 테스트) https://regexr.com/5nvc2

In [2]:
# 택일 많이쓰임 []

In [3]:
# https://regexr.com/5nvc2
# 1번 일반 문자열 패턴
# hello world
# Hello
# ^hello
# hello$
# ^hello$
# .
# .....
# h[eao]llo
# .[eao]llo
# ^h[eao]llo$
# h[a-zA-Z0-9]llo
# h[a-zA-Z]llo
# 010-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]
# 010.[0-9][0-9][0-9][0-9].[0-9][0-9][0-9][0-9]
# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9]
# [^a-zA-Z0-9]: 나머지 문자열을 찾음 # ^는 대괄호 안에서는 '부정'
# _* : 앞에 있는 문자가 0개 ~ N개
# _+ : 앞에 있는 문자가 1개 ~ N개
# _? : 앞에 있는 문자가 0개 ~ 1개
# 010[- .]?[0-9][0-9][0-9][0-9][- .]?[0-9][0-9][0-9][0-9]

# {3} : 3개
# {3,} : 3개 이상
# {1,3} : 1개 ~ 3개
# 010[- .]?[0-9]{4}[- .]?[0-9]{4}

# _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
# _+ : 앞에 있는 문자가 1개 ~ N개({1,})
# _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

# /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm

# 전화번호
# /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
# /[0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm

# 이메일
# /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
# ^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
# .....@----....


# /\w/gm : 워드 # 많이 사용
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드 # 많이 사용
# /\d/gm : 숫자 # 많이 사용
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

# ^\d{3}[- .]?\d{3,4}[- .]?\d{4}$

# /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
# /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
# /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
# /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
# /\^\^/gm : 이스케이프 문자가 필요한 경우
# /:\)/gm : 이스케이프 문자가 필요한 경우

# \[.*]
# \[.*\], \[.*\]

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

# 자주 사용하는 메서드
sub() : 매치된 부분을 치환 (str에 replace와 같은 역활) # 가장 많이 사용.
findall() : 매치된 부분 모두 리스트 반환

## findall
https://school.programmers.co.kr/learn/courses/30/lessons/17682

In [9]:
# https://school.programmers.co.kr/learn/courses/30/lessons/17682
# 1S // 2D* // 3T
# 스타상, 아차상은 빼고 진행

l = []
for i in '1S2D*3T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3

print(l)
sum(l)

[1, 4, 27]

32

In [13]:
# 각 얻을수 있는 점수는 0~10점이다. (함정)

l = []
for i in '1S2D*10T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3

print(l)
sum(l)

[1, 4, 1, 0]

6

In [36]:
import re

print(list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')))
print(list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S10D*10T')))

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]
[('1', 'S', ''), ('10', 'D', '*'), ('10', 'T', '')]

In [12]:
d = {
    'S': 1,
    'D': 2,
    'T': 3
}

for 점수, 승수, 상 in re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'):
    print(int(점수) ** d[승수])

1
4
27

In [ ]:
# 파이알고 문제 https://pyalgo.co.kr/?page=2#
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

## sub
https://school.programmers.co.kr/learn/courses/30/lessons/120849

In [37]:
"nice to meet you".replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

'nc t mt y'

In [14]:
# 복습 X
# https://school.programmers.co.kr/learn/courses/30/lessons/120849
# dir("nice to meet you")
s = "nice to meet you"
ch = s.maketrans("aeiou", "!!!!!");

print(s.translate(ch));

n!c! t! m!!t y!!

In [15]:
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [16]:
import re

def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)

In [17]:
# 문제: 아래 문자열에서 모든 문자를 제거하고 숫자만 모두 더해주세요.
'hello1928ljwlie123slie21e1j3'

'hello1928ljwlie123slie21e1j3'

In [18]:
def solution(my_string):
    return re.sub(r"[a-zA-Z]", "", my_string)

solution('hello1928ljwlie123slie21e1j3')

'19281232113'

In [20]:
# 복습 X
# 솎아낸 숫자를 모두 더해보자.

def solution(my_string):
    return sum(map(int, list(re.sub(r"[a-zA-Z]", "", my_string))))

solution('hello1928ljwlie123slie21e1j3')

33

In [25]:
list(re.findall(r'[0-9]', 'hello1928ljwlie123slie21e1j3'))
list(re.findall(r'[0-9]+', 'hello1928ljwlie123slie21e1j3'))
# 첫번째는 숫자 하나씩 반환,
# 두번째는 묶어서 반환해준다.

['1928', '123', '21', '1', '3']

In [26]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [27]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('\d', '', my_string)

'aAbBcCoOp'

sub() 중고급 강좌 부분은 너무 어렵고 딱히 쓸모가 있는것도 아니라서 pass한다고 하심.

In [28]:
# 복습 X
# 중고급 부분입니다!
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1!\2!\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1/\2/\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1][\2][\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1]-[\2]-[\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'지역번호: \1 전화번호: \2\3', '010-5000-3000'))

010!5000!3000
010/5000/3000
[010][5000][3000]
[010]-[5000]-[3000]
지역번호: 010 전화번호: 50003000

In [29]:
# 복습 XXX
# 시니어 때에는 이런 문법을 사용하실 일이 종종 생깁니다.
import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!!\g<two>!!\g<three>', '010-5000-3000'))

010!!5000!!3000

In [39]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3

**This is bold text**
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1<h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1<h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
<h2>This is a h2<h2>
<h3>This is a h3<h3>

<strong>This is bold text</strong>

In [40]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

# p = re.compile('^# (.*)', re.MULTILINE)
# text = p.sub(r'\1', text)
text = re.sub(r'^# (.*)', r'\1', text, flags=re.M)
text = re.sub(r'^## (.*)', r'\1', text, flags=re.M)
text

'hello1\nhello1.1\nhello world\nhello2\nhello2.1\nhello world\nhello3\nhello3.1\nhello world\n'