# 문자열 메서드

In [ ]:
dir('hello world')
# 메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

In [12]:
# 문제 1: find와 index 차이
# 실무에서 사용하는 코드: 둘 다 사용
if 'hello world'.find('hi'): # -1 # True로 반환됨
    print('찾았다!')

# 문제 2: isdigit의 정체
# 많이 사용함. 기억해두세요.
'12h3'.isdigit()

# 많이사용: join, maketrans, replace, strip, split, zfill

# 문제 3: replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi')
# 모두 다 변환됨. 몇 개만 변환이 되는 것이 아님.
# 알아둬야 할 사항: replace는 정규표현식이 안된다!!!(꼭 기억)
# replace를 정규표현식으로 사용하고 싶으면 re.sub을 사용해야 한다.

# 문제 4: strip(공백 제거)
# 문제 5: zfill(앞에 0으로 채워주는 것, 원하는 자릿수만큼)

찾았다!

'hi world hi world'

In [16]:
# 질문: 메서드 체이닝으로 길어지면 어떻게 하나요?
# 답: 메서드 체이닝으로 80자 이상이면 이미 가독성에 문제가 있는 것입니다.
# 메서드 체이닝은 3개 이상은 권하지 않습니다.(가독성이 악화됩니다.)

# 문제 있는 코드
'hello world'.upper().split(' ').pop().lower()

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

# 허용함
'hello world'.upper()\
            .split(' ')\
            .pop()\
            .lower()

'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

'world'

In [4]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어짐. 한줄로만 X

# 해결책 1: 역슬래쉬(추천 X)
# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
'hello world')

hello worldhello world
hello worldhello world

In [13]:
# 각 화살표가 어디를 가리킬까?
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

# id 기준으로 가리키게 된다.

10
10

In [15]:
# -5부터 256은 같습니다.
a = 10
b = 10

print(id(a))
print(id(b))

a is b

133832007041552
133832007041552

True

# 1. 리스트
- 변경이 가능한 자료형
- 순서가 있는 자료형 (시퀀스형 자료형, 인덱싱, 슬라이싱)

In [ ]:
l = [10, 20, 30]

# 라인 수가 길어졌을 때에는 이렇게 사용하시길 권합니다.
# 권고 1
l = [10,
     20,
     30] # 됩니다!
# ,가 있을 경우에 괄호가 닫힐때까지 계속 답을 찾음.

# 권고 2(실무에서 더 많이 사용됨)
l = [
    10,
    20,
    30,
]
# 문제가 있습니다! 통신을 할 때에는 JSON이라는 형식을 사용하게 되는데,
# JSON은 마지막에 콤마를 허용하지 않습니다!

# why? 문제가 있는 2번이 더 많이 사용되는 이유?
# 실무에서는 콤마를 버전업으로 인식하는 경우도 많고,
# 콤마를 빼먹는 경우가 많습니다.
# 편의성: 복붙하기 편합니다.
# (협업시)자동 변환 SW를 사용합니다.(python black fomatter) => 권고!

In [17]:
# str은 안됨
s = 'hello world'
# s[0] = 'y'

print(s.replace('h', 'y'))
print(s)

yello world
hello world

In [19]:
# 정답 1
s = s.replace('h', 'y')

# 정답 2
s = 'y' + s[1:]

In [20]:
l = [10, 20, 30]
l[2] = 1000
print(l)

[10, 20, 1000]

In [23]:
l = [10, 20, 30, 40, 50]
print(l[-1])
print(l[-2:]) # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됨.
print(l[3:])
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

50
[40, 50]
[40, 50]

In [24]:
a = 10
aa = 10
print(a)
print(aa)
print(a)
# shift+end 누르면 맨 마지막으로 이동됨~!

10
10
10

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있다.
# dir은 대략적인 속성을 알 수 있다.

In [28]:
# __add__가 있으니 더하기는 어디까지 될까? => 테스트
# __mul__이 있으니 곱하기는 어디까지 될까? => 테스트

l = [10, 20, 30]
# l + 100 # 정수 더하기는 안됩니다!
l + [100]
l + [100, 200]
l * 3 # 정수 곱하기는 됩니다!
# l * [1, 2] # 리스트 곱하기는 안됩니다.

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [29]:
l = [1, 2, 3] * 3
l[1] = 1000
l

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [31]:
# 리스트 곱하기는 매우 주의해야 합니다!
# 곱하기가 이중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [32]:
l[1][1] = 10000
l

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [33]:
# 암기해주세요. ㅎㅎ.
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] # 텐서(3차원 이상 행렬)

In [36]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산
# 상식으로 알아두시면 좋습니다 ㅎㅎ

In [38]:
# 타이핑 친 것만이 나의것
# 그냥 따라친것이라 해도 누적이 됨을 믿으십시오...
x = [[1, 2], [3, 4], [5, 6]]
x[1][1]

4

In [40]:
# Ctrl + Alt + 화살표 , print(입력, Shift + end, )입력
x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [44]:
x = 10

# 다르다는 것만 인지해주세요!
# print를 하는 것과 맨 마지막처럼 출력하는것은 다름
print(x) # __str__
x # __repr__

10

10

## 1.1 메서드

In [48]:
# Python > 자료형 > list > 메서드
l = [10, 20, 30]
dir(l)

# 앞에 공백 없애는 방법 / 만드는 방법
# Shift + Tab
# Ctrl + [, Ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

'sort'

In [49]:
l.append(100)
l

[10, 20, 30, 100]

In [50]:
# 앞에다 넣는 방법
# 1
l = [1000] + l

# 2
x = 10000
l = [x] + l[:]

# 3
l.insert(0, 999)
l

[999, 10000, 1000, 10, 20, 30, 100]

In [53]:
l = [10, 20, 30, 40]
l.pop()  # 뒤에서 값을 꺼내는 방법
l

[10, 20, 30]

In [55]:
l = [10, 20, 30, 40]
l.pop(0)  # 앞에서 값을 꺼내는 방법
l

[20, 30, 40]

In [57]:
l = [10, 20, 30, 40]
l[:-1]
l[1:]  # l = l[1:] 라고 해줘야 할당이 되지요.

[20, 30, 40]

In [58]:
l = [10, 20, 30, 40]
l.index(20)

1

In [61]:
# keep
# index가 에러가 납니다. error 없이 코드를 짜고 싶어요.
# str의 find처럼 코드를 짜고 싶을 때?
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나도 에러가 나지 않는다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [63]:
# clear는 다 지우기
l = [10, 20, 30, 40]
l.clear()
l

[]

In [65]:
# copy
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
print(ll)

# 헷갈릴때는 항상 id 찍어보기
print(id(l), id(ll))
print(l is ll)

[1000, 20, 30, 40]
133830738285888 133830738285888
True

In [68]:
l = [10, 20, 30, 40]
ll = l.copy()
# 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드린다고 하심.

l[0] = 1000
print(ll)

print(id(l), id(ll))
print(l is ll)
# 다른 값을 가리키게 됨.
# [10, 20, 30, 40]과 똑같은 객체를 만들어냄.

[10, 20, 30, 40]
133830736966080 133830737447168
False

In [70]:
l = [10, 20, 30, 40]
ll = l[:]

l[0] = 1000
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [71]:
l = [1, 1, 1, 2, 2, 3]
l.count(1)

3

In [72]:
# 많이 실수하는것
l = ['1', '1', 1, 2, 2, 3]
l.count(1)

1

In [77]:
# 구글 입사문제(분위기 환기^^)
# https://codingdojang.com/scode/393?answer_mode=hide
# 1부터 10000까지 8이 몇개 들어가는가?
# str(1부터 10000까지 리스트).count('8')
list(range(10))
str(list(range(20)))
str(list(range(20))).count('8')

2

In [78]:
l = [10, 20, 30, 40]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [81]:
l = [10, 20, 30, 40]
l.append([50, 60]) # 이것만 기억하셔도 좋습니다. 이렇게 많이 사용함.
l

[10, 20, 30, 40, [50, 60]]

In [82]:
l = [10, 20, 30, 40]
 # extend(보통은 리스트를 넣음), extend(순회 가능한 객체)
l.extend('hello')
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [85]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
# remove는 한가지 요소를 지울 때 사용
l.remove(1)  # 제일 앞에있는 1이 삭제됨.
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [87]:
# 이해하지 않으셔도 됩니다.
# 여기서 catch해야할 포인트는 모든 요소를 필터링하고 싶을 때에는
# romove가 아니라 filter라는 것을 사용한다!

# filter 샘플 코드
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [89]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l # 역 정렬은 아닙니다.
# 원본이 변합니다.(입력된 원본은 대부분 보존하려 노력합니다.)

# 역순은 단순히 순서를 뒤집는 것이고,
# 역 정렬은 정렬의 역순.

[7, 6, 5, 9, 4, 3, 2, 1]

In [94]:
# 원본을 건들고 싶지 않다면?
# reversed는 잊으셔도 됩니다. l.reverse만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
print(list(reversed(l))) # reversed는 원본을 변경하지 않는다!
l

[7, 6, 5, 9, 4, 3, 2, 1]

[1, 2, 3, 4, 9, 5, 6, 7]

In [95]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l  # 원본을 바꾸는 정렬

[1, 2, 3, 4, 5, 6, 7, 9]

In [97]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l  # 원본을 바꾸는 역 정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [99]:
# 원본을 건들고 싶지 않다면?
# sorted는 잊으셔도 됩니다. l.sort만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
print(list(sorted(l))) # sorted는 원본을 변경하지 않는다!
l

[1, 2, 3, 4, 5, 6, 7, 9]

[1, 2, 3, 4, 9, 5, 6, 7]

In [100]:
# sort, sorted, reverse, reversed
# 알고리즘 문제에서도 문제 1개는 거의 나온다고 보시면 됩니다.

# 옵션 값은 하지 않았습니다.
# 옵션 값을 하지 않은 이유: 함수까지는 배워야 좀 더 고급 문법이 가능합니다.

In [102]:
# 어떻게 사용되는지만 체크! (뒤에서 다시 할거임)
# 국, 영, 수, 이름

# 국어 잘하는 순
s = [[100, 87, 91, '이호준'],
 [56, 38, 89, '이준호'],
  [33, 88, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 88, 100, '홍길동']]

In [104]:
# 이름 순으로 정렬
s = [[100, 87, 91, '이호준'],
 [56, 38, 89, '이준호'],
  [33, 88, 100, '홍길동']]

def f(x):
    return x[3]

sorted(s, key=f)
# sorted(s, key=f, reverse=True)

[[56, 38, 89, '이준호'], [100, 87, 91, '이호준'], [33, 88, 100, '홍길동']]

In [106]:
# 평균 점수가 가장 높은 순으로 정렬
s = [[100, 87, 91, '이호준'],
 [56, 38, 89, '이준호'],
  [33, 88, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [33, 88, 100, '홍길동'], [56, 38, 89, '이준호']]

# 2. 튜플
- 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)
- 참조 변경 불가 (값 변경 불가 X)

In [107]:
t = (10, 20, 30) # 소괄호

In [110]:
# 인덱싱, 슬라이싱은 가능
print(t[0])
print(t[1:])

10
(20, 30)

In [109]:
t[1:]

(20, 30)

1. **왜 이런 자료형이 필요할까?**
- 권한과 변경 불가(시큐어 코딩), 형태 고정인 자료형(딕셔너리와 같은 것)
- 내부자 소행인 경우가 가장 많습니다.(사회공학적 해킹)
2. **변경이 불가능한데 왜 '값 변경이 불가하다고 얘기하면, 이것은 틀린 얘기다.'라고 얘기했을까?**

In [111]:
a = [10, 20, 30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [114]:
# 참조값을 사용한 변경은 가능
a[0] = 1000
b

([1000, 20, 30], 100, 200)

In [ ]:
t = (10, 20, 30)
dir(t)

In [117]:
t.count(10) # 10의 개수를 반환
t.index(10) # 10의 위치를 반환

0

In [119]:
# 형변환
# tuple(순회 가능한 객체)
# list(순회 가능한 객체)

tuple('hello world')

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

# 3. 딕셔너리
- Python 3.6 버전 이상은 순서가 보장된다.
- 실무에서의 Python 버전은 생각보다 낮다. 이 점을 주의해야합니다.  
(ex: 요기요 -> Django 1.x 사용중)
- `key: value`쌍으로 이뤄져 있다.
- 딕셔너리 데이터 검색은 매우 빠르다.
- 딕셔너리 사용은 주의를 요함. 딕셔너리는 key가 없는 것을 호출하면 error가 난다.

In [121]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [122]:
# d['three']  # 에러

In [123]:
d.get('three')  # get 메서드를 사용하는것은 권장!

In [124]:
d.get('three', '없는 값입니다!')

'없는 값입니다!'

In [129]:
# 실무용 코드
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(3)

'수요일'

In [130]:
# match 문법이 나오기 전까지 많이 사용했었음.
# 지금도 많이 사용하는 문법
# match 문법은 이런 문법이 있는지 모르는 시니어 분들도 많음.
x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}

y.get(x, '요일없음')

'수요일'

In [131]:
!python --version

Python 3.10.12

In [ ]:
dir(d)

In [ ]:
'clear',
'copy',
'fromkeys',
'get',
'items',
'keys',
'pop',
'popitem',
'setdefault',
'update',
'values'

In [135]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용한다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄이야!?',
    'contents': '파이썬을 깊게 알아갈 수록 넘 신기방기!',
    'author': '지민경',
    'image': '',
}
게시물1['contents']

'파이썬을 깊게 알아갈 수록 넘 신기방기!'

In [137]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': 'python', 'two': 'html'})

In [138]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': '하나', 'two': '둘'})

copy를 하게 되면 id값이 바뀐다!

In [140]:
# 자주 사용하지 않습니다.

d = ('one', 'two', 'three')
print(dict.fromkeys(d))
print(dict.fromkeys(d, 'hello world'))

{'one': None, 'two': None, 'three': None}
{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [141]:
# 매우 자주 사용하고 권고합니다.

d = {'one': '하나', 'two': '둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [142]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.items()[0] # 에러
d.items()[1:] # 에러

In [143]:
a , b = d.items() # 언패킹
print(a)
print(b)

('one', '하나')
('two', '둘')

In [144]:
# keep만 해두세요. 반복문을 안배웠어요.
for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [145]:
print(d.keys())
print(d.values())

dict_keys(['one', 'two'])
dict_values(['하나', '둘'])

In [148]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
# 없는 값을 써주면 생성된다.
d.setdefault('three')
# 있으면 그 값을 출력하고, 없으면 그 값을 삽입하고 4를 출력해줘!
d.setdefault('four', 4)
d

{'one': '하나', 'two': '둘', 'three': None, 'four': 4}

In [149]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')
d

{'two': '둘'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.pop()  # 에러
d.pop('three')  # 에러
d

In [151]:
d = {'one': '하나', 'two': '둘'}
# 나온지 얼마 되지 않음. # 없는 코드를 많이 보게 될겁니다.
d.popitem()

('two', '둘')

In [153]:
d = {'one': '하나', 'two': '둘'}
# one은 수정, three는 생성이 된다.
d.update({'one': 'python', 'three': 'hello'})
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [154]:
# 신규문법! (3.9)
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd => 에러
d | dd # 책 사서 봐도 잘 안나오는 문법임!

{'one': '하나', 'two': '둘', 'three': '셋'}

In [155]:
d = {'one': '하나', 'two': '둘'}
dd = {'one': 'python', 'three': '셋'}
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}

# 4. 셋
- 중복을 허락하지 않는 자료형
- 순서가 없는 자료형이다.
- 집합(합집합, 차집합, 교집합)
- 잘 안쓴다.  
알고리즘 풀 때나 사용하고, 실무에서도 잘 안쓴다고 함.

In [156]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s + ss  # 에러
s | ss # 합집합
s - ss # 차집합
s & ss # 교집합

{3, 4, 5}

`dir()`해봤을때 `'__iter__'`가 있어야 순회가능한 객체라는 소리임.

In [157]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [158]:
s.difference(ss) # 차집합

{1, 2, 10}

In [159]:
s.intersection(ss) # 교집합

{3, 4, 5}

In [160]:
s.union(ss) # 합집합

{1, 2, 3, 4, 5, 6, 7, 10}

In [161]:
# 중복을 제거하고 싶다?
set('123123123')

# 중복을 제거하고 더하고싶다.
# map은 너무나 중요해서 앞으로 반복해서 할거임.
sum(map(int, set('123123123')))

6

In [166]:
map(int, set('123123123'))
# {'1,' '2,' '3'} => {1, 2, 3}
# 근데 map으로만 출력하면 값이 이상하게 나옴.

## 4.1 sum

`sum(순회가능한객체, 초기값)`

In [168]:
print(sum({10, 20, 30}))
# print(sum(10, 20, 30)) # 에러
print(sum([10, 20, 30], 100))

60
160

In [169]:
sum([[10, 20], [30, 40], [50, 60]], []) # 평탄화 작업
# [] + [10, 20] == [10, 20]
# [10, 20] + [30, 40] == []

[10, 20, 30, 40, 50, 60]

## 4.2 in

In [170]:
'h' in 'hello'

True

In [171]:
x = 10
x in [10, 20, 30, 40 ,50]

True

In [172]:
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50, 40, 20]]

True

In [173]:
s = {1, 2, 3}
1 in s

True

# and, or, not 단락평가

In [174]:
1 and 100

100

In [175]:
user_id = ''
user_id = user_id or '아이디 없음'
user_id

'아이디 없음'

In [176]:
user_id = 'frogy'
user_id = user_id or '아이디 없음'
user_id

'frogy'