# 1. 논리(Bool)
- `True`: 참을 나타냅니다. 1과 같은 값으로 취급됩니다.
- `False`: 거짓을 나타냅니다. 0과 같은 값으로 취급됩니다.

In [ ]:
print(True == 1) # 출력: True
print(False == 0) # 출력: True

True
True

In [ ]:
# 사칙연산도 가능하다.
print(True + True) # 출력: 2
print(False - True) # 출력: -1
print(True / True) # 출력: 1.0
print(True * False) # 출력: 0
print(True / False) # error

2
-1
1.0
0

ZeroDivisionError: ignored

# 2. None
‘비어 있다’, ‘아무것도 없다’, ‘정보가 없다’를 표현하고 싶을 때 사용하는 것이 None입니다. 아래처럼 표현할 수 있습니다.  

None 자료형은 가질 수 있는 값이 None이 유일합니다.

In [ ]:
dir(None) # 매직메서드, 메서드 확인

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

None의 값은 항상 유일한 주소값.

In [ ]:
x = None
y = None
print(id(x), id(y))

95560726647776 95560726647776

In [ ]:
x = None

print(x == None)
# True, 하지만 이 방식은 권장되지 않습니다.

print(x is None)
# True, 이 방식을 사용하여 None을 확인하는 것이 좋습니다.

True
True

# 3. 메서드 체이닝

In [ ]:
# 백슬러쉬 사용해서 개행을 할 수 있습니다.
# 아래처럼 중간 공백도 허용한다.
sentence = '  Hello, World!  '
result = sentence\
         .strip()\
         .lower()\
         .replace('world', 'python')

print(result)  # 'hello, python!'

hello, python!

In [ ]:
# 오류
'010-1000-2000'.split('-').replace('0', 'x')

AttributeError: ignored

split을 거치면 리스트로 변환되는데, 리스트에는 replace 메서드가 없기 때문에 오류가 발생한다.  
따라서 메서드 체이닝을 사용할 때에는 **순서에 주의**해야함.

# 4. 형변환

In [ ]:
# 1. 형변환 기본 예제
# 1.1 문자열 -> 정수

# 잘못된 수행
월급 = input("월급을 입력하세요: ")
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요: 123
123123123123123123123123123123123123

In [ ]:
# 제대로 수행
월급 = int(input("월급을 입력하세요: "))
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요: 1000
12000

문자형태 -> 숫자 변환은 불가능함.  
ex) `int('apple')` X

In [ ]:
# 1.2 소수형 -> 정수형

# 소수점 아래를 버리는 형태
f = 3.14159
number = int(f)
print(number)  # 출력: 3

3

In [ ]:
# 1.3 논리 -> 정수형

true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

**`None`은 변환할 수 없다.**

In [ ]:
# 1.4 str 형변환

n = 123
print(type(n))

m = 123.4
print(type(m))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

int -> str -> int 가능  
float -> str -> int 불가능  
`.`을 문자로 인식하기 때문에 에러가 발생한다.  
(str -> float는 물론 가능하다.)
== 야호 ==

In [ ]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' ')) # 공백도 값으로 인지
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))
# 언제 True이고 언제 False인지?
# 빈 자료형은 False로 반환된다.

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [ ]:
# 특수 float 형변환

infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

print(infinity)
print(neg_infinity)
print(not_a_number)

inf
-inf
nan

str -> list 가능  
int -> list 불가능

In [ ]:
# list로 형변환

s = 'kurby'
print(list(s))

['k', 'u', 'r', 'b', 'y']

dict형으로 변환할때에는 쌍을 맞춰줘야 한다.

In [ ]:
# dict로 형변환

data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

In [ ]:
# set으로 형변환
# set은 중복을 허용하지 않는다.

s = 'weniv CEO licat'
print(set(s)) #중복을 허락하지 않고 순서가 없습니다.
print(len(set(s))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(s))

{'e', 'C', 'n', 'O', 'w', 'c', 'a', 'v', 'i', 'E', ' ', 't', 'l'}
13
15

---

In [ ]:
# map (자주 쓰게될거임)

list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]

[10, 20, 30]

In [ ]:
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]