# 1. 함수와 인사하기

In [ ]:
# 1.1 함수 만들어보기

def jimmy(): # def -> 이건 함수 -> jimmy 함수의 이름 + () -> ":"

In [3]:
# 1.2 들여쓰기

def my_function():
    print("Hello!")  # 4칸을 띄우는것 -> 함수의 본문을 적는 것
    print("비투더아투더뱀뱀")
    print("Bye Bye")

# 함수의 실행
my_function()  # 실행을 할 때는 def와 :은 필요없다. -> 함수의 본문이 실행된다.

Hello!
비투더아투더뱀뱀
Bye Bye

In [6]:
# 들여쓰기를 안했을때?

def my_function():
    print("Hello!")
    print("비투더아투더뱀뱀")
print("Bye Bye")

# 함수의 실행
my_function()

Bye Bye
Hello!
비투더아투더뱀뱀

들여쓰기를 맞추거나, 아예 함수 바깥에 작성하거나. 이도저도 아니면 오류만 나고 실행이 안된다!

# 2. 함수 만들기

In [9]:
def jimmy(x, y): # 함수 생성(받을 값=파라미터)
    z = x * y  # 기능 작성
    return z  # 반환값과 함께 함수 종료

print(f"jimmy(3, 2)= {jimmy(3, 2)}") # 원하는 값을 넣어 함수 실행

jimmy(3, 2)= 6

- 함수 안에 아무 코드를 넣지 않을때는 `pass`키워드를 넣어서 임시로 값을 넣어준다.
```
def function():
    pass
```
- 선언 다음에 바로 return으로 값을 반환해줄수도 있다.
```
def function(x, y):
    return x + y
```

In [13]:
def jimmy(x, y):
    z = x * y
    # return이 없으면 아무런 값도 나오지 않음. None 출력됨.

# 1. return을 함수 내에 지정하지 않았을 때 = None
print(f"jimmy(3, 2)= {jimmy(3, 2)}")

# 2. print()문을 사용하지 않았을 때 = 아무것도 출력 X
jimmy(10, 9)

jimmy(3, 2)= None

In [15]:
# 2.1 입력 매개변수가 없고 반환값도 없는 함수
def simple_function():
    print('hello world')
# 함수 호출
print(simple_function())

hello world
None

In [17]:
# 2.2 파라미터가 없고, 반환값은 있는 함수
def give_me_five():
    return 5
# 함수 호출
result = give_me_five()
print(result) # 출력: 5 # 매개변수가 없어도 5를 반환해준다.

5

In [18]:
# 2.3 입력 매개변수가 있고, 반환 값이 없는 함수
def greeting(name):
    print(f"Hello, {name}")

greeting("Jimmy")
 # Hello, Jimmy(name)이 출력되지만,
 # 반환값이 없기 때문에 print를 사용해서 호출 시 None이 함께 출력된다.

Hello, Jimmy

In [19]:
print(greeting("Jimmy"))

Hello, Jimmy
None

In [21]:
# 2.4 입력 매개변수가 있고, 반환 값이 있는 함수
def add_nums(x, y):
    sum = x + y
    return sum

# 함수 호출
result = add_nums(5, 3) # x =5, y =3 대입
print(result) # 출력: 5 # sum = 5+3 이고 return sum이니 5를 반환함.

8

**None의 출력 유/무 기준이 뭔지 생각해보자**

In [23]:
print(print("Wow"))
# print도 ()안에 매개변수를 받는 함수이기 때문에,
# 안에 있는 print 함수가 실행되고 Wow가 출력,
# 바깥의 print 함수는 실행할 매개변수가 없기 때문에 None이 출력된다.

Wow
None

# 3. 아규먼트와 파라미터
- 파라미터: **함수를 정의할 때 사용되는 변수**. 함수가 호출될 때 들어온 값을 변수에 할당하는 역할을 한다.
- 아규먼트: **함수를 호출할 때 전달하는 실제 값**. 함수 호출 시 파라미터에 할당된다.  
- 함수 안 - 파라미터, 함수 밖 - 아규먼트  
로 생각하면 편하다.
- **파라미터의 수 == 아규먼트의 수**

In [26]:
# 3.1 파라미터의 기본 사용

def f(a, b, c):
    print(a, b, c)

f(100, 200, 300)
f(100, c=300, b=200)
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 200 300
100 200 300
100 200 300
100 200 300

In [27]:
# 3.2 기본값을 가진 파라미터

def f(a=10, b=20, c=30):
    print(a, b, c)

f() # 출력: 10 20 30
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

10 20 30
100 10 30
100 200 300
100 200 300

기본값이 설정되어있기 때문에, 파라미터와 아규먼트의 수가 맞지 않아도 정상 출력된다!

In [ ]:
# 3.3 일부 파라미터만 기본값을 가질 때

# 잘못된 예
# 기본값이 없는 파라미터가 뒤에 나오면 안됨!
def f(a=10, b=20, c):
    print(a, b, c) # error

# 올바른 예
def f(a, b=20, c=10):
    print(a, b, c)

f(100, 10) # 출력: 100 10 10
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

- 기본값이 없는 파라미터는 앞에 와야한다.
- 기본값이 없는 파라미터에는 반드시 값을 전달해야 한다.

In [29]:
# 3.4 컨벤션 자료형을 아규먼트로 넣었을 때

def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a) # a의 값 [2,3,4] 뒤에 1 추가(append)
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [31]:
# 주소 확인
def add_element(my_list):
    my_list.append(1)
    print(id(my_list))

a = [2, 3, 4]
add_element(a)
print(id(a))
print(a)

137776360102528
137776360102528
[2, 3, 4, 1]

In [34]:
def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: 137776773333520

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 137775503349440
print(a)  # 출력: [2, 3, 4]

137776773333520
137775503503808
[2, 3, 4]

In [3]:
# 3.4 권장되지 않는 기본값

# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst.append(value)
    # lst_update = lst # 추천방법
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

In [4]:
append_to_list(1) # 출력: lst = [1]
append_to_list(2) # 출력: [1, 2],
# 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

[1, 2]

In [5]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

In [6]:
append_to_list(1) # 결과: [1]
append_to_list(2) # 결과: [2]

[2]

기본값이 변경 가능한 객체일때는 주의해야하며, 위와 같은 방법을 사용하는것이 좋다.

# 4. 지역변수와 전역변수

In [ ]:
# 지역변수 사용 예시
def f():
    # 강원도의 지역화폐는 -> 경기도에서 사용 불가,
    # 미국 달러 -> 한국 원으로 대체해서 살 수 없는것과 비슷함.
    a = 1 # 이 변수는 f() 내에서만 정의! 바깥에서는 사용 불가능.
    print(a)  # 출력: 1

f()
print(a)  # error: a는 f 함수 내부에서만 정의되었습니다.

In [9]:
# 위의 예시 해결방법
# 1. 전역변수로 설정
# 2. return a로 a를 반환해주기

오류에 대해서 '어떻게 해결하지?'라고 생각해봐야 한다.

In [ ]:
# 전역 변수
test = 1

# 지역 변수 (함수 내에 사용한 변수!)

In [12]:
def f():
    a = 1 # 지역변수
    b = "hello"
    def ff():
        pass
    print(locals()) # 출력: {'a': 1} # 지역변수가 어떤게 있는지 확인
f()
# ff() 는 지역변수이기 때문에 바깥에서 실행 불가능

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7c5c89c17eb0>}

- 전역변수 설정법: `global` 사용. 하지만 추천하지 않음.

In [17]:
# global 함수 전역변수 지정
a = 100

def f():
    global a # 이 구문으로 a를 바깥에서도 사용(전역변수 지정)
    a = a + 1

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101

In [18]:
a = 100

def f():
    a = 1000
    print(a) # 출력: 1000

f()

1000

In [22]:

def f():
    a = 100
    a = a + 1 # error
    return a

print(f())

101

문제를 수정하는 것 자체는 쉽다.  
'왜' 이 문제가 발생했는가? 에 대해 고민해보자.

# 5. 함수에서 pass 사용하기

In [23]:
# 사용방법
def test():
    pass
# 아무것도 적고 싶지 않을 때 pass 키워드를 써줘야한다.

# 6. 빌트인 함수(내장함수)
- 파이썬 언어에 기본적으로 포함되어 있는 함수들
- 추가적인 코드를 적지 않고 사용할 수 있다.

## 6.1 all, any
- iterable(반복 가능한) 객체(예: 리스트, 튜플, 문자열 등)를 인수로 받아, 그 안에 있는 모든 요소가 True로 평가되면 True를 반환하고, 그렇지 않으면 False를 반환

In [25]:
# all
# 모두 다 True여야 True 반환
# 마치 and와 비슷하다.
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [26]:
# any
# 하나라도 True이면 True이다.
# or 과 비슷
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

False

## 6.3 map
```
기본구조
map(함수, 리스트 혹은 튜플)
```
- map() 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [27]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [28]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

## 6.4 filter
```
기본문법
filter(조건 함수, 리스트 또는 튜플)
예제
list(filter(lambda x : x > 50, range(100)))
```
- 순회할 수 있는 객체의 요소 중 특정 조건을 만족하는 요소만을 선택하여 반환합니다. 반환 값은 filter 객체 형태로 제공되며, 이를 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

## 6.5 zip
```
기본문법
zip(순회할 수 있는 객체1, 순회할 수 있는 객체2...)
```
- 여러 개의 순회 할 수 있는 객체의 요소를 묶어서 반환합니다. 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다.

In [29]:
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

[('a', '1'), ('b', '2')]

In [31]:
list(zip('ab', '12', [10, 20]))
# 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [32]:
# 길이가 다른 순회할 수 있는 객체가 오면 길이가 가장 짧은 것을 기준으로 출력합니다.

list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

좌표 문제, 인접한 n개의 수 같은 문제에 사용하기 좋음.

## 6.7 len, min, max, sum
- len()은 길이의 개수를 반환
- min은 최솟값, max는 최댓값 반환
- sum은 순회 가능한 객체를 받아 모든 요소의 합을 계산하여 반환
```
sum의 기본문법
sum(iterable, start=0)
```

## 6.10 range, **enumerate**(기억!)
- range: 순회할 수 있는 숫자 객체를 만들어주는 함수
- **enumerate**: 반복할 수 있는 객체의 인덱스와 값을 함께 반환하며 주로 반복문에서 사용

In [35]:

# 같은 Key 값으로 묶는다.
# 임의로 키값을 부여할때 많이 사용
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

# 6.11 sorted, reversed
- 정렬, 역순으로 변환하고 새로운 리스트로 반환해준다.  
 **(원본 수정 X)**