# 문제 1
숫자를 하나 입력받아, 그 숫자가 5보다 큰지 확인하는 프로그램을 작성해보세요.

In [ ]:
num = int(input("숫자를 입력해주세요: "))  # 숫자를 입력받고, int로 변환해준다.

if num > 5:  # 만약 입력받은 숫자 num이 5보다 크다면
    print("5보다 큰 숫자입니다!")
else:  # 아니라면
    print("5 이하의 숫자입니다.")

숫자를 입력해주세요: 5
5 이하의 숫자입니다.

# 문제 2
"안녕하세요!"를 5번 출력하는 프로그램을 작성해보세요.

In [ ]:
for i in range(5):  # 밑의 코드를 5번(0~4) 반복
    print("안녕하세요!")

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

# 문제3
1부터 10까지의 숫자 중에서, 짝수만 출력하는 프로그램을 작성해보세요.

In [ ]:
even = []  # 짝수값만 넣어줄 빈 리스트 생성

for i in range(1, 11):  # 1부터 10까지 반복
    if i % 2 == 0:  # 만약 해당하는 수가 2로 나누었을때의 나머지가 0이라면(짝수)
        even.append(i)  # 먼저 생성했던 빈 리스트에 값을 넣어준다.
print(even)

[2, 4, 6, 8, 10]

# 문제4
1부터 20까지의 숫자 중, 3의 배수만 출력하는 프로그램을 작성하세요.

In [ ]:
for i in range(1, 21):  # 1부터 20까지 반복
    if i % 3 == 0:  # 해당 수가 3으로 나눴을때의 나머지가 0이라면(3의 배수)
        print(i, end=" ")  # 그대로 출력해준다. end=" "은 한줄로 출력하기 위해 사용.

3 6 9 12 15 18

# 문제5
구구단 2단부터 9단까지 출력하는 프로그램을 작성하세요.

In [ ]:
print("구구단을 외자 구구단을 외자")

# 세로 출력
for i in range(2, 10):  # 2부터 9까지 반복(2단부터 9단까지)
    print(f"****{i}단****")  # 해당 단 표시
    for k in range(1, 10):  # 해당 단을 1부터 9까지 반복
        print(f"{i} x {k} = {i*k}")  # 1부터 9까지 출력 후 다음 단(다음 i값)으로 넘어간다.
    print()  # 가독성 한줄띄우기

구구단을 외자 구구단을 외자
****2단****
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

****3단****
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

****4단****
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

****5단****
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

****6단****
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

****7단****
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

****8단****
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

****9단****
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# 가로 출력
for i in range(1, 10):  # 2x1, 3x1, 4x1... 식으로 넘어가니까 곱하는 수 먼저 반복
    for k in range(2, 10):  # 2부터 9까지
        print(f"{k} x {i} = {k*i}", end="\t")  # 단끼리의 구분을 위해 탭
    print()  # 가독성 한줄띄우기

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81