<a href="https://colab.research.google.com/github/jiminkyung/orm/blob/main/python/240119_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이알고 연습문제 풀이

## 링크 잘못들어감
https://100.pyalgo.co.kr/?page=23

In [11]:
data = ([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7)
data2 = ([[2, 4, 6], [8, 10, 12], [14, 16, 18]], 13)

def solution(data):
    array = data[0]
    target = data[1]
    result = 0
    for i in array:
        if target in i:
            result += 1
    return (True if result % 2 == 1 else False)

print(solution(data))
print(solution(data2))

True
False

# 1번: 게임 밸런스 조절
https://100.pyalgo.co.kr/?page=10

In [44]:
data = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
data2 = [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]

def solution(data):
    result = []
    characters = [i[0] for i in data if sum(i[1:]) >= 350]
    return sorted(characters) # 기본 키값이 0

print(solution(data))
print(solution(data2))

['Licat']
['Allosa', 'Gray']

# 2번: 우편 번호 정렬
https://100.pyalgo.co.kr/?page=12

In [45]:
data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]

def solution2(data):
    address, zipcode = data
    result = sorted(address, key = lambda x: zipcode[x.split()[1]])
    return result

solution2(data)

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

# 3번: 도서관 책 연도별 정렬
https://100.pyalgo.co.kr/?page=13

In [46]:
data = [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]

def solution3(data):
    name, year = data
    result = sorted(name, key=lambda x: year[x])
    return result

solution3(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [35]:
tmp = ["apple", "banana", "cocaine"]
tmp2 = {"apple":2, "banana":1, "cocaine":3}
sorted(tmp, key=lambda x: tmp2[x])

['banana', 'apple', 'cocaine']