# 1~6

## 1번: 더하기

In [ ]:
data = [1, 2, 3, 4, 5]
data2 = [3, 5, 7, 1]

def solution(data):
    return sum([i for i in data if i % 2 != 0])

print(solution(data))
print(solution(data2))

9
16

## 2번: 곱하기

In [ ]:
data = [1, 2, 3, 4, 5]
data2 = [3, 5, 7, 1]

def solution(data):
    result = 1
    for i in data:
        result *= i
    return result if len(data) != 0 else 0

print(solution(data))
print(solution(data2))

120
105

In [ ]:
# 파이알고에서는 통과 X

data = [1, 2, 3, 4, 5]
data2 = [3, 5, 7, 1]

def solution(data):
    return eval("*".join([str(i) for i in data]))

print(solution(data))
print(solution(data2))

120
105

## 3번: 조건 덧셈

In [ ]:
data = [1, 2, 3, 4, 5]
data2 = [3, 5, 7, 1]

def solution(data):
    return sum(i for i in data if i % 3 != 0 and i % 5 != 0)

print(solution(data))
print(solution(data2))

7
8

## 4번: 크리스마스 쿠키

In [ ]:
data = ['쿠키 3개', '쿠키 2개', '쿠키 5개']
data2 = ['쿠키 1개', '쿠키 2개', '쿠키 3개']

def solution(data):
    cookies = [i.split()[1][:-1] for i in data] # 갯수만 뽑아냄.
    result = 0
    for order, cookie in enumerate(cookies, 1):
        result += order * int(cookie) # str형이므로 변환해줌.
    return result

print(solution(data))
print(solution(data2))

22
14

## 5번: 1의 개수 반환

In [ ]:
data = [1, 11, 111, 1111]
data2 = [10, 21, 31, 101]

def solution(data):
    return str(data).count('1')

print(solution(data))
print(solution(data2))

10
5

## 6번: 문자열 덧셈

In [ ]:
data = '1hel2lo3'
data2 = '1q2w3e4r'

def solution(data):
    return sum(map(int, [i for i in data if i.isdigit()])) # 숫자만 뽑아주고, int형으로 변환한 뒤 sum.

print(solution(data))
print(solution(data2))

6
10

# 7~12

## 7번: 업무 우선순위

In [ ]:
# 내 코드. 막히고 에러남.

data = [['A', 3], ['B', 1], ['C', 2]]
data2 = [['A', 1], ['B', 2], ['C', 3]]

def solution(data):
    return sorted([data[i][0] for i in data], key=lambda x: [data[i][x] for i in data)

print(solution(data))
print(solution(data2))

In [ ]:
# ChatGPT 정답...

data = [['A', 3], ['B', 1], ['C', 2]]
data2 = [['A', 1], ['B', 2], ['C', 3]]

def solution(data):
    return [item[0] for item in sorted(data, key=lambda x: x[1])]

print(solution(data))
print(solution(data2))

# 주요 변경 사항은 다음과 같습니다:
#
# 1. sorted(data, key=lambda x: x[1]): 이 부분에서는 data 리스트를 x[1] 값을 기준으로 정렬합니다.
# 이는 두 번째 요소를 기준으로 정렬하는 것이므로 [['B', 1], ['C', 2], ['A', 3]] 순서로 정렬됩니다.
#
# 2. [item[0] for item in sorted(data, key=lambda x: x[1])]: 이 부분에서는 정렬된 리스트에서 각 항목의 첫 번째 요소만 추출하여 반환합니다.
# 따라서 최종적으로는 ['B', 'C', 'A'] 순서로 반환됩니다.

['B', 'C', 'A']
['A', 'B', 'C']

## 8번: 두 점 사이의 거리

In [ ]:
# 입력 예시 data2가 잘못된듯. 파이알고에서는 통과되었음.

data = [1, 3, 4, 6]  # 출력: [3, 4]
data2 = [[1, 10, 20, 25, 31, 40]]  # 출력: [20, 25]

def solution(data):
    x = list(zip(data, data[1:])) # [1, 3], [3, 4]...
    return list(sorted(x, key = lambda x: abs(x[1] - x[0]))[0]) # list로 또 묶어줘야하나?

print(solution(data))
# print(solution(data2))

[3, 4]

## 9번: 수학은 내가 1등

In [ ]:
data = [{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}] # 출력: 'A'
data2 = [{'이름': 'A', '국': 21, '영': 33, '수': 54}, {'이름': 'B', '국': 32, '영': 43, '수': 11}] # 출력: 'A'
def solution(data):
    return sorted(data, key= lambda x: x['수'], reverse=True)[0]['이름']

print(solution(data))
print(solution(data2))

A
A

## 10번: 게임 밸런스 조절

In [ ]:
data = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]	# ['Licat']
data2 = [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]	# ['Allosa', 'Gary']

def solution(data):
    return sorted([i[0] for i in data if sum(i[1:]) >= 350])

print(solution(data))
print(solution(data2))

['Licat']
['Allosa', 'Gray']

## 11번: 평균 점수 카운팅

In [ ]:
data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]] # 2
data2 = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]] # 3

def solution(data):
    count = 0
    for i in data:
        if sum(i) >= 180:
            count += 1
    return count

print(solution(data))
print(solution(data2))

2
3

In [ ]:
# 간단하지만 가독성이 떨어짐. 어떻게 해결할지?ㅎㅎ

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]] # 2
data2 = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]] # 3

def solution(data):
    return len(list(filter(lambda x: sum(x[:3]) >= 180, [i for i in data])))

print(solution(data))
print(solution(data2))

2
3

In [ ]:
# 위의 코드를 GPT를 통해 해결한 결과.

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]] # 2
data2 = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]] # 3

def solution(data):
    return sum(1 for row in data if sum(row[:3]) >= 180)

print(solution(data))
print(solution(data2))

2
3

In [ ]:
# => 어떤식으로 반환되는지

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]] # 2
data2 = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]] # 3

def solution(data):
    return [1 for row in data if sum(row) >= 180]

print(solution(data))
print(solution(data2))

[1, 1]
[1, 1, 1]

## 12번: 우편 번호 정렬

In [ ]:
data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
 {'A동': 63007, 'B동': 63010, 'C동': 63002}]
# 출력: ['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

def solution(data):
    address, zipcode = data
    return sorted(address, key = lambda x: zipcode[x.split()[1]])

print(solution(data))

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

In [ ]:
# 변수 없애고 더 간단하게

data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
 {'A동': 63007, 'B동': 63010, 'C동': 63002}]

def solution(data):
    return sorted(data[0], key=lambda x: data[1][x.split()[1]])

print(solution(data))

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

# 13~18

## 13번: 도서관 책 연도별 정렬

In [ ]:
data = [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]

def solution(data):
    title, year = data
    return sorted(title, key=lambda x: (year[x], title))

solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

## 14번: 도서관 책 위치 정렬

In [ ]:
# map을 통해서 딕셔너리를 뒤집는 방법
reversed_data = dict(map(reversed, data.items()))

In [ ]:
data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

def solution(data):
    reversed_data = {v:k for k,v in data.items()}
    # {'Moby Dick': 'AX21', '1984': 'BX32', 'To Kill a Mockingbird': 'CX14'}
    title = list(data.values())
    return sorted(title, key = lambda x: reversed_data[x][-2:])

solution(data)

['To Kill a Mockingbird', 'Moby Dick', '1984']

In [ ]:
# 파이알고 입출력 예시란의 출력값에는 ['To Kill a Mockingbird', 'Moby Dick', '1984']이 정답이지만,
# 실제로 돌려보면 오답으로 처리된다.
# 따라서 예시란에 알맞게 짠 코드는 위의 코드, 돌렸을때 통과되는 코드는 아래의 코드다.
data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

def solution(data):
    reversed_data = {v:k for k,v in data.items()}
    # {'Moby Dick': 'AX21', '1984': 'BX32', 'To Kill a Mockingbird': 'CX14'}
    title = list(data.values())
    return sorted(title, key = lambda x: reversed_data[x])
    # 정답 유무는 알파벳까지 포함한 정렬값으로 판단하는 것 같다.

solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

## 15번: 위니브 회의 시간표 정렬

In [ ]:
data = ['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM']

#일단 무식하게 해보자...

def solution(data):
    converted = []
    for times in data:
        if times[-2:] == "PM" and times[:2] != "12":
            converted.append(str(int(times[:2])+12)+times[2:5])
        elif times[-2:] == "AM" and times[:2] == "12":
            converted.append("00"+times[2:5])
        else:
            converted.append(times[:5])
    data_dic = {data[i]:converted[i] for i in range(len(data))}
    return sorted(data, key = lambda x: data_dic[x])

solution(data)

['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

In [ ]:
# 위의 코드를 GPT로 돌림
data = ['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM']

def solution(data):
    def convert_time(time_str):
        hour, minute = map(int, time_str[:-2].split(':'))
        if time_str.endswith('PM') and hour != 12:
            hour += 12
        elif time_str.endswith('AM') and hour == 12:
            hour = 0
        return f'{hour:02d}:{minute:02d}'

    return sorted(data, key=convert_time)

solution(data)

['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

## 16번: 뮤라의 휴가 입력

In [ ]:
data = ['20-01-2024', '12/15/2023', '2022.05.30']
data2 = ['03/25/2021', '2020.12.31', '15-04-2022']

def solution(data):
    def convert_data(dates):
        if "." in dates:
            year, month, day = dates.split(".")
        elif "/" in dates:
            month, day, year = dates.split("/")
        else:
            day, month, year = dates.split("-")
        return f"{year}/{month}/{day}"
    return sorted(convert_data(i) for i in data)

solution(data)

['2022/05/30', '2023/12/15', '2024/01/20']

## 17번: 라이캣 CEO의 최근일정 3개

In [ ]:
# GPT의 도움을 받아 풀었습니다.

data = {'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'], '화': ['2024-01-02', '2024-01-09', '2024-01-16'], '수': ['2024-01-03', '2024-01-10'], '목': ['2024-01-04', '2024-01-11', '2024-01-18'], '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26']}

def solution(data):
    recent_schedules = []
    for day, dates in data.items():
        recent_schedules.extend([f'{date[2:]} {day}' for date in dates])
    return sorted(recent_schedules, reverse=True)[:3]

solution(data)

['24-01-26 금', '24-01-22 월', '24-01-19 금']

In [ ]:
# 간결버전.

data = {'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'], '화': ['2024-01-02', '2024-01-09', '2024-01-16'], '수': ['2024-01-03', '2024-01-10'], '목': ['2024-01-04', '2024-01-11', '2024-01-18'], '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26']}

def solution(data):
    result = [f"{date[2:]} {day}" for day, dates in data.items() for date in dates]
    return sorted(result, reverse=True)[:3]

solution(data)

['24-01-26 금', '24-01-22 월', '24-01-19 금']

## 18번: 주간 최고 온도 기록 분석

In [ ]:
data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}

def solution(data):
    sorted_data = sorted(data.items(), key=lambda item: (-item[1], item[0]))[:3]
    return [f"{key[2:]}: {value}" for key, value in sorted_data]
solution(data)

['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']

# 19~24

## 19번: 데이터 타입 확인

In [ ]:
data = [123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}]

def solution(data):
    return [str(type(idx)).split("'")[1] for idx in data]

solution(data)

['int', 'float', 'str', 'list', 'tuple', 'dict']

In [ ]:
# data에 있는 요소를 for문으로 하나씩 빼줌.
# 하나씩 뺀 요소 idx의 type을 확인하고, 문자열로 변경해줌.
# 변경한 문자열은 <class 'int'>과 같은 형식이므로, '를 기준으로 나눠줌.
# <class, int,  >로 나눠진 값중 첫번째 값, [1]을 선택해준다.
# 그러면 각 요소의 자료형값만 뽑아지게 된다. str로 변환해 준 상태이므로 리스트에는 '자료형'식으로 저장된다.

In [ ]:
# 박주형님이 공유해주신 내용. 좋은 방법인데 처음 알았다.
# 19
def solution(data):
    type_names = []

    for data in data:
        data_type = type(data).__name__
        type_names.append(data_type)
    return type_names

# type에는 다양한 메서드 들이 있다.
# type함수의 name매직 메서드를 출력하면 해당 데이터의 타입 이름이 나온다!
# __name__ 메서드는 if __name__ == "__main__"이런 형태로도 쓰이는데
# test1.py라는 파일이 있다고 하자
# print(__name__)이라고 하면 __main__이 출력된다.
# 만약에 test2.py라는 파일에서 test1.py를 import 한다고 가정

# test1.py의 내용
print("안녕")
# test2.py의 내용
import test1
print("hello")

# 위와 같은 상황에서 test2.py를 실행하면 test1의 안녕 + test2의 hello
# 2개가 동시에 출력된다.
# 따라서 모듈의 내용을 내가 원할때만 사용하려면
# if __name__ == "__main__":
#    print("hello")
# 위와 같이 사용한다.

## 20번: 타입 확인

In [ ]:
data = [('list', [1, 2, 3]), ('int', 4), ('str', 'hello')]
data2 = [('str', 100), ('dict', {'a': 1}), ('tuple', (1, 2, 3))]

def solution(data):
    def idx_type(idx):
        return (1 if str(type(idx[1])).split("'")[1] == idx[0] else 0)
    return True if 0 not in [idx_type(i) for i in data] else False

print(solution(data))
print(solution(data2))

True
False

In [ ]:
# 위의 코드에서 따로 변수로 떼어낸 버전.
data = [('list', [1, 2, 3]), ('int', 4), ('str', 'hello')]
data2 = [('str', 100), ('dict', {'a': 1}), ('tuple', (1, 2, 3))]

def solution(data):
    def item_type(item):
        result = str(type(item[1])).split("'")[1]
        return (1 if result == item[0] else 0)
    return True if 0 not in [item_type(i) for i in data] else False

print(solution(data))
print(solution(data2))

True
False

In [ ]:
# 2차원 리스트 문제
# 우선 data안의 각 1차원 리스트를 넣고 돌릴 item_type 함수를 생성한다.
# item[1]의 type을 str로 변환 => '를 기준으로 나누고, 그 값의 [1]를 result변수에 넣어준다.
# 만약 result값이 item[0]과 같다면 1을 반환, 아니라면 0을 반환해준다.
# item_type의 결과를 리스트로 만들어주는데, 이때 리스트의 값에 0이 없다면 True, 아니라면 False를 반환.

In [ ]:
# 좀 더 깔끔하게?

data = [('list', [1, 2, 3]), ('int', 4), ('str', 'hello')]
data2 = [('str', 100), ('dict', {'a': 1}), ('tuple', (1, 2, 3))]

def solution(data):
    result = list(filter(lambda x: x[0] in str(type(x[1])), data))
    return True if len(data) == len(result) else False

print(solution(data))
print(solution(data2))
# 둘 다 별로다.

True
False

In [ ]:
# lambda함수를 사용해 data 안 각 1차원 리스트의 값을 확인해줄거임.
# 일단 각 1차원 리스트 [1]의 자료형을 str값으로 변경해주고, 만약 [0]의 값이 이 안에 있다면?
# filter함수에 의해서 True일 경우에만 반환된다.
# filter로만 처리하면 결과를 확인할 수 없으니 filter함수의 결과값을 list로 변환해준다.
# 그리고 이 list의 길이(요소의 갯수)가 기존 data의 길이값과 같다면 True, 아니라면 False.

## 21번: 숫자 배열 탐색

In [ ]:
data = ([1, 3, 5, 7, 9], 5)
data2 = ([2, 4, 6, 8, 10], 7)

def solution(data):
    array, num = data
    return array.index(num) if num in array else False

print(solution(data))
print(solution(data2))

2
False

In [ ]:
# data를 array, num으로 언패킹해준다.
# 만약 num의 값이 array에 있다면, 해당 인덱스값을 알아야 하니까
# array.index(num)으로 인덱스값을 출력해주고, 아니라면 False를 반환.

## 22번: 문자열 탐색

In [ ]:
data = ('hello', 'e')
data2 = ('world', 'a')

def solution(data):
    word, idx = data
    return word.index(idx) if idx in word else False

print(solution(data))
print(solution(data2))

1
False

In [ ]:
# 21번과 같은 원리.

## 23번: 2차원 배열 탐색

In [ ]:
data = ([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7)
data2 = ([[2, 4, 6], [8, 10, 12], [14, 16, 18]], 13)

def solution(data):
    array, num = data
    array = sum(array, [])
    return True if num in array else False

print(solution(data))
print(solution(data2))

True
False

In [ ]:
# 우선 data를 array와 num으로 언패킹해준다.
# 그러면 array에는 2차원 리스트들, num에는 타켓 숫자가 할당된다.
# 2차원 리스트를 평탄화 하기 위해 sum을 사용하여 합쳐준다. => 1차원 리스트로 변경
# 그리고 이를 다시 array에 할당!
# 만약 타겟숫자 num이 array에 있다면 True, 없다면 False.

## 24번: 연속 수열의 최대합

In [ ]:
# 뤼튼 선생님 답변

data = [1, -2, 3, 4, -1, 2, 1, -5, 4]
data2 = [-2, -3, 4, -1, -2, 1, 5, -3]

def solution(data):
    max_sum = curr_sum = data[0]
    for num in data[1:]:
        curr_sum = max(num, curr_sum + num)
        max_sum = max(max_sum, curr_sum)
    return max_sum

print(solution(data))
print(solution(data2))

9
7

# 25~30

## 25번: 소수 판별

In [ ]:
def solution(data):
    n = int(data ** 0.5)
    result = [False]*2 + [True]*(data-1)
    for i in range(2, n+1):
        if result[i]:
            for k in range(i*2, data+1, i):
                result[k] = False
    return result.count(True)

solution(5)

3

In [ ]:
def solution(data):
    n, result = int(data ** 0.5), [False]*2 + [True]*(data-1)
    for i in range(2, n+1):
        if result[i]: result[i*2:data+1:i] = [False]*len(result[i*2:data+1:i])
    return result

solution(10)

[False, False, True, True, False, True, False, True, False, False, False]

In [ ]:
# ! 새로 알게된 사실
# 슬라이스 예시
test = ['wow'] * 5
# test = ['wow', 'wow', 'wow', 'wow', 'wow']
test[::2] = 'what', 'we', 'rock'
test
# 저렇게 슬라이스 한 갯수대로 해당 인덱스마다 값을 넣어줄 수 있음!

['what', 'wow', 'we', 'wow', 'rock']

## 26번: 최대 합계 배열 찾기

In [ ]:
# 24번 연속 수열의 합이랑 똑같은 문제다.
data = ([1, 3, 2, 6, -1, 4, 1, 8, 2], 5)
data2 = ([4, 2, 1, 7, 8, 1, 2, 8, 1, 0], 3)

def solution(data):
    arr, window = data
    curr_sum = total_sum = sum(arr[:window])
    for i in range(len(arr)):
        curr_sum = max(curr_sum, sum(arr[i:i+window]))
        total_sum = max(curr_sum, total_sum)
    return total_sum

print(solution(data))
print(solution(data2))

18
16

In [ ]:
# 슬라이딩 윈도우 기법 사용하기

data = ([1, 3, 2, 6, -1, 4, 1, 8, 2], 5)
data2 = ([4, 2, 1, 7, 8, 1, 2, 8, 1, 0], 3)

def solution(data):
    arr, window = data
    window_sum = sum(arr[:window])  # 처음 윈도우의 합계
    max_sum = window_sum  # 최대 합계를 처음 윈도우의 합계로 초기화

    # 윈도우를 슬라이드하면서 합계 계산
    for i in range(window, len(arr)):
        window_sum = window_sum - arr[i-window] + arr[i]
        max_sum = max(max_sum, window_sum)

    return max_sum

print(solution(data))
print(solution(data2))

18
16

## 27번: 작은 길이 부분 배열 찾기

In [ ]:
# 내 답. 테스트케이스 8번부터 실패함.
# 이유는 배열의 합이 타겟값을 넘어갈때 curr_sum값을 해당 배열값으로 넣어주었기 때문.
# 해당 배열의 전 원소부터의 합에도 타겟값을 넘어가는 경우가 있을수도 있음.
data = ([2, 1, 5, 2, 3, 2], 7)
data2 = ([1, 1, 1, 1, 1, 1, 1], 11)

def solution(data):
    arr, target = data
    curr_sum = 0
    curr_arr = []
    total_arr = []

    for i in range(len(arr)):
        curr_sum = curr_sum + arr[i]
        curr_arr.append(arr[i])
        if curr_sum >= target:
            total_arr.append(curr_arr)
            curr_arr = [arr[i]]
            curr_sum = arr[i]
    result = sorted(total_arr, key=lambda x: len(x))
    return len(result[0]) if len(result) != 0 else 0

print(solution(data))
print(solution(data2))

2
0

In [ ]:
def solution(data):
    nums, s = data
    min_len = float('inf')
    left = 0
    value_sum = 0
    for i in range(len(nums)):
        value_sum += nums[i]
        while value_sum >= s:
            min_len = min(min_len, i+1-left)
            value_sum -= nums[left]
            left += 1
    return min_len if min_len != float('inf') else 0

data = ([2, 1, 5, 2, 3, 2], 7)
data2 = ([1, 1, 1, 1, 1, 1, 1], 11)

print(solution(data))
print(solution(data2))

2
0

## 28번: 가장 가까운 합 찾기

In [ ]:
# 투 포인터 문제
data = ([1, 2, 3, 4, 5], 10) #9
data2 = ([2, 3, 5, 8, 12], 11) #10

def solution(data):
    arr, target = data
    left, right = 0, len(arr)-1
    result = target - (arr[left] + arr[right])
    while left < right:
        curr_sum = arr[left] + arr[right]
        result = min(result, target - curr_sum)
        if curr_sum < target:
            left += 1
        elif curr_sum > target:
            right -= 1
        else:
            return curr_sum
    return (target - result)

solution(data)

9

In [ ]:
# 투 포인터의 합과 타겟값이 같은 경우를 명시해주지 않아 오류가 발생했었음.
# 같을 경우 합(curr_sum)값을 바로 return해주는 형태로 바꿔주니 해결됨.

## 29: 단일 숫자 찾기

In [ ]:
# 비트 연산!
data = [4, 1, 2, 1, 2]
data2 = [2, 2, 1]

def solution(data):
    result = 0
    for num in data:
        result ^= num
    return result

print(solution(data))
print(solution(data2))

4
1

## 30: 비트 치환 문제

In [2]:
def solution(data):
    bin_data = str(bin(data))[2:]
    return bin_data.replace("1","A").replace("0","B")

solution(5)

'ABA'

In [6]:
def solution(data):
    bin_data = bin(data)[2:]
    return type(bin(data))

solution(5)
# bin()은 자동으로 문자열로 반환해준다.

str

In [ ]:
# 정규표현식으로 해결해보자.
# => 여러개의 문자를 하나의 문자로 치환할수는 있지만, 여러개로 치환할수는 없다.
# 그러므로 이 코드에선 replace나 re.sub이나 비슷하다...